<div class="admin-page" ng-if="authorized">
  <md-toolbar class="md-whiteframe-z1 admin-page__toolbar">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" ng-click="attemptCancel(adminPageForm)" aria-label="cancel">
        <ng-md-icon icon="close"
          class="create-bucket-page__cancel-icon"
          layout="column"
          layout-align="center center"
        ></ng-md-icon>
      </md-button>
      <span class="create-bucket-page__header-text">Group Settings</span>
    </div>
  </md-toolbar>

  <md-content class="admin-page__content">
    <h4 class="admin-page__group-list-subheader">Edit {{ group.name }}</h4>

    <div class="admin-page__group-options">
      <form name="adminPageForm" class="admin-page__form" ng-submit="updateGroup()">
        <md-input-container class="admin-page__input md-block">
          <label>Name</label>
          <input ng-model="group.name">
        </md-input-container>
        <md-input-container class="admin-page__input md-block">
          <label>Currency</label>
          <md-select ng-model="group.currencyCode">
            <md-option ng-repeat="currency in currencies" value="{{currency.code}}">{{ currency.code + " - " + currency.symbol }}</md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="admin-page__input md-block">
          <label>Group Purpose*</label>
          <textarea ng-model="group.description" md-maxlength="280"></textarea>
          <div class="admin-page__input-help-text">i.e. In this group, members of {{ group.name }} fund projects to improve their work environment and support each other.</div>
          <a class="admin-page__description-markdown-link" href="https://www.loomio.org/markdown" target="_blank">*<span class="admin-page__description-markdown-link-text">formatting help</span></a>
        </md-input-container>
        <div layout="column" layout-align="center space-between" class="layout-align-center-stretch layout-column">
          <md-button class="md-raised md-primary admin-page__form-btn" type="submit">update group</md-button>
        </div>
      </form>
    </div>
  </md-content>
</div>
