<div class="admin-page">

  <md-toolbar class="md-whiteframe-z1 admin-page__toolbar">
    <div class="md-toolbar-tools" layout="column" layout-align="center center">
      hi admin
    </div>
  </md-toolbar>

  <md-content class="admin-page__content">
    <form name='groupForm' class="admin-page__form">
      <md-input-container>
        <label>name</label>
        <input required name="name" type="text" ng-model="group.name">
        <div ng-messages="groupForm.name.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
      <md-button class="admin-page__form-submit-btn" ng-click="createGroup()">create group</md-button>
    </form>

    <md-divider></md-divider>

    <md-subheader class="admin-page__group-list-subheader">Groups</md-subheader>

    <md-list class="admin-page__group-list">

      <md-list-item class="admin-page__group-list-item" ng-repeat="group in groups">
        <div>
          <div class="admin-page__group-info" layout="row" layout-align="start center">
            <div class="admin-page__group-photo"></div>
            <div class="admin-page__group-name">{{ group.name }}</div>
            <div class="admin-page__group-balance">{{ group.balance | currency : group.currency_symbol : 0 }}</div>
          </div>

          <div class="admin-page__group-options">
            <span>
              <md-button class="admin-page__group-update-btn">add photo</md-button>
            </span>

            <span>
              <md-button class="admin-page__group-update-btn">set currency</md-button>
            </span>

            <span >
              <div upload-button 
                class="admin-page__upload-btn-container" 
                url="{{ uploadPathForGroup(group.id) }}" 
                param="csv" 
                accept="text/csv"
                on-success="onCsvUploadSuccess(group.id)"
              >upload members / allocations via csv<br><br>
              </div>
            </span>
          </div>
        </div>
      </md-list-item>
    </md-list>


  </md-content>
</div>