<md-dialog aria-label="create group">
  <md-dialog-content class="sticky-container">
    <form novalidate name='newGroupForm' class="admin-page__form">
      <md-input-container>
        <label>name</label>
        <input required name="name" type="text" ng-model="newGroup.name">
        <div ng-messages="newGroupForm.name.$error" ng-if="newGroupForm.name.$dirty || newGroupForm.$submitted">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
      <div class="md-actions" layout="row">
        <md-button ng-click="closeDialog()">cancel</md-button>
        <md-button ng-click="newGroupForm.$valid && createGroup()">send</md-button>
      </div>
    </form>
  </md-dialog-content>
</md-dialog>
