<md-dialog aria-label="invite group">
  <md-dialog-content class="sticky-container">
    <form name='inviteGroupForm' class="admin-page__form">
      <md-input-container>
        <label>email</label>
        <input required name="email" type="text" ng-model="newGroupAdmin.email">
        <div ng-messages="inviteGroupForm.email.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
      <div class="md-actions" layout="row">
        <md-button ng-click="closeDialog()">cancel</md-button>
        <md-button ng-click="inviteGroup(); inviteGroupForm.$setUntouched()">send</md-button>
      </div>
    </form>
  </md-dialog-content>
</md-dialog>
