<md-dialog class="profile-settings-page__change-password-dialog" aria-label="discard changes dialog">
  <h2 class="profile-settings-page__change-password-dialog-header">Change my password</h2>
  <md-divider></md-divider>
  <md-dialog-content class="sticky-container profile-settings-page__change-password-dialog-content">
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <md-button class="profile-settings-page__change-password-dialog-cancel-btn" ng-click="cancel()">cancel</md-button>
    <md-button class="profile-settings-page__change-password-dialog-save-btn" ng-click="savePassword()">save</md-button>
  </div>
</md-dialog>
