<md-dialog class="profile-settings-page__change-password-dialog" aria-label="discard changes dialog">
  <h2 class="profile-settings-page__change-password-dialog-header">Change my password</h2>

  <md-divider></md-divider>

  <md-dialog-content class="sticky-container profile-settings-page__change-password-dialog-content">
    <form novalidate name="changePasswordForm" class="profile-settings-page__change-password-form">
      <div class="profile-settings-page__input-container">
        <label class="profile-settings-page__input-label" for="current_password">CURRENT PASSWORD</label>
        <input class="profile-settings-page__text-input" type="password" name="current_password" ng-model="formParams.current_password" />
        <div ng-if="errors.currentPassword" class="profile-settings-page__input-error">{{ errors.currentPassword }}</div>
      </div>

      <div class="profile-settings-page__input-container">
        <label class="profile-settings-page__input-label" for="password">NEW PASSWORD</label>
        <input class="profile-settings-page__text-input" ng-minlength="8" type="password" name="password" ng-model="formParams.password" />
        <div ng-if="errors.newPassword" class="profile-settings-page__input-error">{{ errors.newPassword }}</div>
        <div ng-if="changePasswordForm.password.$error.minlength && formSubmitted" class="profile-settings-page__input-error">Password must be longer than 8 characters</div>
      </div>

      <div class="profile-settings-page__input-container">
        <label class="profile-settings-page__input-label" for="confirm_password">REPEAT NEW PASSWORD</label>
        <input class="profile-settings-page__text-input" ng-minlength="8" type="password" name="confirm_password" ng-model="formParams.confirm_password" />
        <div ng-if="errors.newPassword" class="profile-settings-page__input-error">{{ errors.newPassword }}</div>
        <div ng-if="changePasswordForm.confirm_password.$error.minlength && formSubmitted" class="profile-settings-page__input-error">Password must be longer than 8 characters</div>
      </div>
    </form>
  </md-dialog-content>

  <div class="md-actions" layout="row">
    <md-button class="profile-settings-page__change-password-dialog-cancel-btn" ng-click="cancel()">cancel</md-button>
    <md-button class="profile-settings-page__change-password-dialog-save-btn" ng-click="formSubmitted = true; changePasswordForm.$valid && savePassword()">save</md-button>
  </div>
</md-dialog>
