<div class="profile-settings-page">
  <md-toolbar class="profile-settings-page__toolbar">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="back" ng-click="back()">
        <ng-md-icon icon="arrow_back"
          layout="column"
          layout-align="center center"
          class="profile-settings-page__back-icon"
        ></ng-md-icon>
      </md-button>

      <h1>Profile Settings</h1>
    </div>
  </md-toolbar>

  <md-content class="profile-settings-page__content">
    <form novalidate class="profile-settings-page__form" ng-submit="save()">
      <div class="profile-settings-page__input-container">
        <label for="name">NAME</label>
        <input type="text" name="name" ng-model="currentUser.name" />
      </div>

      <div class="profile-settings-page__input-container">
        <label for="name">EMAIL</label>
        <input type="email" name="email" ng-model="currentUser.email" />
      </div>

      <div class="profile-settings-page__input-container">
        <label>PASSWORD</label>
        <a ng-click="openChangePasswordDialog()">CHANGE PASSWORD</a>
      </div>

      <md-button class="md-raised md-primary">save</md-button>
    </form>
  </md-content>
</div>
