// toolbar heading

.profile-settings-page__toolbar {
  background: $cobudget-gunmetal;
  color: white;
}

.profile-settings-page__back-icon {
  @include fontGrande;
  fill: white;
}

// content

.profile-settings-page__content {
  padding: 15px;
}
