body
  padding-top: 50px

.l-padded
  padding: 1em
  h1, h2, h3, h4
    margin-top: 0
.l-bottom-margin
  margin-bottom: 1em
  
.l-half
  width: 50%
  float: left

.logo
  margin-top: -5px
  height: 30px

.l-input-row-text
  display: inline-block
  margin-top: 0.18em

table.l-unstyled-table
  tr
    border: none
  td
    border: none

#flash-messages
  position: fixed
  top: 50px
  left: 0
  width: 100%
  text-align: center
  list-style: none
  margin: 0
  padding: 0
  font-size: 1.2em
  z-index: 1000
  li.success
    padding: 5px 15px
    @extend .alert-success
    

//Bootstrap overrides
.actions
  @extend .clearfix
  margin-bottom: 0
.alert
  padding: 0.5em
  font-weight: bold
  +border-radius(0)
  .close
    position: relative
    top: -1px
    right: 3px

  &:hover
    cursor: pointer
    +opacity(0.9)
