.o-slider-container
  margin-bottom: 1em
.o-slider-range-high
  width: 15%
  text-align: right
.o-slider-range-low
  width: 15%
  text-align: left
.o-slider-selection
  width: 70%
  text-align: center
  font-weight: bold
  font-size: 1.2em
.o-slider-labels
  @extend .clearfix
  div
    display: inline-block
    float: left
.noUi-target
  width: 95%
  margin: 0 auto
  
