.o-half-head
  text-align: center
  font-size: 0.9em
  line-height: 1.2em

.slider
  margin: 0 auto
  width: 96%
//Used for horizontal slider perhaps
.o-slider-container
  margin: 0 0 2.0em 0
  background: #fff

.o-slider-range-high
  width: 15%
  text-align: right

.o-slider-range-low
  width: 15%
  text-align: left

.o-slider-selection
  color: $clr-medium-gray
  margin-top: 0.3em
  font-weight: bold
  display: inline-block

.o-slider-labels
  @extend .clearfix
  color: darken($clr-lightest-gray, 15%)
  div
    display: inline-block
    float: left

.o-action-block
  border-top: 1px solid darken($clr-lightest-gray, 8%)
  padding: 1em 0
  overflow: hidden
  .shadow
    box-shadow: 0 -18px 14px 4px rgba(0, 0, 0, 0.2)
  a
    margin-left: 1em

.o-budget-header
  nav
    margin-top: 1.9em

.o-happened-after-last-sign-in
  border-bottom: solid 0.1em $clr-2
  margin-bottom: 0.5em
  height: 1.1em
  text-align: center
  small
    font-size: 0.5em
    text-transform: uppercase
    color: darken($clr-lightest-gray, 10%)
    padding-top: 0.7em
  .o-up-arrow
    display: inline-block
    width: 0px
    height: 0px
    border-style: solid
    border-width: 0 0.5em 0.5em 0.5em
    border-color: transparent transparent $clr-2 transparent

.o-comment-count
  margin-top: 0.47em

.o-bucket-dollar-info-wrap
  width: 150px
table.o-bucket-dollar-info
  display: inline-block
  width: 100%
  margin-bottom: 0
  margin-top: -0.2em
  th, td
    font-size: 0.6em
    padding: 0
    color: $clr-lightest-gray
    font-family: 'Lato', Arial, Helvetica, san-serif
    text-align: center
    border: none
    padding: 0 0.5em
  td
    font-family: 'Playfair Display', Arial, Helvetica, san-serif
    color: $clr-medium-gray
    font-size: 0.9em
    &.o-dollar-current
      width: 80px
      color: $clr-3
