$clr-orange: #ffb170
$clr-blue: #7fa6ff
$clr-blue-bold: #10263a
$clr-yellow: #FFe770
$clr-yellow-bold: #A64B00
$clr-green-bold: #103e28
$clr-lightest-gray: #ececec
$clr-darkest-gray: #1E1E20

.paint
  &.clr1
    background: $clr-orange
    color: #111

  &.clr2
    background: $clr-yellow
    color: #111

  &.clr3
    background: $clr-blue
    color: #111

  &.clr2-bold
    background: $clr-yellow-bold
    color: #111

  &.clr3-bold
    background: $clr-blue-bold
    color: #fff

  &.clr4-bold
    background: $clr-green-bold
    color: #fff

  &.on-bg
    color: $clr-lightest-gray
