$clr-bg: #ececec
$clr-1: #66ccfe
$clr-2: #4293f7
$clr-3: #5fb632
$clr-4: #e44445
$clr-lightest-gray: #ececec
$clr-medium-gray: #666466
$clr-darkest-gray: #1E1E20

$short-bucket-height: 250px

.paint
  &.clr1
    background: $clr-1
    color: #111

  &.clr2
    background: $clr-2
    color: #111

  &.clr3
    background: $clr-3
    color: #111

  &.clr4
    background: $clr-3
    color: #111

  &.on-bg
    color: $clr-darkest-gray
