@import 'compass/css3'

@import 'layout'
@import 'settings'
@import 'modules/btn'
@import 'modules/labels'
@import 'modules/buckets'

html
  overflow-y: scroll

body
  margin: 0
  background: $clr-darkest-gray

