// TODO: !!!

.backers-list-dialog {
  background: #FAFAFA;
}

.backers-list-dialog__content {
  padding: 30px !important;
}

.backers-list-dialog__header {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.backers-list-dialog__paragraph {
  font-size: 15px;
  line-height: 21px;
}

.backers-list-dialog__backers {
  padding-left: 0;
  list-style: none;
}

.backers-list-dialog__backer {
  font-size: 14px;
}

.backers-list-dialog__btns {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.backers-list-dialog__ok-btn {
  color: #50A3E8;
}
