node_modules
/dist
deploy_package.tar.gz
.tmp
.sass-cache
app/bower_components/
.DS_STORE
.idea
app/scripts/config.coffee
config/environments/development.json
config/environments/staging.json
config/environments/production.json
