node_modules
bower_components
/dist
deploy_package.tar.gz
.tmp
.sass-cache
.DS_STORE
.idea
src/app/config/constants.coffee
config/environments/development.json
config/environments/staging.json
config/environments/production.json
phantomjsdriver.log
