<div class="welcome-page" ng-hide="loading">
  <md-toolbar class="md-primary welcome-page__toolbar">
    <h1 class="md-toolbar-tools welcome-page__heading" layout-align="center">Welcome to Cobudget!</h1>
  </md-toolbar>

  <md-content layout-padding class="welcome-page__content">
    <form novalidate ng-submit="login(formData); formData = {}">
      <div class="welcome-page__form-errors">{{ formError }}</div>

      <md-input-container>
        <label>email</label>
        <input name="email" type="email" ng-model="formData.email">
      </md-input-container>

      <md-input-container>
        <label>password</label>
        <input name="password" type="password" ng-model="formData.password">
      </md-input-container>

      <md-button class="welcome-page__login-btn">Log In</md-button>

    </form>
    <md-button class="welcome-page__forgot-password-btn" ng-click="visitForgotPasswordPage()">Having trouble logging in?</md-button>
  </md-content>
</div>