.welcome-page__toolbar {
  background: $cobudget-gunmetal;
  color: white;
}

.welcome-page__content {
  max-width: 640px;
  margin: 0 auto;
}

.welcome-page__heading {
  @include fontGrande;
}

.welcome-page__login-button {
  margin: 0;
  border: 1px solid $cobudget-gunmetal;
  width: 100%;
  margin-top: 10px;
}