<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Settings">
      <i class="material-icons welcome-page-menu-button-icon">menu</i>
    </md-button>
    <h2>
      <span class="welcome-page-menu-group-title">Enspiral</span>
    </h2>
    <span flex></span>
    <md-button class="md-icon-button welcome-page-menu-button" aria-label="More">
      <i class="material-icons welcome-page-menu-button-icon">more_vert</i>
    </md-button>
  </div>

  <div layout="row" class="welcome-page-group-funds">
    <div flex="50">
      <i class="material-icons welcome-page-group-funds-icon">person</i>
      <span>Meow</span>
    </div>
    <div flex="50">
      <i class="material-icons welcome-page-group-funds-icon">group</i>      
      <span>Meow</span>
    </div>
  </div>
</md-toolbar>

<br>

<h1> HEYYYYY </h1>
<button ng-click="login()">mewomeow</button>