.reset-password-page {
  position: relative;
  height: 100%;
  background: white;
}

.reset-password-page__toolbar {
  background: $cobudget-gunmetal !important;
  color: white;
}

.reset-password-page__content {
  max-width: 640px;
  margin: 0 auto;
}

.reset-password-page__heading {
  @include fontGrande;
}

.reset-password-page__submit-btn {
  margin: 0;
  background: $cob-pink !important;
  width: 100%;
  margin-top: 10px;
}

.reset-password-page md-input-container {
  width: 100%;
}
