.reset-password-page__toolbar {
  background: $cobudget-gunmetal;
  color: white;
}

.reset-password-page__content {
  max-width: 640px;
  margin: 0 auto;
}

.reset-password-page__heading {
  @include fontGrande;
}

.reset-password-page__submit-btn {
  margin: 0;
  border: 1px solid $cobudget-gunmetal;
  width: 100%;
  margin-top: 10px;
}