<div class="reset-password-page" ng-hide="userConfirmingAccount">
  <md-toolbar class="md-primary reset-password-page__toolbar">
    <h1 class="md-toolbar-tools reset-password-page__heading" layout-align="center">Reset Password</h1>
  </md-toolbar>

  <md-content layout-padding class="reset-password-page__content">

    <form novalidate name="form" ng-submit="form.$valid && resetPassword(); form.$setUntouched()">
      <md-input-container>
        <label>password</label>
        <input required minlength="8" name="password" type="password" ng-model="formData.password">
        <div ng-messages="form.password.$error" multiple>
          <div ng-message="required" ng-if="form.password.$dirty || form.$submitted">This is required.</div>
          <div ng-message="minlength" ng-if="form.$submitted">Password must be at least 8 characters long.</div>
        </div>
      </md-input-container>

      <md-input-container>
        <label>confirm password</label>
        <input required name="confirmPassword" type="password" ng-model="formData.confirmPassword">
        <div ng-messages="form.confirmPassword.$error">
          <div ng-message="required" ng-if="form.confirmPassword.$dirty || form.$submitted">This is required.</div>
        </div>
      </md-input-container>

      <md-button class="reset-password-page__submit-btn">submit</md-button>
    </form>
  </md-content>
</div>