<section>
  <article ng-if="buckets.length > 0" ng-repeat="b in buckets" ng-controller="BucketItem" class="" >
    <nav class="m-nav m-nav-full" ng-show="admin == true">
      <ul>
        <li><a class="paint clr3 m-bucket-admin-button" ui-sref="buckets.edit({bucket_id: b.id})"><strong>Edit</strong></a></li>
        <div ng-show="b.state === 'open'">
          <li><a class="paint clr4 m-bucket-admin-button" >
            <strong>Set to: &nbsp;</strong>
            <span ng-click="setBucketState('funded')">Funded</span>
            &nbsp;|&nbsp;
            <span ng-click="setBucketState('cancelled')">Cancelled</span>
          </a></li>
          <li><a ng-show="!b.allocations.length > 0" class="paint clr2" ng-click="delete()">Delete</a></li>
        </div>
      </ul>
    </nav>
    <div class="m-bucket utl-expander m-bucket-wrapper shadow state-{{b.state}}" d-expander>
      <div class="m-bucket-left" style="background-color: {{b.color}};">
        &nbsp;
      </div>
      <div class="m-bucket-right l-padded">
        <div class="m-labels list-inline clearfix">
          <div class="o-slider-selection pull-left">
            <a href="" onaftersave="resetField()" onbeforesave="saveAllocation($data)" editable-number="b.user_allocation_dollars" e-placeholder="Amount in dollars" e-step="any"> 
              ${{b.user_allocation / 100 | number: 2 }}
            </a>
            ({{(b.user_allocation / allocatable) * 100 | number: 2}}%)
          </div>
          <div class="m-bucket-owner">
            {{b.sponsor_name_or_email}}
          </div>
          <div ng-show="b.minimum_cents != null || b.maximum_cents != null" class="m-labels-label">
            <strong>
              <span ng-show="b.minimum_cents!= b.maximum / 100">
                ${{b.minimum_cents / 100 }} - <em class="clr3">${{total_allocated_cents / 100}}</em>  - ${{b.maximum_cents / 100}}
              </span>
              <span ng-show="b.minimum_cents == b.maximum_cents">
                ${{b.minimum_cents / 100}}
              </span>
            </strong>
          </div>
        </div>
        <div class="m-bucket-message" ng-if="b.state === 'funded'">
          <p class="paint lightest-gray">Funded on {{b.funded_at_full}}, with total allocations at: ${{getTotalBucketAllocations(b) / 100 | number: 2}} </p>
        </div>
        <div class="m-bucket-message" ng-if="b.state === 'cancelled'">
          <p class="paint lightest-gray">Cancelled on {{b.cancelled_at_full}}, all allocations refunded.</p>
        </div>
        <div ng-if="b.maximum_cents > b.minimum_cents && allocatable > 0 && b.state != 'funded' && b.state != 'cancelled'" class="o-slider-container">
          <constrained-slider id="slider_{{b.id}}" min="0" allocated="allocated" allocatable="allocatable" bucket-allocation="b.user_allocation" affecting="b.allocations" identifier="{{b.id}}" color="{{b.color}}"></constrained-slider>
        </div>
        <div ng-if="b.allocations.length > 0" class="m-bucket-allocations_wrapper">
          <horiz-graph ng-if='b.allocations.length > 0' bucket-id="{{b.id}}" max="b.maximum_cents" height="50" items="b.allocations">
          </horiz-graph>
        </div>
        
        <h1 class="utl-expander-button">{{b.name}}<div class="utl-expander-indicator">></div><small class="pull-right o-comment-count">{{comment_count}} comments</small></h1>
        <div tab-switcher>
          <nav class="tab-nav">
            <a href='' class="tab-nav-item tab-nav-active" id="target-description">Description</a>
            <a href='' class="tab-nav-item" id="target-comments">Comments</a>
            <a href='' class="tab-nav-item" id="target-allocations">Allocations</a>
          </nav>
          <div class="tabs">
            <div id="tab-description" class="tab tab-active">
              <p class="clr-medium-gray"><small> Proposed {{b.created_at_ago}}</small></p>
              <div btf-markdown="b.description"></div>
            </div>
            <div id="tab-comments" class="tab" class="m-comments" comments container="b" comment-count="comment_count"></div>
            <div id="tab-allocations" class="tab">
              <table class="l-unstyled-table">
                <tr ng-repeat="a in b.allocations" ng-show="a.amount > 0" >
                  <td class="m-allocations-color" style="background-color: {{a.user_color}}">&nbsp;</td>
                  <td class="m-allocations-name">{{a.user_name_or_email}}</td>
                  <td class="m-allocations-amount">
                    ${{a.amount / 100 | number:2}}
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div><!--End tab switcher-->
      </div>
    </div>
  </article>
</section>
