<td width="15%">
  <div class="m-user-color-pick">
    <div colorpicker="hex" ng-model="user.bg_color" style="background-color: {{user.bg_color}}" class="m-user-color m-user-color-bg"></div>
  </div>
  <div class="m-user-color-pick">
    <div colorpicker="hex" ng-model="user.fg_color" style="background-color: {{user.fg_color}}" class="m-user-color m-user-color-bg"></div>
  </div>
</td>
<td>
  <div ng-show="!ux.edit" class="j-inline-value">{{user.name}}</div>
  <div ng-show="ux.edit" class="field">
    <input ng-model="user.name" type="text" name="name" ng-enter="saveUser()" placeholder="Name"></input>
  </div>
</td>
<td>
  <div ng-show="!ux.edit" class="j-inline-value">{{user.email}}</div>
  <div ng-show="ux.edit" class="field">
    <input ng-model="user.email" type="email" name="email" ng-enter="saveUser()" placeholder="Email"></input>
  </div>
</td>
<td width="15%" class="text-right icon-actions clearfix">
  <a ng-show="ux.edit" ng-click="ux.edit = false" class="icon-cancel-circle clr4"></a>
  <a ng-show="ux.edit" ng-click="saveUser()" class="icon-checkmark-circle clr3"></a>
  <a ng-show="!ux.edit" class="icon-remove clr4"></a>
  <a ng-show="!ux.edit" ng-click="ux.edit = true" class="icon-pencil clr1"></a>
</td>
