<p>
  The next step to setting up your new account is to choose a name and password.
</p>

<p>
  (You’ll need it to log in to your Cobudget groups)
</p>

<p>
  We're glad you're using Cobudget!
</p>

<p>
  <%= link_to "Set up my account", "#{root_url}#/confirm_account?confirmation_token=#{@user.confirmation_token}&email=#{@user.email}"%>.
</p>
