<p>Hi there!</p>

<p><%= @inviter.name %> has invited you to collaboratively budget with everyone else at <%= @group.name %>.</p>

<p>To contribute to this round, visit <%= link_to 'this link', "#{root_url}#/groups/#{@group.id}/rounds/#{@round.id}" %>