<p>
  You have been invited by <%= @inviter.name %> to create a new group on Cobudget.
</p>

<p>
  Cobudget helps crowds with purpose create more together.
</p>

<p>
  <%= link_to "get started", @redirect_url %>.
</p>
