<p>You have <%= @allocation_amount %> to spend in the current funding round for <%= @group.name %>. Check out the proposed projects, and decide what you want to fund.</p>

<p>Cobudget is a collaborative process where groups decide how to spend money together. As a funder, it's up to you to chose the best use of your part of the group's budget, by funding the proposed projects you want to support.</p>

<p>Proposed Projects for this Round:</p>
<ul>
  <% @round.buckets.each do |bucket| %>
    <li><%= bucket.name %></li>
  <% end %>  
</ul>

<p>Visit <%= link_to 'this link', "#{root_url}#/groups/#{@group.id}/rounds/#{@round.id}" %> to see more project details, and make your funding decisions.</p>