<p>
  Congratulations! Members of <%= @group.name %> have funded '<%= @project.name %>' to its target of <%= @project.formatted_target %>. 
</p>

<p>
  Keep your funders up to date by posting updates on the project as work progresses.
</p>

<p>
  <%= link_to 'Update Project', "#{root_url}#/projects/#{@project.id}/edit" %>
</p>