<p>
  A new project in <%= @group.name %> is requesting funding on Cobudget!
</p>

<p> - - - </p>

<p>
  <strong><%= @project.name %></strong>
</p>

<p>
  "<%= @project.description %>"
</p>

<p> - - - </p>

<p>
  <%= link_to 'view', "#{root_url}#/projects/#{@project.id}" %>
</p>