<body style="font-family: Arial; font-size: 12px">
  <h2 style="font-weight: normal">Here's what you missed...</h2>

  <p>
    Activity since <%= @last_fetched_at %> (when you last logged in)
  </p>

  <ul style="list-style: none">
    <% @user.active_groups.each do |group| %>
      <li class="group-activity">
        <% activity = @recent_activity.for_group(group) %>
        <h3 style="font-weight: normal">In <%= group.name %></h3>

        <% if activity[:contributions_to_live_buckets_user_authored] %>
          <%= render partial: "user_mailer/recent_activity_partials/contributions_to_live_buckets_user_authored", locals: {contributions_grouped_by_bucket: activity[:contributions_to_live_buckets_user_authored].group_by { |c| c.bucket }, user: @user} %>
        <% end %>
      </li>
    <% end %>
  </ul>

</body>
