<p>Hi there!</p>

<% if @user.has_set_up_account? %>
  
  <p>Someone has requested a link to change your password. You can do this through the link below.</p>

  <p><%= link_to 'Change my password', "#{root_url}#/reset_password?reset_password_token=#{@user.reset_password_token}".html_safe %></p>

  <p>If you didn't request this, please ignore this email.</p>

  <p>Your password won't change until you access the link above and create a new one.</p>

<% else %>
  
  <p>Someone has requested a link to change your password, but your account hasn't been set up yet!</p>

  <p>You can visit <%= link_to 'this link', "#{root_url}#/confirm_account?confirmation_token=#{@user.confirmation_token}".html_safe %> to set up your account.</p>

  <p>If you didn't request this, please ignore this email.</p>

<% end %>
