<div class="group-page__stats-content">

  <md-card class="group-page__stats-card">
    <md-list class="group-page__stats-list">

      <div layout="row" layout-align="start center" class="group-page__stats-subheader-container">
        <h2 class="group-page__subheader-title">Group Totals</h2>
      </div>

      <md-divider class="group-page__stats-divider"></md-divider>

      <md-list-item>
        <ng-md-icon icon="payment"
          class="group-page__stats-list-icon"
          layout="column"
          layout-align="center center"
        ></ng-md-icon>
        Total
        <span class="md-secondary"><b>{{group.balance + group.groupAccountBalance + group.readyToPayTotal + group.totalInUnfunded | currency : group.currencySymbol : 2}}</b></span>
      </md-list-item>

      <md-divider class="group-page__stats-divider group-page__stats-divider-total"></md-divider>

      <md-list-item class="group-page__stats-total-sub">
        <ng-md-icon icon="person"
        class="group-page__stats-list-icon"
        layout="column"
        layout-align="center center"
        ></ng-md-icon>
        In members accounts
        <span class="md-secondary">{{group.balance | currency : group.currencySymbol : 2}}</span>
      </md-list-item>
      <md-list-item class="group-page__stats-total-sub" ng-if="group.groupAccountBalance">
        <ng-md-icon icon="group"
        class="group-page__stats-list-icon"
        layout="column"
        layout-align="center center"
        ></ng-md-icon>
        In group account
        <span class="md-secondary">{{group.groupAccountBalance | currency : group.currencySymbol : 2}}</span>
      </md-list-item>
      <md-list-item class="group-page__stats-total-sub">
        <img src="./img/bucket_empty.svg" alt="bucket" class="group-page__stats-list-icon"/>
        In funding now buckets
        <span class="md-secondary">{{group.totalInUnfunded | currency : group.currencySymbol : 2}}</span>
      </md-list-item>
      <md-list-item class="group-page__stats-total-sub">
        <img src="./img/bucket_full.svg" alt="bucket" class="group-page__stats-list-icon"/>
        In funded buckets
        <span class="md-secondary">{{group.readyToPayTotal | currency : group.currencySymbol : 2}}</span>
      </md-list-item>
    </md-list>
  </md-card>

  <md-card class="group-page__transaction-history-card group-page__stats-card">

    <div layout="row" layout-align="start center" class="group-page__stats-subheader-container">
      <h2 class="group-page__subheader-title">Transaction History</h2>
      <span flex></span>
      <div class="group-page__stats-download-transactions-btn" layout="row" layout-align="center center" ng-csv="allTransactions" csv-column-order="transactionColumns" csv-header="transactionHeaders" filename="{{group.name}}-transaction-data-{{Date.now() | exactDateNoSpaces}}.csv">
        <div class="group-page__stats-download-transactions-btn-label">Download Transactions as CSV</div>
      </div>
    </div>

    <md-divider class="group-page__transaction-history-subheader-divider"></md-divider>

    <md-toolbar class="md-table-toolbar md-default">
      <div class="md-toolbar-tools">
        <ng-md-icon class="group-page__transaction-history-search-icon" icon="search"></ng-md-icon>
        <form flex>
          <input class="group-page__transaction-history-search-input" type="text" ng-model="transactionQuery" placeholder="search" ng-disabled="!transactionsLoaded">
        </form>
      </div>
    </md-toolbar>

    <md-table-container>
      <table md-table multiple ng-model="filteredTransactions">
        <thead md-head md-order="initialOrderTransactions">
          <tr md-row>
            <th md-column md-column-filter md-order-by="created_at">Date</th>
            <th md-column md-column-filter md-order-by="account_from">Account from</th>
            <th md-column md-order-by="account_to">Account to</th>
            <th md-column md-order-by="amount" md-numeric>Amount ({{group.currencySymbol}})</th>
          </tr>
        </thead>
        <tbody md-body>
          <tr ng-if="!transactionsLoaded" md-row>
            <td md-cell>Loading data...</td>
            <td md-cell></td>
            <td md-cell></td>
            <td md-cell></td>
          </tr>
          <tr ng-if="filteredTransactions.length == 0" md-row>
            <td md-cell>No transaction history</td>
            <td md-cell></td>
            <td md-cell></td>
            <td md-cell></td>
          </tr>
          <tr ng-if="filteredTransactions.length > 0 && transactionsLoaded" md-row ng-repeat="transaction in filteredTransactions | orderBy: initialOrderTransactions | limitTo: transactionLimit: (startingPageTransactions - 1) * transactionLimit">
            <td md-cell>{{transaction.created_at | exactDateShort}}</td>
            <td md-cell ng-if="transaction.from_link != ''"><a href="/#/{{transaction.from_link}}" target="_blank">{{transaction.account_from}}</a></td>
            <td md-cell ng-if="transaction.from_link == ''">{{transaction.account_from}}</td>
            <td md-cell>
              <ng-md-icon ng-if="transaction.type == 'allocation'" class="group-page__transaction-history-list-person-icon" icon="person" size="16"></ng-md-icon>
              <img ng-if="transaction.type == 'contribution'" src="./img/bucket_empty.svg" alt="bucket" class="group-page__transaction-history-list-bucket-icon"/>
              <a href="/#/{{transaction.to_link}}" target="_blank">
              {{transaction.account_to}}
              </a>
            </td>
            <td md-cell>{{transaction.amount | currency : group.currencySymbol : 2}}</td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="transactionLimit" md-page="startingPageTransactions" md-page-select md-boundary-links md-total="{{filteredTransactions.length}}"></md-table-pagination>
  </md-card>

  <md-card class="group-page__bucket-history-card">

    <div layout="row" layout-align="start center" class="group-page__stats-subheader-container">
      <h2 class="group-page__subheader-title">Funded Buckets</h2>
      <span flex></span>
      <div class="group-page__stats-download-transactions-btn" layout="row" layout-align="center center" ng-csv="fundedCompletedBuckets" csv-column-order="bucketColumns" csv-header="bucketHeaders" filename="{{group.name}}-bucket-data-{{Date.now() | exactDateNoSpaces}}.csv">
        <div class="group-page__stats-download-buckets-btn-label">Download Funded Buckets as CSV</div>
      </div>
    </div>

    <md-divider class="group-page__bucket-history-subheader-divider"></md-divider>

    <md-toolbar class="md-table-toolbar md-default">
      <div class="md-toolbar-tools">
        <ng-md-icon class="group-page__bucket-history-search-icon" icon="search"></ng-md-icon>
        <form flex>
          <input class="group-page__bucket-history-search-input" type="text" ng-model="bucketQuery" placeholder="search">
        </form>
      </div>
    </md-toolbar>

    <md-table-container>
      <table md-table multiple ng-model="filteredBuckets">
        <thead md-head md-order="initialOrderBuckets">
          <tr md-row>
            <th md-column md-order-by="fundedAt">Funded At</th>
            <th md-column md-column-filter md-order-by="authorName">Author</th>
            <th md-column md-column-filter md-order-by="name">Name</th>
            <th md-column md-order-by="totalContributions" md-numeric>Total Contribution ({{group.currencySymbol}})</th>
          </tr>
        </thead>
        <tbody md-body>
          <tr ng-if="filteredBuckets.length == 0" md-row>
            <td md-cell>No bucket history</td>
            <td md-cell></td>
            <td md-cell></td>
            <td md-cell></td>
          </tr>
          <tr ng-if="filteredBuckets.length > 0 && bucketsLoaded" md-row ng-repeat="bucket in filteredBuckets | orderBy: initialOrderBuckets | limitTo: bucketLimit: (startingPageBuckets - 1) * bucketLimit">
            <td md-cell>{{bucket.fundedAt | exactDateShort}}</td>
            <td md-cell>{{bucket.authorName}}</td>
            <td md-cell><a href="/#/buckets/{{bucket.id}}">{{bucket.name}}</a></td>
            <td md-cell>{{bucket.totalContributions | currency : group.currencySymbol : 2}}</td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="bucketLimit" md-page="startingPageBuckets" md-page-select md-boundary-links md-total="{{filteredBuckets.length}}"></md-table-pagination>
  </md-card>
</div>
