<div class="group-page__funders-content">
  <md-list class="group-page__funders">
    <md-list-item ng-repeat="funderMembership in group.memberships()">
      <div layout="row" flex class="group-page__funder-container">
        <div class="group-page__funder-name-container" layout="row" layout-align="start center" flex>
          <div class="group-page__funder-avatar" layout="column" layout-align="center center">
            <div>{{ funderMembership.member().name[0] | uppercase }}</div>
          </div>
          <span class="group-page__funder-name">{{ funderMembership.member().name }}</span>
          <span class="group-page__funder-admin-label" ng-if="funderMembership.isAdmin">(admin)</span>
        </div>

        <div layout="column" layout-align="center end" flex="20">
          <span class="group-page__funder-balance">{{ funderMembership.balance() | currency : group.currencySymbol : 0 }}</span>
        </div>

        <md-menu md-offset="0 -7" class="group-page__funder-more-menu" ng-if="membership.isAdmin">
          <md-button class="md-icon-button group-page__funder-more-button" aria-label="More" ng-click="$mdOpenMenu($event)">
            <ng-md-icon
              icon="more_vert"
              layout="column"
              layout-align="center center"
              class="group-page__funder-more-button-icon"
            ></ng-md-icon>
          </md-button>

          <md-menu-content width="3">
            <md-menu-item>
              <md-button ng-click="openManageFundsDialog(funderMembership)">
                <div layout="row" layout-align="start center">
                  <div layout="column" layout-align="center center" class="group-page__manage-funds-icon">
                    <div>{{ group.currencySymbol }}</div>
                  </div>
                  <span md-menu-align-target class="group-page__funder-more-menu-item-label">Manage Funds</span>
                </div>
              </md-button>
            </md-menu-item>

            <md-menu-item>
              <md-button ng-click="toggleMemberAdmin(funderMembership)">
                <div layout="row" layout-align="start center">
                  <ng-md-icon
                    icon="portrait"
                    layout="column"
                    layout-align="center center"
                    class="group-page__funder-more-menu-item-icon"
                  ></ng-md-icon>
                  <span md-menu-align-target class="group-page__funder-more-menu-item-label">{{ funderMembership.isAdmin ? "Undo" : "Make" }} Admin</span>
                </div>
              </md-button>
            </md-menu-item>

            <md-menu-item ng-if="funderMembership.id != membership.id">
              <md-button ng-click="removeMembership(funderMembership)">
                <div layout="row" layout-align="start center">
                  <ng-md-icon
                    icon="cancel"
                    layout="column"
                    layout-align="center center"
                    class="group-page__funder-more-menu-item-icon"
                  ></ng-md-icon>
                  <span md-menu-align-target class="group-page__funder-more-menu-item-label">Remove User</span>
                </div>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </md-list-item>
  </md-list>
</div>
