// funders

.group-page__funders {
  padding-left: 16px;
  padding-right: 16px;
}

.group-page__funder-avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgba(0,0,0,0.27);
  color: white;
  font-size: 16px;
  margin-right: 10px;
}

.group-page__funder-name {
  @include truncatedText;
  @include fontMedLarge;  
}

.group-page__funder-balance {
  @include fontLarge;
  color: $cobudget-green;
}

.group-page__funder-admin-label {
  color: $grey-on-white;
  font-size: 12px;
  margin-left: 5px;
  top: 1px;
  position: relative;
}

.group-page__funder-more-menu {
  padding: 0;
}

.group-page__funder-more-button {
  width: 15px !important;  
  margin-left: 14px !important;
  cursor: pointer;
}

.group-page__funder-more-button-icon {
  width: 15px;  
}

// remove membership modal

.group-page__remove-membership-dialog-header {
  text-align: center;
  padding: 15px !important;
}

.group-page__remove-membership-dialog-header-text {
  margin-top: 5px;
  color: $cobudget-red;
  font-weight: 500;
}

.group-page__remove-membership-dialog-warning-icon {
  fill: $cobudget-red;
}

.group-page__remove-membership-dialog-list-header {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: $grey-on-white;
}

.group-page__remove-membership-dialog-list-container {
  padding: 15px !important;
}

.group-page__remove-membership-dialog-list {
  padding-left: 0;
  font-size: 12px;
  list-style: none;
}

.group-page__remove-membership-dialog-list-item {
  margin-bottom: 5px;
}

.group-page__remove-membership-dialog-warning-text {
  @include fontMedium;
  padding-left: 5px;
  padding-top: 1px;
  color: $grey-on-white;
}

.group-page__remove-membership-dialog-checkbox-icon {
  fill: $grey-on-white;
}

.group-page__remove-membership-dialog-remove-btn {
  background: $cobudget-red !important;
  color: white !important;
}

.group-page__remove-membership-dialog-cancel-btn {
  color: $grey-on-white !important;
  background: transparent !important;
}
