<md-dialog aria-label="manage funds dialog">
  <md-dialog-content class="sticky-container">
    <div class="group-page__manage-funds-dialog-header" layout="column" layout-align="space-between center">
      <div class="group-page__manage-funds-dialog-header-avatar" layout="column" layout-align="center center">
        <div>A</div>
      </div>

      <div class="group-page__manage-funds-dialog-header-title">
        Manage Alanna Krause's funds
      </div>
    </div>

    <md-divider></md-divider>

  </md-dialog-content>

  <div class="md-actions" layout="row">
    <md-button class="md-raised group-page__remove-membership-dialog-remove-btn" ng-click="proceed()">remove</md-button>
    <md-button class="group-page__remove-membership-dialog-cancel-btn" ng-click="cancel()">cancel</md-button>
  </div>
</md-dialog>
