<md-dialog class="group-page__manage-funds-dialog" aria-label="manage funds dialog">
  <md-dialog-content class="sticky-container">
    <div class="group-page__manage-funds-dialog-header" layout="column" layout-align="space-between center">
      <div class="group-page__manage-funds-dialog-header-avatar" layout="column" layout-align="center center">
        <div>A</div>
      </div>

      <div class="group-page__manage-funds-dialog-header-title">
        Manage Alanna Krause's funds
      </div>
    </div>

    <md-divider></md-divider>

    <div class="group-page__manage-funds-options" layout="row" layout-align="space-around center">
      <div ng-class="mode == 'add' ? 'group-page__manage-funds-option-container-add' : 'group-page__manage-funds-option-container-disabled'"
        layout="column"
        layout-align="space-around center"
        ng-click="setMode('add')"
      >
        <div class="group-page__manage-funds-option-icon-container">
          <ng-md-icon icon="add" class="group-page__manage-funds-option-icon"></ng-md-icon>
        </div>
        <div class="group-page__manage-funds-option-label">Add</div>
      </div>

      <div ng-class="mode == 'change' ? 'group-page__manage-funds-option-container-change' : 'group-page__manage-funds-option-container-disabled'"
        layout="column"
        layout-align="space-around center"
        ng-click="setMode('change')"
      >
        <div class="group-page__manage-funds-option-icon-container">
          <ng-md-icon icon="edit" class="group-page__manage-funds-option-icon group-page__manage-funds-change-icon"></ng-md-icon>
        </div>
        <div class="group-page__manage-funds-option-label">Change</div>
      </div>
    </div>

    <div class="group-page__manage-funds-calculation">
      <div ng-if="mode == 'add'">
        <span class="group-page__manage-funds-current-amount">$350</span>
        <span class="group-page__manage-funds-operator">+</span>
        <md-input-container class="group-page__manage-funds-input-container" md-no-float>
          <input aria-label="amount" class="group-page__manage-funds-input" type="number" step="any" min="0" pattern="[0-9]*" ng-model="amount">
        </md-input-container>
        <span class="group-page__manage-funds-operator">=</span>
        <span class="group-page__manage-funds-total-amount">$350</span>
        <span class="group-page__manage-funds-total-label">total</span>
      </div>

      <div ng-if="mode == 'change'">
        <span class="group-page__manage-funds-filler-text">Change from</span>
        <span class="group-page__manage-funds-current-amount">$350</span>
        <span class="group-page__manage-funds-filler-text">to</span>
        <md-input-container class="group-page__manage-funds-input-container" md-no-float>
          <input aria-label="amount" class="group-page__manage-funds-input" type="number" step="any" min="0" pattern="[0-9]*" ng-model="amount">
        </md-input-container>
        <span class="group-page__manage-funds-filler-text">total</span>
      </div>
    </div>
  </md-dialog-content>

  <div class="md-actions" layout="row">
    <md-button class="group-page__manage-funds-dialog-cancel-btn" ng-click="cancel()">cancel</md-button>
  <md-button class="md-raised md-primary group-page__manage-funds-dialog-done-btn" ng-click="proceed()">done</md-button>
  </div>
</md-dialog>
