md-toast {
  position: fixed;
}

md-toast > span.ng-binding {
  @include fontTiny;
}

md-toast > button.md-button {
  color: $cobudget-jade;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
