html, body, .cobudget-app {
  position: relative;
  height: 100%;
  background: #EAEAEA;
}

md-toast {
  position: fixed;
}

md-toast > span.ng-binding {
  @include fontTiny;
}

md-toast > button.md-button {
  color: $cobudget-jade;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield !important;
}

md-dialog-content {
  word-wrap: break-word;
}
