/* let's only use semantic names for our colours */
$grey-on-grey:  #666;
$primary-text-color: #262626;
$border-color: #dcdcdc;
$list-hover-color: #E0E0E0;
$list-hover-transparent-color: rgba(224,224,224,0.8);
$background-color: #ebebeb;
$card-background-color: #fff;
$highlight-red: #D0021B;

$item-highlight-color: #FFFFE8;
$progress-bar-color: #176EE3;
$loomio-orange: #F6A82B;

$main-max-width: 640px;
$large-max-width: 960px;
$navbar-height: 44px;

// stuff used by cobudget:
$cobudget-blue: #6064FF;
$cobudget-happy-blue: #00B8D4;
$cobudget-navy: #3A11B4;
$cobudget-cyan: #00BCD7;
$cobudget-light-blue: #3E88E8;

$cobudget-grey: #BDBDBD;
$cobudget-orange: #FF8600;
$cobudget-light-grey: #FAFAFA;
$cobudget-green: #00DD28;
$cobudget-lime: #00C504;
$cobudget-jade: #69D2C7;
$cobudget-gold: gold;
$cobudget-whitesmoke: #F6F6F6;
$cobudget-red: #FF0045;
$grey-on-white: #767676;
$cobudget-gunmetal: #243239;
$cobudget-dark-grey: #454545;
$cobudget-pink: #FF85B7;


$small-height: 36px;
$medium-height: 48px;
$large-height: 60px;

@mixin fontTiny {
  font-size: 12px;
  line-height: 14px;
}

@mixin fontSmall {
  font-size: 13px;
  line-height: 15px;
}

@mixin fontMedium {
  font-size: 14px;
  line-height: 20px;
}

@mixin fontMedLarge {
  font-size: 16px;
  line-height: 22px;
}

@mixin fontLarge {
  font-size: 20px;
  line-height: 24px;
}

@mixin fontGrande {
  font-size: 24px;
  line-height: 27px;
}

@mixin truncatedText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin wordWrap {
  word-break:     break-word;
  -webkit-hyphens: auto;
  -moz-hyphens:    auto;
  hyphens:         auto;
}

@mixin markdown {
  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
  }
}
