// toolbar heading

.group-page__toolbar {
  background: $cobudget-blue;
  position: fixed;
}

.group-page__menu-bar {
  height: $large-height;
}

.group-page__menu-icon {
  @include fontGrande;
}

.group-page__group-name {
  @include fontLarge;
}

// toolbar funds 

.group-page__funds-bar {
  height: $medium-height;
}

.group-page__funds-overview-header {
  @include fontTiny;
}

.group-page__funds-icon {
  @include fontGrande;
  margin-right: 10px;
}

.group-page__funds-overview-amount {
  @include fontGrande;
}

.group-page__tabs {
  @include fontMedium;
  background: $cobudget-blue;
  height: $medium-height;
}

.group-page__tabs md-tabs-wrapper {
  background: $cobudget-blue;
}

.group-page__tab-label {
  @include fontMedium;
  color: white;
}

.group-page md-ink-bar {
  background: white;
}

// content

.group-page__content {
  padding-bottom: 10px;
  top: calc(#{$medium-height} * 2 + #{$large-height});
}

.group-page__content-toasty {
  padding-bottom: $large-height;
}


.group-page__subheader-title {
  color: $cobudget-blue;
}

.group-page__help-icon {
  color: $cobudget-grey;
}

// projects

.group-page__project-container {
  padding: 3px 0;
}

.group-page__project-title {
  @include fontMedLarge;
}

.group-page__project-funding {
  @include fontSmall;
  color: $grey-on-white;
}

.group-page__progress-bar {
  margin-bottom: 10px;
}

.group-page__progress-bar .md-container {
  background: $cobudget-grey;
}

.group-page__progress-bar .md-bar {
  background: $cobudget-orange;
}

// drafts

.group-page__drafts-heading {
  color: $cobudget-blue;
}

.group-page__draft-title {
  @include fontMedLarge;
}

.group-page__draft-author {
  @include fontSmall;
  color: $grey-on-white;
}

// fixed-position create project FAB

.group-page__footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.group-page__create-project-fab {
  position: fixed;
  right: 10px;
  bottom: 15px;
}

.group-page__create-project-fab-toasty {
  bottom: calc(#{$large-height} + 15px);
}

.group-page__toast {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $large-height;
  background: rgba(0,0,0,0.8);
}

.group-page__toast-text {
  @include fontSmall;
  color: white;
  padding-left: 20px;  
}

.group-page__toast-button {
  margin: 0;
  padding: 0;
  width: 60px;
  color: $cobudget-jade;
}

// funders

.group-page__funder-name {
  @include fontMedLarge;  
  padding-left: 16px;
}

.group-page__funder-balance {
  @include fontLarge;
  color: $cobudget-green;
}