<div class="group-page" ng-if="authorized">

  <sidenav></sidenav>
  
  <group-page-toolbar></group-page-toolbar>

  <md-content class="group-page__content">
    <div class="group-page__projects-content" ng-if="tabSelected === 0">
      <md-list class="group-page__live-projects">
        <div layout="row" layout-align="center center">
          <md-subheader class="group-page__subheader-title">FUNDING NOW</md-subheader>
        </div>

        <md-divider></md-divider>

        <md-list-item ng-repeat="liveBucket in group.liveBuckets()">
          <div layout="column" flex class="group-page__live-project-container" ng-click="showBucket(liveBucket.id)">
            <span class="group-page__live-project-title">{{ liveBucket.name }}</span>

            <div layout="row" layout-align="space-between center">
              <span class="group-page__live-project-funding">{{ liveBucket.amountRemaining() | currency : group.currencySymbol : 0  }} to go</span>
              
              <span ng-show="liveBucket.amountContributedByUser(currentUser) > 0" class="group-page__live-project-personal-contribution">
                You gave {{ liveBucket.amountContributedByUser(currentUser) | currency : group.currencySymbol : 0 }}               
              </span>
            </div>

            <div class="group-page__progress-bar-container">
              <div class="group-page__progress-bar-primary" style="width: {{ liveBucket.percentContributedByOthers(currentUser) }}%"></div>
              <div class="group-page__progress-bar-secondary" style="width: {{ liveBucket.percentContributedByUser(currentUser) + liveBucket.percentContributedByOthers(currentUser) }}%"></div>
            </div>

          </div>
        </md-list-item>
      </md-list>

      <md-list class="group-page__drafts">
        <div layout="row" layout-align="center center">
          <md-subheader class="group-page__subheader-title">IDEAS</md-subheader>
        </div>

        <md-divider></md-divider>

        <md-list-item ng-repeat="draftBucket in group.draftBuckets()" ng-click="showBucket(draftBucket.id)">
          <div layout="column" flex class="group-page__draft-container">
            <span class="group-page__draft-title">{{ draftBucket.name }}</span>
            <span class="group-page__draft-author">created by {{ draftBucket.author().name }} {{ draftBucket.createdAt | timeFromNowInWords }} ago</span>
            
            <div class="group-page__comment-count-container">
              <ng-md-icon 
                icon="messenger" 
                layout="column" 
                layout-align="center center" 
                ng-class="draftBucket.hasComments() ? 'group-page__comment-icon-active' : 'group-page__comment-icon-inactive'"
              ></ng-md-icon>
              <div class="group-page__comment-count" ng-if="draftBucket.hasComments()">
                {{ draftBucket.numOfComments }}
              </div>
            </div>


          </div>
        </md-list-item>
      </md-list>   

      <md-list class="group-page__funded-projects">
        <div layout="row" layout-align="center center">
          <md-subheader class="group-page__subheader-title">FUNDED</md-subheader>
        </div>

        <md-divider></md-divider>

        <md-list-item ng-repeat="fundedBucket in group.fundedBuckets()" ng-click="showBucket(fundedBucket.id)">
          <div layout="column" flex class="group-page__funded-project-container">
            <span class="group-page__funded-project-title">{{ fundedBucket.name }}</span>
            <span class="group-page__funded-project-author">created by {{ fundedBucket.author().name }} {{ fundedBucket.createdAt | timeFromNowInWords }} ago</span>
          </div>
        </md-list-item>
      </md-list>
    </div>

    <div class="group-page__funders-content" ng-if="tabSelected === 1">
      <md-list class="group-page__funders">
        <md-list-item ng-repeat="funderMembership in group.memberships()">
          <div layout="row" flex class="group-page__funder-container">
            <div class="group-page__funder-name-container" layout="row" layout-align="start center" flex>
              <div class="group-page__funder-avatar" layout="column" layout-align="center center">
                <div>{{ funderMembership.member().name[0] | uppercase }}</div>
              </div>
              <span class="group-page__funder-name">{{ funderMembership.member().name }}</span>
              <span class="group-page__funder-admin-label" ng-if="funderMembership.isAdmin">(admin)</span>
            </div>

            <div layout="column" layout-align="center end" flex="20">
              <span class="group-page__funder-balance">{{ funderMembership.balance() | currency : group.currencySymbol : 0 }}</span>
            </div>

            <md-menu md-offset="0 -7" class="group-page__funder-more-menu" ng-if="membership.isAdmin">
              <md-button class="md-icon-button group-page__funder-more-button" aria-label="More" ng-click="$mdOpenMenu($event)">
                <ng-md-icon 
                  icon="more_vert" 
                  layout="column" 
                  layout-align="center center" 
                  class="group-page__funder-more-button-icon"
                ></ng-md-icon>
              </md-button>
            
              <md-menu-content width="2">
                <md-menu-item ng-if="!funderMembership.isAdmin">
                  <md-button ng-click="makeMemberAdmin(funderMembership)">
                    <span md-menu-align-target>Make administrator</span>
                  </md-button>
                </md-menu-item>

                <md-menu-item ng-if="funderMembership.isAdmin">
                  <md-button ng-click="undoMemberAdmin(funderMembership)">
                    <span md-menu-align-target>Undo administrator</span>
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </div>
        </md-list-item>
      </md-list>
    </div>
  </md-content>
</div>