// toolbar heading

.group-page__toolbar {
  position: relative;
  background: linear-gradient(0deg, rgba(36,50,57,1), rgba(36,50,57,0.92));
  color: white;
  margin-bottom: 20px;
}

.group-page__menu-bar {
  height: $large-height;
  margin-bottom: 10px;
}

.group-page__menu-icon {
  @include fontGrande;
  fill: white;
}

.group-page__group-name {
  @include fontLarge;
  @include truncatedText;
}

// sidenav

.group-page__sidenav {
  width: 256px;
  min-width: 256px;
  position: fixed;
}

.group-page .md-sidenav-backdrop {
  position: fixed;
}

.group-page__sidenav-toolbar {
  background: $cobudget-happy-blue;
  color: white;
}

.group-page__user-avatar-container {
  padding-left: 15px;
  padding-top: 15px;
}

.group-page__user-avatar {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: white;
  color: black;
  font-size: 40px;
  margin-bottom: 15px;
}

.group-page__user-email {
  @include fontMedium;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
}

.group-page__sidenav-content {
  padding-top: 20px;
}

.group-page__sidenav-option {
  margin-bottom: 20px;
  padding-left: 15px;
}

.group-page__sidenav-option-icon {
  fill: $grey-on-white;
}

.group-page__sidenav-option-subheader {
  margin-left: 30px;
  font-size: 14px;
  font-weight: 500;
}

.group-page__sidenav-expanded-content {
  
}

// toolbar funds 

.group-page__funds-bar {
  height: $medium-height;
  margin-bottom: 20px;
}

.group-page__funds-overview-container {
  margin-left: 35px;
}

@media (min-width: 330px) {
  .group-page__funds-overview-container {
    margin-left: 41px;
  }  
}

.group-page__funds-overview-header {
  @include fontTiny;
  margin-left: 5px;
  margin-bottom: 5px;
}

.group-page__personal-funds-container {
  margin-right: 20px;
}

.group-page__funds-icon {
  @include fontGrande;
  margin-right: 10px;
  fill: white;
}

.group-page__funds-overview-amount {
  @include fontGrande;
}

.group-page__tabs {
  @include fontMedium;
  background: rgba(0,0,0,0);
  height: $medium-height;
}

.group-page__tabs md-tabs-wrapper {
  background: rgba(0,0,0,0);
}

.group-page__tab-label {
  @include fontMedium;
  color: white;
  text-transform: none;
}

.group-page md-ink-bar {
  background: $cobudget-red;
}

// create-bucket-fab

.group-page__create-bucket-fab {
  position: absolute;
  right: 10px;
  bottom: -30px;
}

.group-page__create-bucket-fab-icon {
  fill: white;  
}

// content

.group-page__content {
  max-width: 640px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.group-page__subheader-title {
  color: $grey-on-white;
}

.group-page__help-icon {
  color: $cobudget-grey;
}

.group-page md-divider {
  margin-top: 5px;
  margin-bottom: 5px;
}

// live projects

.group-page__live-project-container {
  padding: 3px 0;
}

.group-page__live-project-title {
  @include fontMedLarge;
  @include truncatedText;
}

.group-page__live-project-funding {
  @include fontSmall;
  color: $grey-on-white;
}

.group-page__live-project-personal-contribution {
  @include fontSmall;
  color: $cobudget-green;
}

.group-page__progress-bar-container {
  position: relative;
  height: 5px;
  background: $cobudget-grey;
  z-index: 0;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.group-page__progress-bar-primary {
  position: absolute;
  height: 100%;
  left: 0;
  background: $cobudget-orange;
  z-index: 2;
  width: 0%;
  transition: 0.5s;
}

.group-page__progress-bar-secondary {
  position: absolute;
  height: 100%; 
  left: 0;
  background: $cobudget-green;
  z-index: 1;
  width: 0%;
  transition: 0.5s;
}

// drafts

.group-page__draft-container {
  position: relative;
}

.group-page__draft-title {
  @include fontMedLarge;
  @include truncatedText;
  padding-right: 35px;
}

.group-page__draft-author {
  @include fontSmall;
  color: $grey-on-white;
}

.group-page__comment-count-container {
  position: absolute;
  top: 2px;
  right: 4px;
}

.group-page__comment-icon-active {
  @include fontGrande;
}

.group-page__comment-icon-inactive {
  @include fontGrande;
  fill: $cobudget-grey;
}

.group-page__comment-count {
  @include fontTiny;
  position: relative;
  color: white;
  bottom: 21px;
  text-align: center;
}

// funded projects

.group-page__funded-project-title {
  @include fontMedLarge;
  @include truncatedText;
}

.group-page__funded-project-author {
  @include fontSmall;
  color: $grey-on-white;
}

// funders

.group-page__funders {
  padding-left: 16px;
}

.group-page__funder-name-container {
  position: relative;
}

.group-page__funder-name {
  width: 100%;
  @include truncatedText;
  @include fontMedLarge;  
}

.group-page__funder-balance {
  @include fontLarge;
  color: $cobudget-green;
}