<div class="group-page">

  <md-toolbar class="group-page__toolbar">
    <div class="md-toolbar-tools group-page__menu-bar">
      <md-button class="md-icon-button" aria-label="Settings">
        <div layout="column" layout-align="center center">
          <i class="material-icons group-page__menu-icon">menu</i>
        </div>
      </md-button>
      <span class="group-page__group-name">{{ group.name | limitTo: 16 }} <span ng-if="group.name.length > 16">...</span></span>
      <span flex></span>
      <md-button class="md-icon-button group-page-menu-button" aria-label="More">
        <div layout="column" layout-align="center center">
          <i class="material-icons group-page__menu-icon">more_vert</i>
        </div>
      </md-button>
    </div>

    <div class="md-toolbar-tools group-page__funds-bar">
      <div flex="50" layout="row" class="group-page__funds-overview" >
        <div layout="column" layout-align="center center">
          <i class="material-icons group-page__funds-icon">person</i>
        </div>
        <div layout="column" layout-align="center center">
          <span class="group-page__funds-overview-header">Your funds</span>
          <!-- <span class="group-page__funds-overview-amount">{{ group.personalFunds | currency : "$" : 0 }}</span> -->
          <span class="group-page__funds-overview-amount">$250</span>
        </div>
      </div>
      <div flex="50" layout="row" class="group-page__funds-overview" >
        <div layout="column" layout-align="center center">
          <i class="material-icons group-page__funds-icon">group</i>
        </div>
        <div layout="column" layout-align="center center">
          <span class="group-page__funds-overview-header">Total funds</span>
          <!-- <span class="group-page__funds-overview-amount">{{ group.totalFunds | currency : "$" : 0  }}</span> -->
          <span class="group-page__funds-overview-amount">$10000</span>
        </div>
      </div>
    </div>

    <md-tabs class="group-page__tabs" md-stretch-tabs="auto" md-dynamic-height>
      <md-tab md-on-select="selectTab(0)">
        <md-tab-label>
          <span class="group-page__tab-label">ALL PROJECTS</span>
        </md-tab-label>
      </md-tab>
      <md-tab md-on-select="selectTab(1)">
        <md-tab-label>
          <span class="group-page__tab-label">FUNDERS</span>
        </md-tab-label>
      </md-tab>
    </md-tabs>
  </md-toolbar>

  <md-content class="group-page__content">
    <div class="group-page__projects-content" ng-if="tabSelected === 0">
      <md-list class="group-page__projects">
        <div layout="row">
          <md-subheader class="group-page__subheader-title">Funding Now</md-subheader>
          <div flex></div>
          <div layout="column" layout-align="center center">
            <md-button class="md-icon-button" aria-label="Settings">
              <div layout="column" layout-align="center center">
                <i class="material-icons group-page__help-icon">help</i>
              </div>
            </md-button>
          </div>
        </div>
        <md-list-item ng-repeat="project in group.liveBuckets()">
          <div layout="column" flex class="group-page__project-container" ng-click="showProject(project.id)">
            <span class="group-page__project-title">{{ project.name | limitTo: 30 }}<span ng-if="project.name.length > 30">...</span></span>
            <span class="group-page__project-funding">{{ project.amountRemaining() | currency : "$" : 0  }} to go</span>
            <md-progress-linear md-mode="determinate" value="{{ project.percentFunded() }}" class="group-page__progress-bar"></md-progress-linear>
          </div>
        </md-list-item>
      </md-list>

      <md-list class="group-page__drafts">
        <div layout="row">
          <md-subheader class="group-page__subheader-title">Drafts</md-subheader>
          <div flex></div>
          <div layout="column" layout-align="center center">
            <md-button class="md-icon-button" aria-label="Settings">
              <div layout="column" layout-align="center center">
                <i class="material-icons group-page__help-icon">help</i>
              </div>
            </md-button>
          </div>
        </div>

        <md-list-item ng-repeat="draft in group.draftBuckets()" ng-click="showProject(draft.id)">
          <div layout="column" flex class="group-page__draft-container">
            <span class="group-page__draft-title">{{ draft.name | limitTo: 30 }}<span ng-if="draft.name.length > 30">...</span></span>
            <span class="group-page__draft-author">created by {{ draft.author().name }} {{ draft.createdAt | timeFromNowInWords }} ago</span>
          </div>
        </md-list-item>
      </md-list>      
    </div>

    <div class="group-page__funders-content" ng-if="tabSelected === 1">
      <md-list class="group-page__funders">
        <md-list-item ng-repeat="membership in group.memberships()">
          <div layout="row" flex class="group-page__funder-container">
            <div layout="column" layout-align="center start" flex="50">
              <span class="group-page__funder-name">{{ membership.member().name | limitTo: 16 }} <span ng-if="funder.name.length > 16">...</span></span>
            </div>

            <div flex layout="column" layout-align="center end">
              <span class="group-page__funder-balance">{{ membership.balance() | currency : "$" : 0 }}</span>
            </div>
            
            <md-button class="md-icon-button group-page__funder-more-button" aria-label="More">
              <div layout="column" layout-align="center center">
                <i class="material-icons group-page__funder-more-button-icon">more_vert</i>
              </div>
            </md-button>
          </div>
        </md-list-item>
      </md-list>
    </div>
  </md-content>

  <md-button class="md-fab group-page__create-project-fab" ng-click="createProject()">
    <div layout="column" layout-align="center center">
      <i class="material-icons">add</i>
    </div>
  </md-button>

</div>

