<div class="group-page" ng-if="authorized">
  <group-page-sidenav></group-page-sidenav>

  <group-page-toolbar></group-page-toolbar>

  <md-content class="group-page__content">
    <md-card class="group-page-help__card">
      <div layout="row">
        <img src="./img/idea_money.svg" class="group-page-help__card-image" />
        <div layout="column" class="group-page-help__card-content">
          <h2 class="group-page-help__card-header">Welcome!</h2>

          <p class="group-page-help__card-description">
            This is your new group. Here, people can propose and discuss ideas for funding, and fund them once they're approved.
          </p>

          <div flex></div>

          <div class="group-page-help__card-btns" layout="row" layout-align="center center">
            <span class="group-page-help__card-steps">1/2</span>
            <span flex></span>
            <md-button class="group-page-help__card-btn">read more</md-button>
            <md-button class="group-page-help__card-btn">next</md-button>
          </div>
        </div>
      </div>
    </md-card>


    <group-page-buckets ng-if="tabSelected == 0"></group-page-buckets>
    <group-page-funders ng-if="tabSelected == 1"></group-page-funders>
  </md-content>
</div>
