<div class="about-page" layout="column" layout-fill>
  <landing-page-toolbar></landing-page-toolbar>

  <h1 class="about-page__header-text">About Cobudget</h1>

  <div class="about-page__content" layout="column" flex>
    <div layout="row" layout-align="start start">
      <img class="about-page__img" src="/img/how-cobudget-works.png" />

      <div>
        <p class="about-page__subheader-text"><b>Cobudget</b> helps organisations and groups allocate funds <b>collaboratively and transparently</b>.</p>

        <p class="about-page__subheader-text">The idea is simple: group members receive funds in their cobudget account. They can propose projects or activities and allocate their own funds to support those of others within the group.</p>

        <a href="https://greaterthan.gitbooks.io/greaterthan-s-guide-to-collaborative-finance/content/cobudget.html" target="_blank">
          <md-button class="md-raised md-primary about-page__btn">getting started</md-button>
        </a>

      </div>
    </div>

    <div layout="row" layout-align="start start" class="about-page__greaterthan">

      <div>
        <p class="about-page__subheader-text about-page__subheader-text-greaterthan"><b>Cobudget</b> is the flagship product of <a href="http://greaterthan.works/" target="_blank">Greaterthan</a>, a venture that is bringing collaborative finance practices into organizations to help them increase engagement, transparency and agility.</p>

        <a href="http://greaterthan.works/" target="_blank">
          <md-button class="md-raised md-primary about-page__btn">greaterthan</md-button>
        </a>

      </div>

      <img class="about-page__img" src="/img/Logo-GT-300dpi-vide.png" />
    </div>

    <div flex></div>

  </div>

  <landing-page-footer></landing-page-footer>

</div>
