// TODO: !!!

.upload-csv-primer-dialog-error {
  background: #FAFAFA;
}

.upload-csv-primer-dialog-error__content {
  padding: 30px !important;
}

.upload-csv-primer-dialog-error__header {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.upload-csv-primer-dialog-error__paragraph {
  font-size: 15px;
  line-height: 21px;
}

.upload-csv-primer-dialog-error__link {
  text-decoration: none;
  color: #50A3E8;
  font-size: 13px;
  font-weight: 600;
}

.upload-csv-primer-dialog-error__error {
  font-size: 14px;
}

.upload-csv-primer-dialog-error__btns {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.upload-csv-primer-dialog-error__ok-btn {
  color: #50A3E8;
}

.upload-csv-primer-dialog-error__cancel-btn {
  color: #B9B9B9;
}
