<form name="loginForm" role="form" ng-controller="LoginController"
      ng-submit="login(credentials); $close()" novalidate>
  <div class="form-group">
    <label for="email">Email</label>
    <input class="form-control" type="text" id="email"
           ng-model="credentials.email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password"
           class="form-control" ng-model="credentials.password">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>