.bucket-page__status-flagpoint-text-inactive {
  @include fontMedium;
  color: $grey-on-white;
}

.bucket-page__status-flagpoint-text-active {
  @include fontMedium;
}

.bucket-page__status-flagpoint {
  width: 50px;
}

.bucket-page__status-icon-inactive {
  fill: $grey-on-white;
}

.bucket-page__draft-icon {
  fill: $cobudget-gold;
}

.bucket-page__live-icon {
  fill: $cobudget-lime;
}

.bucket-page__funded-icon {
  fill: $cobudget-cyan;
}
