.landing-page {
  width: 100%;
  background: white;
  height: auto;
}

.landing-page__top-content-container {
  position: relative;
}

.landing-page__top-content {
  margin: 60px auto 20px;
  z-index: 2;
}

.landing-page__footer-content {
  background: $cobudget-gunmetal;
  color: white;
  padding-top: 10px;
  margin-top: 50px;
}

.landing-page-footer__content-btn {
  font-size: 15px;
  font-weight: 400;
  color: #6E6E6E !important;
  margin: 6px 12px !important;
}


.landing-page__footer-container > div {
  text-align: center;
}

// mobile preview

.landing-page__mobile-preview {
  position: relative;
}

.landing-page__smartphone-img {
  margin-top: 30px;
  width: 500px;
}

// form

.landing-page__logo {
  max-width: 300px;
  margin-bottom: 15px;
  margin-left: -13px;
}

.landing-page__beta {
  font-size: 14px;
  margin-left: -10px;
  margin-top: 5px;
}

.landing-page__form-header {
  font-size: 94px;
  margin-top: 0;
  margin-bottom: 15px;
  line-height: 90px;
  font-weight: 100;
}

.landing-page__form-subheader {
  font-weight: 500;
  font-size: 20px;
  margin: 0;
  margin-bottom: 15px;
}

.landing-page__form-subheader-faded {
  color: #AEB0B3;
}

.landing-page__form-container {
  width: 450px;
}

.landing-page__form {
  width: 100%;
}

.landing-page__input-container {
  width: 100%;
  margin: 0 auto;
  margin-top: 5px;
  display: inline;
}

.landing-page__email-field {
  font-size: 20px;
  display: inline;
  // margin: 0 auto;
  border: 2px solid #B5B8BB;
  box-sizing: border-box;
  padding: 6px 10px;
  border-radius: 3px;
  background: inherit;
  font-weight: 400;
  text-align: center;
  width: 220px;
  margin-bottom: 5px;
  margin-top: 40px;
}

.landing-page__email-field:focus {
  outline: none;
}

.landing-page__input-error {
  font-size: 12px;
  margin-top: 5px;
  color: red;
}

.landing-page__beta-text {
  margin-bottom: 5px;
  color: $grey-on-white;
}

.landing-page__signin-text {
  margin-top: 5px;
  color: $grey-on-white;
  font-size: 12px;
}

.landing-page__signin-text a {
  cursor: pointer;
}

.landing-page__submit-btn {
  font-size: 16px;
  font-weight: 600;
  background: $cob-pink !important;
  min-height: 37px;
  margin-left: 0;
  padding: 14px 32px;
}

// virtual tour dialog

.landing-page__virtual-tour-link {
  display: block;
  font-size: 14px;
  color: #939699;
  margin-top: 7px;
  font-weight: 500;
}

.landing-page__virtual-tour-link:focus {
  outline: none;
}

.landing-page__virtual-tour-dialog {
  width: 80%;
}

.landing-page__video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.landing-page__video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 1140px) {
  .landing-page__smartphone-img {
    width: 450px;
  }
}

// mobile

@media (max-width: 900px) {
  .landing-page__mobile-preview {
    display: none;
  }

  .landing-page-toolbar__logo-link {
    display: none;
  }

  .landing-page-toolbar__logo-link-buffer {
    display: none;
  }
}

@media (min-width: 900px) {
  .landing-page__logo, .landing-page__beta {
    display: none;
  }
}

@media (max-width: 900px) {
  .landing-page__top-content {
    margin-top: 100px;
  }

  .landing-page__form-header {
    font-size: 50px;
    line-height: 50px;
  }
}

@media (max-height: 420px) {
  .landing-page {
    padding-top: 50px;
  }
}

@media (max-width: 450px) {

  .landing-page__menu {
    display: block;
  }

  .landing-page__header-btns {
    display: none;
  }

  .landing-page__header-separator {
    display: flex;
  }

  .landing-page__menu {
    margin-left: 20px;
  }

  .landing-page__menu-icon {
    fill: #ACACAC;
  }

  .landing-page__form-container {
    width: 300px;
  }
}
