.landing-page {
  position: fixed;
  height: 100%;
  width: 100%;
}

.landing-page__content {
  height: 100%;
}

.landing-page__content-container {
  position: relative;
  bottom: 5%;
}

.landing-page__logo {
  display: block;
  width: 275px;
  margin: 0 auto;
}

.landing-page__logo-subheader {
  font-weight: 300;
  @include fontMedLarge;
  text-align: center;
  margin: 0;
}

.landing-page__start-group-form {
  text-align: center;
  margin-top: 20px;
}

.landing-page__email-field {
  @include cob-std-input;
  width: 200px;
  text-align: center;
}

.landing-page__email-field:focus {
  outline: none;
}

.landing-page__submit-btn {
  @include fontSmall;
  width: 170px;
  background: #00CF00 !important;
  color: white !important;
  min-height: 32px;
  height: 32px;
  margin-top: 12px;
}
