.confirm-account-page {
  position: relative;
  height: 100%;
  background: white;
}

.confirm-account-page__logo {
  display: block;
  width: 63%;
  max-width: 300px;
  margin: 30px auto;
  margin-bottom: 20px;
}

.confirm-account-page__content {
  max-width: 400px;
  margin: 0 auto;
  padding: 0 15px;
}

.confirm-account-page__content-card {
  background: #FBFBFB;
}

.confirm-account-page__person-icon-container {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #D8D8D8;
  background: white;
  font-size: 16px;
  margin: 15px auto;
}

.confirm-account-page__person-icon {
  fill: #D8D8D8;
}

.confirm-account-page__form {
  margin-top: 30px;
  margin-bottom: 20px;
}

.confirm-account-page__logo-subheader {
  font-weight: 300;
  @include fontLarge;
  text-align: center;
  margin: 0;
}

.confirm-account-page__input-container {
  width: 80%;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.confirm-account-page__input-container label {
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
}

.confirm-account-page__input-field {
  @include cob-std-input;
  background: white;
  width: 100%;
}

.confirm-account-page__input-field:disabled {
  cursor: not-allowed;
  background: $cobudget-light-grey;
}

.confirm-account-page__checkbox-field {
  margin-bottom: 0;
}

.confirm-account-page__input-error {
  font-size: 12px;
  margin-top: 5px;
  color: red;
  text-align: left;
  padding-left: 2px;
}

.confirm-account-page__submit-btn {
  background: $cob-pink !important;
  width: 100%;
  margin: 0;
  margin-top: 20px;
}
