<div class="row">
  <div class="col-md-12">
    <span>TMP: Switch user for testing</span>
    <span href="" ng-click="setUser(0)">1</span>
    <span href="" ng-click="setUser(1)">2</span>
    <span href="" ng-click="setUser(2)">3</span>
  </div>
  <div class="col-md-12" ui-view="header-full"></div>
  <div class="col-md-12" ui-view="page-full"></div>
  <div class="col-md-7">
    <div ui-view="header"></div>
    <div ui-view="page"></div>
  </div>
  <div class="col-md-5 paint on-bg" ui-view="sidebar"></div>
</div>
