<div class="row">
  <div class="col-md-6">
  <section class="m-admin_dashboard-panel shadow l-padded paint white">
    <h1>Manage users</h1>
    <div class="field">
      <div class="row">
        <div class="col-md-8">
          <input class="field" ng-model="search.$" type="text" placeholder="Search users..."></input>
        </div>
        <div class="col-md-1">
          <span class="clr-medium-gray l-input-row-text">or</span>
        </div>
        <div class="col-md-3">
          <button class="btn m-btn-fill-width paint clr2" ng-click="toggle('user_form')">Add new</button>
        </div>
      </div>
    </div>
    <form class="l-bottom-margin" ng-show="mode === 'user_form'">
      <div class="field">
        <input ng-model="_user.name" type="text" name="name" placeholder="Name"></input>
      </div>
      <div class="field">
        <input ng-model="_user.email" type="email" name="email" placeholder="Email"></input>
      </div>
      <div class="m-user-color-pick">
        <div colorpicker="hex" ng-model="_user.bg_color" style="background-color: {{_user.bg_color}}" class="m-user-color m-user-color-bg"></div>
        <span>BG color</span>
      </div>
        <div class="m-user-color-pick">
        <div colorpicker="hex" ng-model="_user.fg_color" style="background-color: {{_user.fg_color}}" class="m-user-color m-user-color-bg"></div>
      <span>FG color</span>
      </div>
      <div class="actions">
        <button class="pull-right" ng-click="createUser()" href="">Save</button>
      </div>
    </form>
    <table>
      <tr ng-repeat= 'user in users | filter:search:strict' manage-users user="user"></tr>
    </table>
  </section>
  </div>
  <div class="col-md-6">
    <section class="m-admin_dashboard-panel ">
      <article ng-repeat="budget in budgets" manage-budget budget="budget" users="users" class="m-admin_budget shadow paint white"></article>
    </section>
  </div>
</div>
