<div ng-if="state != 'cancelled'">
<h2>Your allocations</h2>
<!--<div ng-repeat="clr in color_array" style="width: 10px; height: 10px; float: left; background-color: {{clr}};"></div>-->
<div class="paint white shadow">
  <div class="o-action-block">
    <a href="" ng-click="ux.show_transfer = !ux.show_defer"><strong> + TRANSFER YOUR ALLOCATION</strong></a>
  </div>
  <div class="l-padded">
    <div ng-if="ux.show_transfer" class="m-allocations-transfer">
      <p>Feature in progress</p>
      <form class="l-bottom-margin" ng-submit="transferAllocationRights()" formnovalidate>
        <div class="field">
          <input type="text" ng-model="_transfer.to_account" placeholder="Start typing email" typeahead="account as account.user_email for account in accounts | filter:$viewValue | limitTo:8" typeahead-editable="false " class="form-control" />
        </div>
        <div class="field">
          <input type="number" step="any" ng-model="_transfer.amount_dollars" /> 
        </div>
        <!--<div class="actions">-->
          <!--<button class="btn pull-right">Transfer</button>-->
        <!--</div>-->
      </form>
    </div>
    <div class="row l-bottom-margin">
      <span class="col-md-6 clr-medium-gray">Allocated: <strong>${{allocated / 100 | number: 2}}</strong></span>
      <span ng-if="state != 'funded'">
        <span class="col-md-6 clr-medium-gray">Allocatable: <strong>${{allocatable / 100 | number: 2}}</strong></span>
      </span>
    </div>
    <canvas piechart options="chart_options" data="chart" width="330" height="300"></canvas>
    <table class="l-unstyled-table">
      <tr ng-repeat="ua in user_allocations">
        <td class="m-allocations-color" style="background-color: {{ua.bucket_color}}">&nbsp;</td>
        <td class="m-allocations-name">{{ua.label}}</td>
        <td class="m-allocations-amount">
          ~{{(ua.amount / allocatable)*100 | number:0}}%
        </td>
      </tr>
    </table>
  </div>
  <div class="o-action-block paint white">
    <div class="shadow"></div>
    <a href="" ui-sref="budgets.propose_bucket"><strong> + PROPOSE A BUCKET</strong></a>
  </div>
</div>
<h2> Group Allocations </h2>
<div class="paint white shadow">
  <div class="l-padded">
    <p class="text-center">Total spend: ${{total_group_spend / 100 | number: 2}}</p>
    <canvas piechart options="chart_options" data="group_chart" width="330" height="300"></canvas>
    <table class="l-unstyled-table">
      <tr ng-repeat="a in group_allocations">
        <td class="m-allocations-color" style="background-color: {{a.bucket_color}}">&nbsp;</td>
        <td class="m-allocations-name">{{a.label}}</td>
        <td class="m-allocations-amount">
          ~{{(a.amount / total_group_spend)*100 | number:0}}%
        </td>
      </tr>
    </table>
  </div>
</div>
<h2>Bucket updates</h2>
<p> e.g. latest reports </p>
</div>
