<div class="row o-budget-header">
<h2 class="col-md-8">
  <span>{{budget.name}}</span>
</h2>
<nav class="col-md-4 text-right">
  <a href="" ui-sref="budgets.buckets({state: 'open'})">
    <strong ng-if="getState() === 'open'">Open</strong>
    <span ng-if="getState() != 'open'">Open<span>
  </a>
  &nbsp;|&nbsp;
  <a href="" ui-sref="budgets.buckets({state: 'funded'})">
    <strong ng-if="getState() === 'funded'">Funded</strong>
    <span ng-if="getState() != 'funded'">Funded<span>
  </a>
  &nbsp;|&nbsp;
  <a href="" ui-sref="budgets.buckets({state: 'cancelled'})">
    <strong ng-if="getState() === 'cancelled'">Cancelled</strong>
    <span ng-if="getState() != 'cancelled'">Cancelled<span>
  </a>
</nav>
</div>
