<div class="services-page" layout="column" layout-fill>
  <landing-page-toolbar></landing-page-toolbar>

  <h1 class="services-page__header-text">Our Services</h1>

  <div class="services-page__content" layout="column" flex>
    <p class="services-page__subheader-text"><b>Cobudget is a practice</b> that allows groups to allocate resources collaboratively and transparently through a participatory proposal process.</p>

    <p class="services-page__subheader-text">Our team can provide you with expertise to guide and support you in running your collaborative funding processes.</p>

    <div layout-gt-sm="row" layout-align="start start">

      <div>

        <p class="services-page__subheader-text"><b>For organizations that want to:</b></p>
        <ul class="services-page__subheader-text">
          <li>Start their first experiment with collaborative resource allocation, but don't know where to begin</li>
          <li>Run truly particpatory internal innovation programs and call-for-proposals</li>
          <li>Catalyze employee/member engagement by enabling them to propose projects and allocate resources to them</li>
          <li>Create more participation and transparency in their financial and budgeting processes.</li>
        </ul>

      </div>

      <img class="services-page__img" src="/img/services_fran.jpg" />
    </div>

    <div flex></div>

    <div layout="row" layout-align="center center">
      <a href="mailto:francesca@greaterthan.works" target="_blank">
        <md-button class="md-raised md-primary services-page__btn">request a quote</md-button>
      </a>
    </div>

  </div>

  <h1 class="services-page__header-text services-page__header-second-text">We help you achieve optimal engagement and results.</h1>
  <p class="services-page__info-text"><em>Offered à la carte or as a package</em></p>

  <div class="services-page__content services-page__content-second" layout="column" flex>

    <div class="services-page__steps" layout-gt-xs="row" layout-align="start start">
      <div class="services-page__steps-icon">
        <img class="services-page__steps-icon-img" src="/img/services-coffee.png" alt="setup">
      </div>
      <h2 class="services-page__steps-title">Setup</h2>
      <ul class="services-page__steps-details">
        <li>A session with you to design your optimal setup for your group in line with your objectives</li>
        <li>Clarification of administrative requirements</li>
        <li>This can range from a 1 day workhop to a 2 hour video conference call</li>
      </ul>
    </div>

    <div class="services-page__steps" layout-gt-xs="row" layout-align="start start">
      <div class="services-page__steps-icon">
        <img src="/img/services-escalator.png" alt="setup" class="services-page__steps-icon-img">
      </div>
      <h2 class="services-page__steps-title">Onboarding</h2>
      <ul class="services-page__steps-details">
        <li>Creation and implementation of an onboarding process</li>
        <li>Tailored support materials to ensure a fluid experience for your team</li>
      </ul>
    </div>

    <div class="services-page__steps" layout-gt-xs="row" layout-align="start start">
      <div class="services-page__steps-icon">
        <img src="/img/services-chat.png" alt="setup" class="services-page__steps-icon-img">
      </div>
      <h2 class="services-page__steps-title">Facilitation</h2>
      <ul class="services-page__steps-details">
        <li>Ongoing support on how to craft powerful proposals</li>
        <li>On and offline facilitation to ensure proposals are aligned with the objectives of your initaitive.</li>
      </ul>
    </div>

    <div class="services-page__steps" layout-gt-xs="row" layout-align="start start">
      <div class="services-page__steps-icon">
        <img src="/img/services-flipchart.png" alt="setup" class="services-page__steps-icon-img">
      </div>
      <h2 class="services-page__steps-title">Retrospective</h2>
      <ul class="services-page__steps-details">
        <li>2 hour retrospective session with your team</li>
        <li>Iterate your Cobudget setup to integrate what you learned into your next round</li>
      </ul>
    </div>

    <div flex></div>

    <div layout="row" layout-align="center center">
      <a href="mailto:francesca@greaterthan.works" target="_blank">
        <md-button class="md-raised md-primary services-page__btn">request a quote</md-button>
      </a>
    </div>

  </div>

  <landing-page-footer></landing-page-footer>

</div>
