<md-dialog aria-label="remove membership dialog">
  <md-dialog-content class="sticky-container">

    <div class="remove-membership-dialog__header" layout="column" layout-align="center center">
      <ng-md-icon icon="warning"
        layout="column"
        layout-align="center center"
        class="remove-membership-dialog__warning-icon"
        size="35"
      ></ng-md-icon>
      <div class="remove-membership-dialog__header-text">
        Remove {{ member.name }} from {{ group.name }}
      </div>
    </div>
    <md-divider></md-divider>

    <div class="remove-membership-dialog__list-container">
      <div class="remove-membership-dialog__list-header">
        Warning: This cannot be undone
      </div>
      <ul class="remove-membership-dialog__list">
        <li class="remove-membership-dialog__list-item" ng-repeat="warning in warnings" layout="row" layout-align="start start">
          <ng-md-icon icon="check"
            layout="column"
            layout-align="center center"
            class="remove-membership-dialog__checkbox-icon"
            size="20"
          ></ng-md-icon>
          <div class="remove-membership-dialog__warning-text">{{ warning }}</div>
        </li>
      </ul>
    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <md-button class="md-raised remove-membership-dialog__remove-btn" ng-click="proceed()" ng-autodisable>remove</md-button>
    <md-button class="remove-membership-dialog__cancel-btn" ng-click="cancel()">cancel</md-button>
  </div>
</md-dialog>
