<div class="group-page__analytics-content">

  <md-card class="group-page__analytics-card">
    <md-list class="group-page__analytics-list">

      <div layout="row" layout-align="start center" class="group-page__analytics-list-header-container">
        <md-subheader class="group-page__subheader-title">Group Totals</md-subheader>
      </div>

      <md-divider class="group-page__analytics-divider"></md-divider>

      <div layout="row" layout-align="space-around center" layout-margin class="group-page-header__stats-overview-container">

        <div>
          <div layout="row" layout-align="center center" class="group-page-header__stats-overview-content" >
              <ng-md-icon icon="check_circle"
                class="group-page-header__funds-icon"
                  layout="column"
                  layout-align="center center"
              ></ng-md-icon>
              <div layout="column" layout-align="center center">
                <span class="group-page-header__stats-overview-amount">{{ group.totalInFunded | currency : group.currencySymbol : 0 }}</span>
              </div>
          </div>
          <div layout="row" class="group-page-header__stats-overview-label">Funded Buckets All Time</div>
        </div>

        <div>
          <div layout="row" layout-align="center center" class="group-page-header__stats-overview-content" >
              <ng-md-icon icon="access_time"
                class="group-page-header__funds-icon"
                  layout="column"
                  layout-align="center center"
              ></ng-md-icon>
              <div layout="column" layout-align="center center">
                <span class="group-page-header__stats-overview-amount">{{ group.totalAllocations | currency : group.currencySymbol : 0 }}</span>
              </div>
          </div>
          <div class="group-page-header__stats-overview-label">All Allocations</div>
        </div>

      </div>

    </md-list>
  </md-card>

  <md-card class="group-page__analytics-card" ng-if="group.liveBuckets().length > 0">
    <md-list class="group-page__analytics-list">
      <div layout="row" layout-align="start center" class="group-page__analytics-list-header-container">
        <md-subheader class="group-page__subheader-title">Money Distribution</md-subheader>
      </div>

      <md-divider class="group-page__analytics-divider"></md-divider>

      <c3chart bindto-id="pie-plot1-chart">
        <chart-column column-id="Total amount in group ({{group.currencySymbol}})"
                    column-values={{group.balance}}
                    column-type="pie"/>
        <chart-column column-id="Your amount in group ({{group.currencySymbol}})"
                    column-values={{membership.balance}}
                    column-type="pie"/>
        <chart-pie expand="true"/>
      </c3chart>

    </md-list>
  </md-card>

  <md-card class="group-page__analytics-card" ng-if="group.draftBuckets().length > 0">
    <md-list class="group-page__analytics-list">
      <div layout="row" layout-align="start center" class="group-page__analytics-list-header-container">
        <md-subheader class="group-page__subheader-title">Bucket Breakdown</md-subheader>
      </div>

      <md-divider class="group-page__analytics-divider"></md-divider>

      <c3chart bindto-id="pie-plot2-chart">
        <chart-column column-id="Live"
                    column-values={{group.liveBuckets().length}}
                    column-type="pie"/>
        <chart-column column-id="Funded"
                    column-values="{{group.fundedBuckets().length}}"
                    column-type="pie"/>
        <chart-column column-id="Idea"
                    column-values="{{group.draftBuckets().length}}"
                    column-type="pie"/>
        <chart-pie expand="true"/>
      </c3chart>

    </md-list>
  </md-card>

  <md-card class="group-page__analytics-card" ng-if="group.fundedBuckets().length > 0">
    <md-list class="group-page__analytics-list">
      <div layout="row" layout-align="start center" class="group-page__analytics-list-header-container">
        <md-subheader class="group-page__subheader-title">Stale Money</md-subheader>
      </div>

      <md-divider class="group-page__analytics-divider"></md-divider>

      <c3chart bindto-id="pie-plot3-chart">
        <chart-column column-id="{{group.currencySymbol}}{{group.balance}} Unspent"
                    column-values={{group.balance}}
                    column-type="pie"/>
        <chart-column column-id="{{group.currencySymbol}}{{group.totalContributions}} Spent"
                    column-values="{{group.totalContributions}}"
                    column-type="pie"/>
        <chart-pie expand="true"/>
      </c3chart>

    </md-list>
  </md-card>


  <md-card class="group-page__analytics-card" ng-if="group.fundedBuckets().length > 0">
    <md-list class="group-page__analytics-list">
      <div layout="row" layout-align="start center" class="group-page__analytics-list-header-container">
        <md-subheader class="group-page__subheader-title">Available funds by user</md-subheader>
      </div>

      <md-divider class="group-page__analytics-divider"></md-divider>

      <div ng-if="fundersLoaded">
        <c3chart bindto-id="pie-plot4-chart">
          <chart-column ng-repeat="funderMembership in group.settledMemberships()" column-id="{{funderMembership.member().name}}"
                      column-values="{{funderMembership.balance}}"
                      column-type="pie"/>
          <chart-pie expand="true"/>
        </c3chart>
      </div>
    </md-list>
  </md-card>
