.m-bucket-wrapper
  margin-top: 1em
.m-bucket
  position: relative
  padding-top: 0.2em
  background: #ececec
  h2
    max-width: 80%
    padding-top: 0.6em
    font-size: 1.2em
    font-weight: bold

//Move pallete
.pallete_0
  background: #888
.pallete_1
  background: #555
.pallete_2
  background: #000
.m-bucket-allocations
  @extend .clearfix
.m-bucket-allocations__allocation
  width: 0
  +single-transition(all, 0.4s, ease-out)
  display: inline-block
  float: left
  height: 40px
  
