.m-labels
  display: inline-block
  position: absolute
  top: 0.2em
  right: 0.2em
  text-align: right

.m-labels-label
  display: inline-block
  text-align: center
  margin-left: 0.1em
  padding: 0.2em 0.4em
