.noUi-target *
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  -webkit-touch-callout: none
  -ms-touch-action: none
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  cursor: default

.noUi-target
  background: #DDD

.noUi-base
  width: 100%
  height: 44px
  position: relative
  //box-shadow: 0 0 0 1px #BFBFBF

.noUi-handle
  width: 44px
  height: 44px
  z-index: 1
  position: relative
  cursor: pointer
  top: 0
  left: 0px
  +border-radius(2px)
  +box-shadow(lighten($clr-1, 10%) 0 0 2px 1px inset, darken($clr-1,10%) 0px 3px 0px, rgba(0, 0, 0, 0.4) 0 3px 2px)
  background: $clr-1 url('../../images/css/slider_grip.png') left bottom repeat

.noUi-active
  background: darken($clr-1, 10%)

.noUi-connect
  background: Teal
  -webkit-transition: background 0.6s
  transition: background 0.6s

.noUi-background
  background: #DDD

.noUi-origin
  position: absolute
  right: 0
  left: -2px
  top: -2px
  border-radius: inherit

.noUi-origin + .noUi-origin
  background: inherit !important

.noUi-z-index
  z-index: 10

.noUi-vertical 
  width: 38px
  height: 100%

.noUi-vertical .noUi-origin
  top: 0
  left: 0

.noUi-vertical .noUi-handle
  margin: -44px 0 0 0
//.noUi-vertical .noUi-handle

[disabled] .noUi-base 
  background: #DDD

[disabled] .noUi-handle
  background: #F7F7F7
  cursor: not-allowed

[disabled] .noUi-connect
  background: #EEE

.noUi-state-tap .noUi-origin 
  -webkit-transition: left 0.3s, top 0.3s
  transition: left 0.3s, top 0.3s

.noUi-state-blocked .noUi-connect
  background: #7f8c8d
