html, body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0 0 0 0;
  font-family: "Open Sans", sans-serif;
  overflow: hidden; }
  html *, body * {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important; }
    html * .nav.bar.container, body * .nav.bar.container {
      width: 100%;
      height: 45px;
      background: #273a40;
      position: fixed;
      z-index: 10;
      line-height: 45px; }
      html * .nav.bar.container .brand, body * .nav.bar.container .brand {
        height: 100%;
        font-size: 16px;
        color: white;
        padding-left: 20px;
        background: #54c1c2; }
        html * .nav.bar.container .brand span, body * .nav.bar.container .brand span {
          display: inline-block;
          vertical-align: middle;
          line-height: normal; }
        html * .nav.bar.container .brand p, body * .nav.bar.container .brand p {
          height: 100%;
          display: inline-block;
          vertical-align: middle;
          line-height: center;
          margin-top: 0px;
          margin-top: 0px;
          font-weight: 300; }
        html * .nav.bar.container .brand i, body * .nav.bar.container .brand i {
          height: 100%;
          line-height: 46px; }
      html * .nav.bar.container .selector, body * .nav.bar.container .selector {
        text-align: center; }
        html * .nav.bar.container .selector select, body * .nav.bar.container .selector select {
          background: transparent;
          font-size: 16px;
          color: white;
          line-height: 1;
          border: 0;
          border-radius: 0;
          height: 34px;
          padding-left: 30px;
          -webkit-appearance: none; }
        html * .nav.bar.container .selector i, body * .nav.bar.container .selector i {
          color: white; }
      html * .nav.bar.container .input-name input, body * .nav.bar.container .input-name input {
        height: 25px;
        vertical-align: middle;
        line-height: 25px; }
      html * .nav.bar.container .input-name i, body * .nav.bar.container .input-name i {
        color: white;
        margin-left: 10px;
        vertical-align: middle; }
      html * .nav.bar.container .navbar-right, body * .nav.bar.container .navbar-right {
        height: 100%;
        list-style: none;
        margin: 0 0 0 0; }
        html * .nav.bar.container .navbar-right .item i, body * .nav.bar.container .navbar-right .item i {
          display: inline-block;
          vertical-align: middle;
          line-height: normal; }
    html * .tab-bar, body * .tab-bar {
      width: 100%;
      position: relative;
      top: 45px;
      height: 51px;
      line-height: 51px;
      border-bottom: thin solid #f2f2f2;
      background-color: white; }
      html * .tab-bar .tab, body * .tab-bar .tab {
        border-right: 1px solid #f2f2f2;
        cursor: pointer;
        height: 51px; }
        html * .tab-bar .tab .content, body * .tab-bar .tab .content {
          text-align: center;
          text-transform: uppercase;
          color: #4d4d4d;
          padding: 0px 0px 0px 0px !important; }
      html * .tab-bar p, body * .tab-bar p {
        display: inline;
        padding-bottom: 11px; }
      html * .tab-bar .active, body * .tab-bar .active {
        border-bottom: #55c0c1;
        border-bottom-width: thick;
        border-bottom-style: solid; }
    html * .right.panel.container, body * .right.panel.container {
      height: 100%;
      min-height: 800px;
      background: #f6f8f6; }
    html * .right.panel .bucket.page.continaer, body * .right.panel .bucket.page.continaer {
      width: 100%; }

.content-row {
  height: 100%;
  margin-top: 45px; }
