<div class="group-page__buckets-content">

  <!-- liveBuckets -->
  <md-card class="group-page__buckets-card" ng-if="group.liveBuckets().length > 0">
    <md-list class="group-page__buckets-list">
      <div layout="row" layout-align="start center" class="group-page__buckets-list-header-container">
        <img src="./img/bucket_empty.svg" alt="bucket" class="group-page__bucket-list-icon"/>
        <h2 class="group-page__subheader-title">Funding Now</h2>
      </div>

      <md-divider class="group-page__buckets-divider"></md-divider>

      <md-list-item md-no-ink ng-repeat="bucket in group.liveBuckets()" ng-click="showBucket(bucket.id)" class="group-page__buckets-list-item">
        <div layout="column" flex class="group-page__bucket-container">
          <div layout="row" layout-align="start center" class="group-page__bucket-header-container">
            <span class="group-page__bucket-title">{{ bucket.name }}</span>

            <span flex class="group-page__bucket-comment-buffer"></span>

            <div class="group-page__comment-count-container">
              <ng-md-icon
                size="22"
                icon="mode_comment"
                layout="column"
                layout-align="center center"
                ng-class="bucket.hasComments() ? 'group-page__comment-icon-active' : 'group-page__comment-icon-inactive'"
              ></ng-md-icon>

              <div class="group-page__comment-count" ng-if="bucket.hasComments()">
                {{ bucket.numOfComments }}
              </div>
            </div>
          </div>

          <div layout="row" layout-align="space-between center">
            <span class="group-page__bucket-subheader">{{ bucket.totalContributions | currency : group.currencySymbol : 0 }} funded - <b>{{ bucket.amountRemaining() | currency : group.currencySymbol : 0  }} to go</b></span>

            <span ng-show="bucket.amountContributedByUser(currentUser) > 0" class="group-page__live-bucket-personal-contribution">
              You gave {{ bucket.amountContributedByUser(currentUser) | currency : group.currencySymbol : 0 }}
            </span>
          </div>

          <div class="group-page__progress-bar-container">
            <div class="group-page__progress-bar-primary" style="width: {{ bucket.percentContributedByOthers(currentUser) }}%"></div>
            <div class="group-page__progress-bar-secondary" style="width: {{ bucket.percentContributedByUser(currentUser) + bucket.percentContributedByOthers(currentUser) }}%"></div>
          </div>
        </div>
      </md-list-item>
    </md-list>
  </md-card>

  <!-- draftBuckets -->
  <md-card class="group-page__buckets-card" ng-if="group.draftBuckets().length > 0">
    <md-list class="group-page__buckets-list">
      <div layout="row" layout-align="start center" class="group-page__buckets-list-header-container">
        <ng-md-icon icon="lightbulb_outline"
          layout="column"
          layout-align="center center"
          size="27"
          class="group-page__bucket-list-icon"
        ></ng-md-icon>
        <h2 class="group-page__subheader-title">Ideas</h2>
      </div>

      <md-divider class="group-page__buckets-divider"></md-divider>

      <md-list-item md-no-ink ng-repeat="bucket in group.draftBuckets()" ng-click="showBucket(bucket.id)" class="group-page__buckets-list-item">
        <div layout="column" flex class="group-page__bucket-container">
          <div layout="row" layout-align="start center" class="group-page__bucket-header-container">
            <span class="group-page__bucket-title">{{ bucket.name }}</span>

            <span flex class="group-page__bucket-comment-buffer"></span>

            <div class="group-page__comment-count-container">
              <ng-md-icon
                size="22"
                icon="mode_comment"
                layout="column"
                layout-align="center center"
                ng-class="bucket.hasComments() ? 'group-page__comment-icon-active' : 'group-page__comment-icon-inactive'"
              ></ng-md-icon>

              <div class="group-page__comment-count" ng-if="bucket.hasComments()">
                {{ bucket.numOfComments }}
              </div>
            </div>
          </div>

          <span class="group-page__bucket-subheader">{{ bucket.authorName }} - {{ bucket.createdAt | timeFromNowInWords }} ago</span>
        </div>
      </md-list-item>
    </md-list>
  </md-card>


  <!-- fundedBuckets -->
  <md-card class="group-page__buckets-card" ng-if="group.fundedBuckets().length > 0">
    <md-list class="group-page__buckets-list">
      <div layout="row" layout-align="start center" class="group-page__buckets-list-header-container">
        <img src="./img/bucket_full.svg" alt="bucket" class="group-page__bucket-list-icon"/>
        <h2 class="group-page__subheader-title">Funded</h2>
      </div>

      <md-divider class="group-page__buckets-divider"></md-divider>

      <md-list-item md-no-ink ng-repeat="bucket in group.fundedBuckets()" ng-click="showBucket(bucket.id)" class="group-page__buckets-list-item">
        <div layout="column" flex class="group-page__bucket-container">
          <div layout="row" layout-align="start center" class="group-page__bucket-header-container">
            <span class="group-page__bucket-title">{{ bucket.name }}</span>

            <span flex class="group-page__bucket-comment-buffer"></span>

            <div class="group-page__comment-count-container">
              <ng-md-icon
                size="22"
                icon="mode_comment"
                layout="column"
                layout-align="center center"
                ng-class="bucket.hasComments() ? 'group-page__comment-icon-active' : 'group-page__comment-icon-inactive'"
              ></ng-md-icon>

              <div class="group-page__comment-count" ng-if="bucket.hasComments()">
                {{ bucket.numOfComments }}
              </div>
            </div>
          </div>

          <span class="group-page__bucket-subheader">
            {{ bucket.authorName }} - {{ bucket.totalContributions | currency : group.currencySymbol : 0 }}
          </span>
        </div>
      </md-list-item>
    </md-list>
  </md-card>

  <!-- completedBuckets -->
  <md-card class="group-page__buckets-card" ng-if="group.completedBuckets().length > 0 && completedBucketsShown">
    <md-list class="group-page__buckets-list">
      <div layout="row" layout-align="start center" class="group-page__buckets-list-header-container">
        <ng-md-icon icon="done_all"
          layout="column"
          layout-align="center center"
          size="27"
          class="group-page__bucket-list-icon group-page__bucket-list-completed-icon"
        ></ng-md-icon>

        <h2 class="group-page__subheader-title">Completed</h2>

        <span flex></span>

        <md-button class="group-page-buckets__hide-completed-buckets-btn" ng-click="hideCompletedBuckets()">Hide</md-button>
      </div>

      <md-divider class="group-page__buckets-divider"></md-divider>

      <md-list-item md-no-ink ng-repeat="bucket in group.completedBuckets()" ng-click="showBucket(bucket.id)" class="group-page__buckets-list-item">
        <div layout="column" flex class="group-page__bucket-container">
          <div layout="row" layout-align="start center" class="group-page__bucket-header-container">
            <span class="group-page__bucket-title">{{ bucket.name }}</span>

            <span flex class="group-page__bucket-comment-buffer"></span>

            <div class="group-page__comment-count-container">
              <ng-md-icon
                size="22"
                icon="mode_comment"
                layout="column"
                layout-align="center center"
                ng-class="bucket.hasComments() ? 'group-page__comment-icon-active' : 'group-page__comment-icon-inactive'"
              ></ng-md-icon>

              <div class="group-page__comment-count" ng-if="bucket.hasComments()">
                {{ bucket.numOfComments }}
              </div>
            </div>
          </div>

          <span class="group-page__bucket-subheader">
            {{ bucket.authorName }} - {{ bucket.totalContributions | currency : group.currencySymbol : 0 }}
          </span>
        </div>
      </md-list-item>
    </md-list>
  </md-card>

  <div class="group-page-buckets__show-completed-buckets-btn-container" layout="row" ng-if="group.completedBuckets().length > 0">
    <div class="group-page-buckets__show-completed-buckets-btn" layout="row" layout-align="center center" ng-click="showCompletedBuckets()"  ng-if="!completedBucketsShown">
      <ng-md-icon icon="done_all"
        layout="column"
        layout-align="center center"
        class="group-page-buckets__show-completed-buckets-btn-icon"
      ></ng-md-icon>

      <div class="group-page-buckets__show-completed-buckets-btn-label">
        Show Completed Buckets
      </div>
    </div>
  </div>

  <!-- cancelledBuckets -->
  <md-card class="group-page__buckets-card" ng-if="group.cancelledBuckets().length > 0 && cancelledBucketsShown">
    <md-list class="group-page__buckets-list">
      <div layout="row" layout-align="start center" class="group-page__buckets-list-header-container">
        <ng-md-icon icon="cancel"
          layout="column"
          layout-align="center center"
          size="27"
          class="group-page__bucket-list-icon group-page__bucket-list-cancelled-icon"
        ></ng-md-icon>

        <h2 class="group-page__subheader-title">Cancelled</h2>

        <span flex></span>

        <md-button class="group-page-buckets__hide-cancelled-buckets-btn" ng-click="hideCancelledBuckets()">Hide</md-button>
      </div>

      <md-divider class="group-page__buckets-divider"></md-divider>

      <md-list-item md-no-ink ng-repeat="bucket in group.cancelledBuckets()" ng-click="showBucket(bucket.id)" class="group-page__buckets-list-item">
        <div layout="column" flex class="group-page__bucket-container">
          <div layout="row" layout-align="start center" class="group-page__bucket-header-container">
            <span class="group-page__bucket-title">{{ bucket.name }}</span>

            <span flex class="group-page__bucket-comment-buffer"></span>

            <div class="group-page__comment-count-container">
              <ng-md-icon
                size="22"
                icon="mode_comment"
                layout="column"
                layout-align="center center"
                ng-class="bucket.hasComments() ? 'group-page__comment-icon-active' : 'group-page__comment-icon-inactive'"
              ></ng-md-icon>

              <div class="group-page__comment-count" ng-if="bucket.hasComments()">
                {{ bucket.numOfComments }}
              </div>
            </div>
          </div>

          <span class="group-page__bucket-subheader">
            {{ bucket.authorName }} - {{ bucket.createdAt | timeFromNowInWords }} ago
          </span>
        </div>
      </md-list-item>
    </md-list>
  </md-card>

  <div class="group-page-buckets__show-cancelled-buckets-btn-container" layout="row" ng-if="group.cancelledBuckets().length > 0">
    <div class="group-page-buckets__show-cancelled-buckets-btn" layout="row" layout-align="center center" ng-click="showCancelledBuckets()"  ng-if="!cancelledBucketsShown">
      <ng-md-icon icon="cancel"
        layout="column"
        layout-align="center center"
        class="group-page-buckets__show-cancelled-buckets-btn-icon"
      ></ng-md-icon>

      <div class="group-page-buckets__show-cancelled-buckets-btn-label">
        Show Cancelled Buckets
      </div>
    </div>
  </div>
</div>
