<div class="group-page__buckets-content">
  <md-card class="group-page__buckets-card" ng-if="group.liveBuckets().length > 0">
    <md-list class="group-page__buckets-list">
      <div layout="row" layout-align="start center" class="group-page__buckets-list-header-container">
        <img ng-src="./img/blue_dollar.svg" alt="blue dollar bill" class="group-page__bucket-list-icon"/>
        <md-subheader class="group-page__subheader-title">Funding Now</md-subheader>
      </div>

      <md-divider class="group-page__buckets-divider"></md-divider>

      <md-list-item md-no-ink ng-repeat="bucket in group.liveBuckets()" ng-click="showBucket(bucket.id)" class="group-page__buckets-list-item">
        <div layout="column" flex class="group-page__bucket-container">
          <div layout="row" layout-align="start center" class="group-page__bucket-header-container">
            <span class="group-page__bucket-title">{{ bucket.name }}</span>

            <span flex class="group-page__bucket-comment-buffer"></span>

            <div class="group-page__comment-count-container">
              <ng-md-icon
                size="22"
                icon="chat_bubble"
                layout="column"
                layout-align="center center"
                ng-class="bucket.hasComments() ? 'group-page__comment-icon-active' : 'group-page__comment-icon-inactive'"
              ></ng-md-icon>

              <div class="group-page__comment-count" ng-if="bucket.hasComments()">
                {{ bucket.numOfComments }}
              </div>
            </div>
          </div>

          <div layout="row" layout-align="space-between center">
            <span class="group-page__bucket-subheader">{{ bucket.totalContributions | currency : group.currencySymbol : 0 }} funded - <b>{{ bucket.amountRemaining() | currency : group.currencySymbol : 0  }} to go</b></span>

            <span ng-show="bucket.amountContributedByUser(currentUser) > 0" class="group-page__live-bucket-personal-contribution">
              You gave {{ bucket.amountContributedByUser(currentUser) | currency : group.currencySymbol : 0 }}
            </span>
          </div>

          <div class="group-page__progress-bar-container">
            <div class="group-page__progress-bar-primary" style="width: {{ bucket.percentContributedByOthers(currentUser) }}%"></div>
            <div class="group-page__progress-bar-secondary" style="width: {{ bucket.percentContributedByUser(currentUser) + bucket.percentContributedByOthers(currentUser) }}%"></div>
          </div>
        </div>
      </md-list-item>
    </md-list>
  </md-card>

  <md-card class="group-page__buckets-card" ng-if="group.draftBuckets().length > 0">
    <md-list class="group-page__buckets-list">
      <div layout="row" layout-align="start center" class="group-page__buckets-list-header-container">
        <img ng-src="./img/lightbulb.svg" alt="lightbulb" class="group-page__bucket-list-icon"/>
        <md-subheader class="group-page__subheader-title">Ideas</md-subheader>
      </div>

      <md-divider class="group-page__buckets-divider"></md-divider>

      <md-list-item md-no-ink ng-repeat="bucket in group.draftBuckets()" ng-click="showBucket(bucket.id)" class="group-page__buckets-list-item">
        <div layout="column" flex class="group-page__bucket-container">
          <div layout="row" layout-align="start center" class="group-page__bucket-header-container">
            <span class="group-page__bucket-title">{{ bucket.name }}</span>

            <span flex class="group-page__bucket-comment-buffer"></span>

            <div class="group-page__comment-count-container">
              <ng-md-icon
                size="22"
                icon="chat_bubble"
                layout="column"
                layout-align="center center"
                ng-class="bucket.hasComments() ? 'group-page__comment-icon-active' : 'group-page__comment-icon-inactive'"
              ></ng-md-icon>

              <div class="group-page__comment-count" ng-if="bucket.hasComments()">
                {{ bucket.numOfComments }}
              </div>
            </div>
          </div>

          <span class="group-page__bucket-subheader">{{ bucket.authorName }} - {{ bucket.createdAt | timeFromNowInWords }} ago</span>
        </div>
      </md-list-item>
    </md-list>
  </md-card>

  <md-card class="group-page__buckets-card" ng-if="group.fundedBuckets().length > 0">
    <md-list class="group-page__buckets-list">
      <div layout="row" layout-align="start center" class="group-page__buckets-list-header-container">
        <ng-md-icon icon="check_circle"
          layout="column"
          layout-align="center center"
          size="27"
          class="group-page__bucket-list-icon group-page__bucket-list-funded-icon"
        ></ng-md-icon>
        <md-subheader class="group-page__subheader-title">Funded</md-subheader>
      </div>

      <md-divider class="group-page__buckets-divider"></md-divider>

      <md-list-item md-no-ink ng-repeat="bucket in group.fundedBuckets()" ng-click="showBucket(bucket.id)" class="group-page__buckets-list-item">
        <div layout="column" flex class="group-page__bucket-container">
          <div layout="row" layout-align="start center" class="group-page__bucket-header-container">
            <span class="group-page__bucket-title">{{ bucket.name }}</span>

            <span flex class="group-page__bucket-comment-buffer"></span>

            <div class="group-page__comment-count-container">
              <ng-md-icon
                size="22"
                icon="chat_bubble"
                layout="column"
                layout-align="center center"
                ng-class="bucket.hasComments() ? 'group-page__comment-icon-active' : 'group-page__comment-icon-inactive'"
              ></ng-md-icon>

              <div class="group-page__comment-count" ng-if="bucket.hasComments()">
                {{ bucket.numOfComments }}
              </div>
            </div>
          </div>

          <span class="group-page__bucket-subheader">{{ bucket.authorName }} - {{ bucket.totalContributions | currency : group.currencySymbol : 0 }}</span>
        </div>
      </md-list-item>
    </md-list>
  </md-card>

  <md-card class="group-page__buckets-card" ng-if="group.archivedBuckets().length > 0 && archivedBucketsShown">
    <md-list class="group-page__buckets-list">
      <div layout="row" layout-align="start center" class="group-page__buckets-list-header-container">
        <ng-md-icon icon="archive"
          layout="column"
          layout-align="center center"
          size="27"
          class="group-page__bucket-list-icon group-page__bucket-list-archived-icon"
        ></ng-md-icon>

        <md-subheader class="group-page__subheader-title">Archived</md-subheader>

        <span flex></span>

        <md-button class="group-page-buckets__hide-archived-buckets-btn" ng-click="hideArchivedBuckets()">Hide</md-button>
      </div>

      <md-divider class="group-page__buckets-divider"></md-divider>

      <md-list-item md-no-ink ng-repeat="bucket in group.archivedBuckets()" ng-click="showBucket(bucket.id)" class="group-page__buckets-list-item">
        <div layout="column" flex class="group-page__bucket-container">
          <div layout="row" layout-align="start center" class="group-page__bucket-header-container">
            <span class="group-page__bucket-title">{{ bucket.name }}</span>

            <span flex class="group-page__bucket-comment-buffer"></span>

            <div class="group-page__comment-count-container">
              <ng-md-icon
                size="22"
                icon="chat_bubble"
                layout="column"
                layout-align="center center"
                ng-class="bucket.hasComments() ? 'group-page__comment-icon-active' : 'group-page__comment-icon-inactive'"
              ></ng-md-icon>

              <div class="group-page__comment-count" ng-if="bucket.hasComments()">
                {{ bucket.numOfComments }}
              </div>
            </div>
          </div>

          <span class="group-page__bucket-subheader">
            {{ bucket.authorName }} - {{ bucket.createdAt | timeFromNowInWords }} ago
            <span ng-if="bucket.status == 'funded'">- <b>funded</b></span>
          </span>
        </div>
      </md-list-item>
    </md-list>
  </md-card>

  <div class="group-page-buckets__show-archived-buckets-btn-container" layout="row" ng-if="group.archivedBuckets().length > 0">
    <div class="group-page-buckets__show-archived-buckets-btn" layout="row" layout-align="center center" ng-click="showArchivedBuckets()"  ng-if="!archivedBucketsShown">
      <ng-md-icon icon="archive"
        layout="column"
        layout-align="center center"
        class="group-page-buckets__show-archived-buckets-btn-icon"
      ></ng-md-icon>

      <div class="group-page-buckets__show-archived-buckets-btn-label">
        Show Archived Buckets
      </div>
    </div>
  </div>
</div>
