.create-bucket-page {
  position: relative;
  height: 100%;
  background: white;
}

// toolbar heading

.create-bucket-page__toolbar {
  background: $cobudget-gunmetal !important;
  color: white;
}

.create-bucket-page__cancel-icon {
  @include fontGrande;
  fill: white;
}

.create-bucket-page__header-text {
  @include fontLarge;
}

// content

.create-bucket-page__content {
  max-width: 640px;
  margin: 0 auto;
}

// help text

.create-bucket-page__subheader-title {
  color: $cob-pink;
  padding: 0 10px;
}

.create-bucket-page__subheader-text {
  padding: 0 10px;

}

// form

.create-bucket-page__form {
  padding: 10px;
}

.create-bucket-page__form md-input-container {
  display: block;
}

.create-bucket-page__form md-input-container md-select {
  padding-bottom: 20px;
}

.create-bucket-page__target-optional-text {
  color: $cobudget-blue;
}

.create-bucket-page__description-container {
  position: relative;
  margin: 18px 0;
}

.create-bucket-page__markdown-link {
  position: absolute;
  right: 0px;
  bottom: 8px;
  font-size: 12px;
  color: rgba(0,0,0,0.26);
}

.create-bucket-page__btn {
  margin: 0 !important;
  margin-bottom: 10px !important;
}

.create-bucket-page__confirm-btn {
  background: $cob-pink !important;
  color: white;
}
