// file for build all the sass together
// and any config relating to the build.
// app config (like bootstrap variables) are also here, before anything else.

// ask mikey how to mass import shit
@import './components/mixins.scss';
@import './components/utilities.scss';

@import './components/landing-page/landing-page.scss';
@import './components/login-page/login-page.scss';
@import './components/group-page/group-page.scss';
@import './components/create-bucket-page/create-bucket-page.scss';
@import './components/bucket-page/bucket-page.scss';
@import './components/edit-bucket-page/edit-bucket-page.scss';
@import './components/admin-page/admin-page.scss';
@import './components/confirm-account-page/confirm-account-page.scss';
@import './components/group-setup-page/group-setup-page.scss';
@import './components/forgot-password-page/forgot-password-page.scss';
@import './components/reset-password-page/reset-password-page.scss';
@import './components/email-settings-page/email-settings-page.scss';
@import './components/profile-settings-page/profile-settings-page.scss';
@import './components/manage-group-funds-page/manage-group-funds-page.scss';
@import './components/review-bulk-allocation-page/review-bulk-allocation-page.scss';
@import './components/invite-members-page/invite-members-page.scss';
@import './components/review-bulk-invite-members-page/review-bulk-invite-members-page.scss';
@import './components/analytics-page/analytics-page.scss';
@import './components/resources-page/resources-page.scss';
@import './components/about-page/about-page.scss';
@import './components/group-analytics-page/group-analytics-page.scss';

@import './directives/setup-toolbar/setup-toolbar.scss';
@import './directives/toolbar-dropdown-menu/toolbar-dropdown-menu.scss';
@import './directives/admin-toolbar/admin-toolbar.scss';
@import './directives/landing-page-toolbar/landing-page-toolbar.scss';

@import './directives/group-page-sidenav/group-page-sidenav.scss';
@import './directives/group-page-toolbar/group-page-toolbar.scss';
@import './directives/group-page-buckets/group-page-buckets.scss';
@import './directives/group-page-funders/group-page-funders.scss';
@import './directives/group-page-analytics/group-page-analytics.scss';
@import './directives/group-page-help/group-page-help.scss';
@import './directives/group-page-header/group-page-header.scss';

@import './directives/bucket-page-header-card/bucket-page-header-card.scss';
@import './directives/bucket-page-progress-card/bucket-page-progress-card.scss';
@import './directives/bucket-page-backers-card/bucket-page-backers-card.scss';
@import './directives/bucket-page-status-card/bucket-page-status-card.scss';
@import './directives/bucket-page-activity-card/bucket-page-activity-card.scss';
@import './directives/bucket-page-manage-card/bucket-page-manage-card.scss';

@import './components/bulk-allocation-primer-dialog/bulk-allocation-primer-dialog.scss';
@import './components/bulk-invite-members-primer-dialog/bulk-invite-members-primer-dialog.scss';
@import './components/upload-csv-primer-dialog-error/upload-csv-primer-dialog-error.scss';
@import './components/remove-membership-dialog/remove-membership-dialog.scss';
@import './components/archive-bucket-dialog/archive-bucket-dialog.scss';
@import './components/finish-bucket-dialog/finish-bucket-dialog.scss';
@import './components/paid-bucket-dialog/paid-bucket-dialog.scss';

@import './directives/error-page/error-page.scss';
@import './directives/loading-page/loading-page.scss';

@import './components/globals.scss';
