// file for build all the sass together
// and any config relating to the build.
// app config (like bootstrap variables) are also here, before anything else.

// ask mikey how to mass import shit
@import './components/mixins.scss';
@import './components/utilities.scss';

@import './components/welcome-page/welcome-page.scss';
@import './components/group-page/group-page.scss';
@import './components/create-bucket-page/create-bucket-page.scss';
@import './components/bucket-page/bucket-page.scss';
@import './components/edit-bucket-page/edit-bucket-page.scss';
@import './components/admin-page/admin-page.scss';
@import './components/confirm-account-page/confirm-account-page.scss';

@import './directives/group-page/sidenav/sidenav.scss';

@import './directives/error-page/error-page.scss';

@import './components/ng-material-customs.scss';

// loading-bar

.loading-bar {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.loading-bar md-progress-circular .md-inner .md-left .md-half-circle {
  border-left-color: $cobudget-orange;
}

.loading-bar md-progress-circular .md-inner .md-right .md-half-circle {
  border-right-color: $cobudget-green;
}

.loading-bar md-progress-circular .md-inner .md-left .md-half-circle, 
.loading-bar md-progress-circular .md-inner .md-right .md-half-circle {
  border-top-color: $cobudget-orange;
}