// file for build all the sass together
// and any config relating to the build.
// app config (like bootstrap variables) are also here, before anything else.

// feedback form
// NOTE where should this code be?
.feedback {
  z-index: 100000; // always on top
  position: fixed;
  right: round(15 / 2);
  bottom: round(15 / 2);
  background-color: #FFC0CB;
}
