<div class="email-settings-page" ng-if="authorized">
  <md-toolbar class="md-whiteframe-z1 email-settings-page__toolbar" layout-align="column">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" ng-click="attemptCancel(emailSettingsForm)" aria-label="cancel">
        <ng-md-icon icon="close"
          class="email-settings-page__cancel-icon"
          layout="column"
          layout-align="center center"
        ></ng-md-icon>
      </md-button>
      <span class="email-settings-page__header-text">Email Settings</span>
    </div>
  </md-toolbar>

  <md-content class="email-settings-page__content">
    <form novalidate name="emailSettingsForm" class="email-settings-page__form" ng-submit="save(); emailSettingsForm.$setPristine()">
      <div layout="row" layout-align="start center" class="email-settings-page__email-setting">
        <div layout="column" layout-align="start center">
          <div class="email-settings-page__setting-header">
            Receive email notifications?
          </div>
        </div>

        <span flex></span>

        <md-checkbox
          name="subscribedToEmailNotifications"
          ng-model="subscriptionTracker.subscribedToEmailNotifications"
          aria-label="subscribed to email notifications"
          class="email-settings-page__checkbox">
        </md-checkbox>
      </div>

      <div layout="row" layout-align="start center" class="email-settings-page__email-setting-note">
        <span>Check the box to get updates on buckets you create or participate in.</span>
      </div>

      <div layout="row" layout-align="start center" class="email-settings-page__email-setting">
        <div layout="column" layout-align="start center">
          <div class="email-settings-page__setting-header">
            Receive email digest?
          </div>
        </div>

        <span flex></span>

        <md-select required
          class="email-settings-page__notification-frequency-options"
          name="emailDigestDeliveryFrequency"
          ng-model="subscriptionTracker.emailDigestDeliveryFrequency"
          aria-label="notification frequency options"
        >
          <md-option required ng-repeat="option in emailDigestDeliveryFrequencyOptions" value="{{option}}">
            {{option}}
          </md-option>
        </md-select>
      </div>
      
      <div layout="row" layout-align="start center" class="email-settings-page__email-setting-note">
        <span>Choose how frequently you would like to receive email about new activity in your groups.</span>
      </div>

      <md-button class="md-raised md-primary email-settings-page__save-btn" ng-disabled="emailSettingsForm.$pristine">save</md-button>
    </form>
  </md-content>
</div>
