// toolbar heading

.email-settings-page__toolbar {
  background: $cobudget-gunmetal;
  color: white;
}

.email-settings-page__cancel-icon {
  @include fontGrande;
  fill: white;
}

.email-settings-page__header-text {
  @include fontLarge;
}

.email-settings-page__done-button-text {
  margin-right: 5px;
}


// settings list

.email-settings-page__subheader {
  font-weight: normal;
  font-size: 20px;
  padding-left: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.email-settings-page__horizontal-divider {
  margin: 20px auto;
}

.email-settings-page__content {
  padding: 15px;
}

.email-settings-page__checkbox {
  margin-right: 10px;
}

.email-settings-page__checkbox.md-checked .md-icon {
  background-color: $grey-on-white;
}

.email-settings-page__setting-header {
  font-weight: 500;
  color: $grey-on-white;
}

.email-settings-page__notification-frequency-options {
  padding-left: 10px;
  padding-right: 10px;
}
