<div class="forgot-password-page" ng-hide="userConfirmingAccount">
  <md-toolbar class="md-primary forgot-password-page__toolbar">
    <h1 class="md-toolbar-tools forgot-password-page__heading" layout-align="center">Having trouble logging in?</h1>
  </md-toolbar>


  <md-content layout-padding class="forgot-password-page__content">
    <div class="forgot-password-page__subheading">
      Enter your email address here and we'll send you an email to reset your account.
    </div>

    <form name="form" ng-submit="requestPassword(); form.$setUntouched()">
      <md-input-container>
        <label>email</label>
        <input required name="email" type="email" ng-model="formData.email">
        <div ng-messages="form.email.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>

      <md-button class="forgot-password-page__submit-btn">submit</md-button>
    </form>
  </md-content>
</div>