<div class="landing-page-toolbar" layout="row" layout-align="end center">
  <a href="/" class="landing-page-toolbar__logo-link">
    <img class="landing-page-toolbar__logo" ng-src="/img/logo_inline.svg" alt=""/>
    <em class="landing-page-toolbar__beta">beta</em>
  </a>

  <span class="landing-page-toolbar__logo-link-buffer" flex></span>

  <md-menu hide-gt-xs>
    <md-button aria-label="home" aria-label="menu" class="landing-page-toolbar__xs-menu-btn" ng-click="$mdMenu.open($event)">
      <ng-md-icon icon="menu"></ng-md-icon>
    </md-button>
    <md-menu-content>
      <md-menu-item>
        <md-button aria-label="create group" ng-click="createGroupDialog()">
          Create group
        </md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button aria-label="take a tour" ng-click="redirectToHomePageTour()">
          Tour
        </md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button aria-label="case studies" ng-click="redirectToHomePageStudies()">
          Case studies
        </md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button aria-label="pricing" ng-click="redirectToHomePagePricing()">
          Pricing
        </md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button aria-label="services" aria-label="login" ng-click="redirectToServicesPage()">
          Services
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>

  <span flex class="landing-page-toolbar__header-separator"></span>

  <md-menu hide-xs>
    <md-button aria-label="about" ng-click="$mdMenu.open($event)">
      About
    </md-button>
    <md-menu-content>
      <md-menu-item>
        <md-button aria-label="tour" ng-click="redirectToHomePageTour()">
          Tour
        </md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button aria-label="case studies" ng-click="redirectToHomePageStudies()">
          Case studies
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>

  <md-button aria-label="pricing" hide-xs ng-click="redirectToHomePagePricing()">
    Pricing
  </md-button>

  <md-button aria-label="service" hide-xs aria-label="login" ng-click="redirectToServicesPage()">
    Services
  </md-button>

  <md-button aria-label="create a group" hide-xs class="md-raised md-primary landing-page-toolbar__early-access-btn" ng-click="createGroupDialog()">
    Create group
  </md-button>

  <md-button aria-label="login" class="landing-page-toolbar__login-btn" aria-label="login" ng-click="redirectToLoginPage()">
    Log in
  </md-button>
</div>
