<div class="project-page">
  <md-toolbar class="project-page__toolbar">
    <div class="md-toolbar-tools project-page__menu-bar">
      <md-button class="md-icon-button" aria-label="Settings" ng-click="back()">
        <div layout="column" layout-align="center center">
          <i class="material-icons project-page__menu-icon">arrow_back</i>
        </div>
      </md-button>

      <span class="project-page__personal-funds" layout="row" layout-align="start center" ng-if="status == 'live'">
        <div layout="column" layout-align="center center">
          <i class="material-icons project-page__funds-icon">person</i>
        </div>
        <div layout="column" layout-align="center center">
          <span class="project-page__funds-overview-header">Your funds</span>
          <span class="project-page__funds-overview-amount">{{ currentMembership.balance() - contribution.amount | currency : "$" : 0 }}</span>
        </div>
      </span>

      <span flex></span>

      <span ng-show="userCanEditDraft()">
        <md-button class="project-page__edit-button" ng-click="editDraft()">Edit</md-button>
      </span>

      <md-button class="md-icon-button project-page-menu-button" aria-label="More" ng-click="toggleStatus()">
        <div layout="column" layout-align="center center">
          <i class="material-icons project-page__menu-icon">more_vert</i>
        </div>
      </md-button>
    </div>
   </md-toolbar> 

  <md-content class="project-page__content">
    <md-card class="project-page__header-card">
      <md-card-content class="project-page__header-card-content">
        <div class="project-page__title">{{ project.name }}</div>
        <div class="project-page__author">created by {{ project.author().name }} {{ project.createdAt | timeFromNowInWords }} ago</div>
      </md-card-content>

      <md-card-content class="project-page__description-card">
        <div layout="row" ng-if="project.target > 0">
          <span class="project-page__description-header">Funding Target</span>
          <span flex="10"></span>
          <span class="project-page__description-header" flex>{{ project.target | currency : "$" : 0  }}</span>
        </div>

        <div ng-hide="showFullDescription">
          <p class="project-page__description-text">{{ project.description | limitTo:100 }} <span ng-if="project.description.length > 100">...</span></p>
          <md-button md-no-ink class="md-primary project-page__more-button" ng-click="readMore()">Read More</md-button>          
        </div>

        <div ng-show="showFullDescription">
          <p class="project-page__description-text">{{ project.description }}</p>
          <md-button md-no-ink class="md-primary project-page__more-button" ng-click="showLess()">Show Less</md-button>
        </div>
      </md-card-content>
    </md-card>

    <md-card class="draft-page__progress-card" ng-if="status == 'live'">
      <md-card-content class="project-page__progress-card-content">
        <span class="project-page__progress-header">Progress</span>

        <md-progress-linear md-mode="determinate" value="{{ totalPercentFunded() }}" class="project-page__progress-bar"></md-progress-linear>

        <div layout="row" class="project-page__progress-info">
          <div flex="25">
            <span class="project-page__progress-amount">{{ project.numOfContributors }}</span>
            <span class="project-page__progress-unit">backers</span>
          </div>

          <div flex>
            <span class="project-page__progress-amount">{{ totalAmountFunded() | currency : "$" : 0 }}</span>
            <span class="project-page__progress-unit">pledged of {{ project.target | currency : "$" : 0 }}</span>
          </div>

          <div flex="25" ng-show="project.fundingClosesAt">
            <span class="project-page__progress-amount">{{ project.fundingClosesAt | timeToNowAmount }}</span>
            <span class="project-page__progress-unit">{{ project.fundingClosesAt | timeToNowUnits }} left</span>
          </div>
        </div>
        
        <form class="project-page__fund-form" layout="row">
          <md-input-container class="project-page__fund-form-input-container" ng-if="fundFormOpened">
            <label>Amount</label>
            <input class="project-page__fund-form-amount-input" type="number" step="any" min="0" pattern="[0-9]*" ng-model="contribution.amount" ng-change="normalizeContributionAmount()" ng-keypress="normalizeContributionAmount()" focus-if>
          </md-input-container>

          <md-button class="md-raised md-primary" ng-click='openFundForm()' ng-hide="fundFormOpened">Fund</md-button>
          <md-button class="md-raised md-primary" ng-click='submitContribution()' ng-show="fundFormOpened">Submit</md-button>
        </form>

      </md-card-content>
    </md-card>

    <md-card class="project-page__status-card">
      <md-card-content class="project-page__status-card-content">
        <div class="project-page__status-header">Status</div>
        <div class="project-page__status-flagpoints" layout="row" layout-align="space-between center">
          <div class="project-page__status-flagpoint">
            <div layout="column" layout-align="center center" ng-show="status === 'draft'">
              <i class="material-icons project-page__draft-icon">radio_button_on</i>
              <span class="project-page__status-flagpoint-text-active">Idea</span>
            </div>

            <div layout="column" layout-align="center center" ng-hide="status === 'draft'">
              <i class="material-icons project-page__status-icon-inactive">radio_button_off</i>
              <span class="project-page__status-flagpoint-text-inactive">Idea</span>
            </div>
          </div>

          <div class="project-page__status-flagpoint-divider" flex></div>

          <div class="project-page__status-flagpoint">
            <div layout="column" layout-align="center center" ng-show="status === 'live'">
              <i class="material-icons project-page__live-icon">radio_button_on</i>
              <span class="project-page__status-flagpoint-text-active">Funding</span>
            </div>

            <div layout="column" layout-align="center center" ng-hide="status === 'live'">
              <i class="material-icons project-page__status-icon-inactive">radio_button_off</i>
              <span class="project-page__status-flagpoint-text-inactive">Funding</span>
            </div>
          </div>

          <div class="project-page__status-flagpoint-divider" flex></div>

          <div class="project-page__status-flagpoint">
            <div layout="column" layout-align="center center" ng-show="status === 'funded'">
              <i class="material-icons project-page__funded-icon">radio_button_on</i>
              <span class="project-page__status-flagpoint-text-active">Funded</span>
            </div>

            <div layout="column" layout-align="center center" ng-hide="status === 'funded'">
              <i class="material-icons project-page__status-icon-inactive">radio_button_off</i>
              <span class="project-page__status-flagpoint-text-inactive">Funded</span>
            </div>
          </div>

          <div class="project-page__status-flagpoint-divider" flex></div>

          <div class="project-page__status-flagpoint">
            <div layout="column" layout-align="center center" ng-show="status === 'done'">
              <i class="material-icons project-page__done-icon">radio_button_on</i>
              <span class="project-page__status-flagpoint-text-active">Done</span>
            </div>

            <div layout="column" layout-align="center center" ng-hide="status === 'done'">
              <i class="material-icons project-page__status-icon-inactive">radio_button_off</i>
              <span class="project-page__status-flagpoint-text-inactive">Done</span>
            </div>
          </div>
        </div>

        <div class="project-page__status-description" ng-show="status === 'draft'">
          <p><em>This bucket idea is still being discussed and designed</em></p>

          <div ng-show='userCanStartFunding()'>
            <p><em>As an administrator or creator, you can approve this bucket for funding when it is ready</em></p>
            <md-button class="md-raised md-primary" ng-click='openForFunding()'>Start Funding</md-button>
          </div>
        </div>

        <div class="project-page__status-description" ng-show="status === 'live'">
          <p><em>This bucket has been launched and can be funded.</em></p>
        </div>
      </md-card-content>
    </md-card>

    <md-card class="project-page__activity-card">
      <md-card-content class="project-page__activity-card-content">
        <div class="project-page__activity-header" layout="row">
          <span>
            <div layout="column" layout-align="center center">
              Activity
            </div>
          </span>
          <span flex></span>
          <span>
            <div layout="column" layout-align="center center">
              <i class="material-icons project-page__comment-count-icon">messenger</i>
              <div class="project-page__comment-count">{{ project.comments().length }}</div>
            </div>
          </span>
        </div>

        <form name='commentForm' class="project-page__comment-form" ng-submit="createComment()">
          <md-input-container>
            <label>Add a comment</label>
            <input name="body" type="text" ng-model="newComment.body">
          </md-input-container>

          <md-input-container class="cob-hidden-submit-button">
            <input type="submit" aria-label="submit">
          </md-input-container>
        </form>
      </md-card-content>

      <md-list>
        <md-list-item class="project-page__comment" ng-repeat="comment in project.comments()" layout="column" layout-align="center start">
          <md-divider></md-divider>
          <div class="project-page__comment-author-name">{{ comment.author().name }}</div>
          <div class="project-page__comment-body">{{ comment.body }}</div>
        </md-list-item>
      </md-list>
    </md-card>
  </md-content>
</div>