<div class="project-page">
  <md-toolbar class="project-page__toolbar">
    <div class="md-toolbar-tools project-page__menu-bar">
      <md-button class="md-icon-button" aria-label="Back" ng-click="back()">
        <div layout="column" layout-align="center center">
          <i class="material-icons project-page__menu-icon">arrow_back</i>
        </div>
      </md-button>
      <span class="project-page__group-name">{{ group.name | limitTo: 16 }} <span ng-if="group.name.length > 16">...</span></span>
      <span flex></span>
      <md-button class="md-icon-button project-page-menu-button" aria-label="More">
        <div layout="column" layout-align="center center">
          <i class="material-icons project-page__menu-icon">more_vert</i>
        </div>
      </md-button>
    </div>

    <div class="md-toolbar-tools project-page__funds-bar">
      <div flex="50" layout="row" class="project-page__funds-overview" >
        <div layout="column" layout-align="center center">
          <i class="material-icons project-page__funds-icon">person</i>
        </div>
        <div layout="column" layout-align="center center">
          <span class="project-page__funds-overview-header">Your funds</span>
          <!-- <span class="project-page__funds-overview-amount">{{ group.personalFunds | currency : "$" : 0 }}</span> -->
          <span class="project-page__funds-overview-amount">$250</span>
        </div>
      </div>
      <div flex="50" layout="row" class="project-page__funds-overview" >
        <div layout="column" layout-align="center center">
          <i class="material-icons project-page__funds-icon">group</i>
        </div>
        <div layout="column" layout-align="center center">
          <span class="project-page__funds-overview-header">Total funds</span>
          <!-- <span class="project-page__funds-overview-amount">{{ group.totalFunds | currency : "$" : 0  }}</span> -->
          <span class="project-page__funds-overview-amount">$10000</span>
        </div>
      </div>
    </div>
  </md-toolbar>  

  <md-content>
    <md-card>
      <md-card-content class="project-page__header-card">
        <span class="project-page__title">{{ bucket.name }}</span>
        <span class="project-page__author">created by {{ bucket.authorName }} {{ bucket.ageInDays }} days ago</span>
      </md-card-content>
  
      <div class="project-page__fund-fab-container">
        <md-button class="md-fab project-page__fund-fab" aria-label="Fund">
          <div layout="column" layout-align="center center">
            <i class="material-icons">attach_money</i>
          </div>
        </md-button>
      </div>
  
      <md-card-content class="project-page__description-card">
        <span class="project-page__description-header">Description</span>

        <div ng-hide="showFullDescription">
          <p class="project-page__description-text">{{ bucket.description | limitTo:100 }} <span ng-if="bucket.description.length > 100">...</span></p>
          <md-button md-no-ink class="md-primary project-page__more-button" ng-click="readMore()">Read More</md-button>          
        </div>

        <div ng-show="showFullDescription">
          <p class="project-page__description-text">{{ bucket.description }}</p>
          <md-button md-no-ink class="md-primary project-page__more-button" ng-click="showLess()">Show Less</md-button>
        </div>
      </md-card-content>
    </md-card>

    <md-card class="project-page__progress-card">
      <md-card-content class="project-page__progress-card-content">
        <span class="project-page__progress-header">Progress</span>

        <md-progress-linear md-mode="determinate" value="{{ bucket.percentFunded() }}" class="project-page__progress-bar"></md-progress-linear>

        <div layout="row" class="project-page__progress-info">
          <div flex="25">
            <span class="project-page__progress-amount">{{ bucket.numOfContributors }}</span>
            <span class="project-page__progress-unit">backers</span>
          </div>

          <div flex>
            <span class="project-page__progress-amount">{{ bucket.totalContributions | currency : "$" : 0 }}</span>
            <span class="project-page__progress-unit">pledged of {{ bucket.target | currency : "$" : 0 }}</span>
          </div>

          <div flex="25">
            <span class="project-page__progress-amount">{{ bucket.ageInDays }}</span>
            <span class="project-page__progress-unit">days left</span>
          </div>
        </div>
      </md-card-content>
    </md-card>
  </md-content>
</div>