// status card

.bucket-page__status-card {
  background: $cobudget-light-grey;
  width: 100%;
  margin: 0;
  margin-bottom: 16px;
}

.bucket-page__status-card-content {
  padding: 10px 20px;
}

.bucket-page__status-header {
  font-size: 18px;
  margin-bottom: 17px;
  margin-top: 6px;
  font-weight: 500;
}

.bucket-page__idea-icon {
  margin-right: 15px;
  width: 50px;
}

.bucket-page__status {
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  margin-bottom: 5px;
  color: #757575;
}

.bucket-page__status-description {
  font-size: 14px;
  margin: 0;
  color: #333333;
}

.bucket-page__start-funding-btn {
  background-color: $cob-green !important;
  width: 100%;
  height: 35px;
  min-height: 35px;
  line-height: 15px;
  font-size: 15px;
  font-weight: 600;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 3px;
}

.bucket-page__start-funding-btn:not([disabled]):hover {
  background-color: $cob-green;
}

// funded bucket

.bucket-page-status-card__funded-icon {
  fill: $cob-green;
  margin-right: 15px;
}

.bucket-page-status-card__funded-status-container {
  margin-bottom: 10px;
}

// archived bucket

.bucket-page-status-card__archived-icon {
  fill: rgba(0,0,0,0.35);
  margin-right: 15px;
}

.bucket-page-status-card__archived-status-container {
  margin-bottom: 10px;
}
