<md-card class="bucket-page__status-card">
  <md-card-content class="bucket-page__status-card-content">
    <div class="bucket-page__status-header">Status</div>

    <div ng-if="!bucket.isArchived()">
      <div ng-if="bucket.status == 'draft'">
        <div layout="row" layout-align="start center">
          <img ng-src="./img/lightbulb.svg" alt="lightbulb" class="bucket-page__idea-icon"/>
          <div>
            <h3 class="bucket-page__status">Idea</h3>
            <p class="bucket-page__status-description"><em>This bucket idea is still being discussed and designed</em></p>
          </div>
        </div>

        <md-button
          class="md-raised md-primary bucket-page__start-funding-btn"
          ng-click='openForFunding()'
          ng-autodisable
          ng-show='userCanManageBucket()'
        >
          Start Funding
        </md-button>
      </div>

      <div ng-if="bucket.status == 'funded'">
        <div layout="row" layout-align="start center" class="bucket-page-status-card__funded-status-container">
          <ng-md-icon icon="check_circle"
            layout="column"
            layout-align="center center"
            size="35"
            class="bucket-page-status-card__funded-icon"
          ></ng-md-icon>

          <div>
            <h3 class="bucket-page__status">Funded</h3>
            <p class="bucket-page__status-description"><em>This bucket was funded {{ bucket.target | currency : group.currencySymbol : 0 }} on {{ bucket.fundedAt | exactDateWithTime }}</em></p>
          </div>
        </div>
      </div>
    </div>

    <div ng-if="bucket.isArchived()">
      <div layout="row" layout-align="start center" class="bucket-page-status-card__archived-status-container">
        <ng-md-icon icon="archive"
          layout="column"
          layout-align="center center"
          size="35"
          class="bucket-page-status-card__archived-icon"
        ></ng-md-icon>

        <div>
          <h3 class="bucket-page__status">Archived</h3>
          <p class="bucket-page__status-description"><em>This bucket was archived on {{ bucket.archivedAt | exactDateWithTime }}</em></p>
        </div>
      </div>
    </div>
  </md-card-content>
</md-card>
