<md-card class="bucket-page__status-card">
  <md-card-content class="bucket-page__status-card-content">
    <div class="bucket-page__status-header">Status</div>

    <div ng-if="bucket.status == 'funded' || !bucket.isArchived()">
      <div ng-if="bucket.status == 'draft'">
        <div ng-show="bucket.status == 'draft'" layout="row" layout-align="start center">
          <img ng-src="./img/lightbulb.svg" alt="lightbulb" class="bucket-page__idea-icon"/>
          <div>
            <h3 class="bucket-page__status">Idea</h3>
            <p class="bucket-page__status-description"><em>This bucket idea is still being discussed and designed</em></p>
          </div>
        </div>

        <md-button
          class="md-raised md-primary bucket-page__start-funding-btn"
          ng-click='openForFunding()'
          ng-autodisable
          ng-show='userCanStartFunding()'
        >
          Start Funding
        </md-button>
      </div>
    </div>

    <div class="bucket-page__status-description" ng-if="bucket.isArchived()">
      <p><em>This bucket was archived on {{ moment.bucket.archivedAt | exactDateWithTime }}</em></p>
    </div>
  </md-card-content>
</md-card>
