// status card

.bucket-page__status-card {
  background: $cobudget-light-grey;
}

.bucket-page__status-header {
  @include fontLarge;
  margin-bottom: 20px;
}

.bucket-page__status-flagpoints {
  margin-bottom: 20px;
}

.bucket-page__status-flagpoint-divider {
  position: relative;
  height: 3px;
  background: $cobudget-grey;
  bottom: 10px;
}

.bucket-page__status-description {
  @include fontTiny;
}

.bucket-page__start-funding-btn {
  background-color: $cobudget-lime !important;
  margin-left: 0 !important;
}

.bucket-page__start-funding-btn:not([disabled]):hover {
  background-color: $cobudget-lime;
}
