<div class="review-bulk-allocation-page" ng-if="authorized">
  <admin-toolbar></admin-toolbar>

  <div class="review-bulk-allocation-page__header" layout="column" layout-align="end center">
    <div layout="row" layout-align="center center">
      <div class="review-bulk-allocation-page__upload-icon-container">
        <ng-md-icon icon="cloud_upload"
        class="review-bulk-allocation-page__upload-icon"
        size="22"
        layout="column"
        layout-align="center center"
        ></ng-md-icon>
      </div>

      <h1 class="review-bulk-allocation-page__header-text">
        Please review & confirm your upload
      </h1>
    </div>
  </div>

  <md-content class="manage-group-funds-page__content">
    <h2 class="review-bulk-allocation-page__subheader">
      Overview
    </h2>

    <p class="review-bulk-allocation-page__text-overview">
      Looks like you're trying to add <b>$700 total</b> to <b>3 people</b>, and add <b>1 new person</b> to POC21 Community
    </p>


    <div class="" layout="column" >
      <div class="" layout="row" layout-align="space-between center">
        <div class="review-bulk-allocation-page__list-header">People & status</div>
        <div class="review-bulk-allocation-page__funds-column-container" layout="row" layout-align="start center">
          <div class="review-bulk-allocation-page__list-header">Funds</div>
        </div>
      </div>

      <md-divider class="review-bulk-allocation-page__top-divider"></md-divider>

      <div class="review-bulk-allocation-page__list-row" layout="row" layout-align="space-between start">
        <div class="review-bulk-allocation-page__name-and-email"><b>Derek Razo</b> ( derek@enspiral.com )</div>
        <div class="review-bulk-allocation-page__funds-column-container" layout="row" layout-align="space-between center">
          <div class="review-bulk-allocation-page__funds-amount">+$350</div>
          <div>
            <ng-md-icon
              icon="more_vert"
              layout="column"
              layout-align="center center"
              class="group-page__funder-more-button-icon"
            ></ng-md-icon>
          </div>
        </div>
      </div>

      <div class="review-bulk-allocation-page__list-row" layout="row" layout-align="space-between start">
        <div class="review-bulk-allocation-page__name-and-email"><b>Eugene Lynch</b> ( eugene@enspiral.com )</div>
        <div class="review-bulk-allocation-page__funds-column-container" layout="row" layout-align="space-between center">
          <div class="review-bulk-allocation-page__funds-amount">+$350</div>
          <div>
            <ng-md-icon
              icon="more_vert"
              layout="column"
              layout-align="center center"
              class="group-page__funder-more-button-icon"
            ></ng-md-icon>
          </div>
        </div>
      </div>

      <div class="review-bulk-allocation-page__list-row" layout="row" layout-align="space-between start">
        <div class="" layout="column" layout-align="start start">
          <div class="review-bulk-allocation-page__name-and-email"><b>chelsearobinson@gmail.com</b></div>
          <div class="review-bulk-allocation-page__invitation-text" layout="row" layout-align="space-between center">
            <ng-md-icon icon="mail"
              class="toolbar-dropdown-menu__item-icon"
              layout="column"
              layout-align="center center"
            ></ng-md-icon>
            <div class="">Invitation Ready</div>
          </div>
        </div>
        <div class="review-bulk-allocation-page__funds-column-container" layout="row" layout-align="space-between center">
          <div class="review-bulk-allocation-page__funds-amount">+$0</div>
          <div>
            <ng-md-icon
              icon="more_vert"
              layout="column"
              layout-align="center center"
              class="group-page__funder-more-button-icon"
            ></ng-md-icon>
          </div>
        </div>
      </div>
    </div>

    <md-divider class="review-bulk-allocation-page__bottom-divider"></md-divider>

    <md-button class="review-bulk-allocation-page__btn review-bulk-allocation-page__confirm-btn">Confirm</md-button>
    <md-button class="review-bulk-allocation-page__btn review-bulk-allocation-page__try-again-btn">Try Again</md-button>
    <md-button class="review-bulk-allocation-page__btn review-bulk-allocation-page__cancel-btn">Cancel</md-button>

  </md-content>

</div>
