<div class="edit-project-page">

  <md-toolbar class="md-whiteframe-z1 edit-project-page__toolbar" layout-align="column">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" ng-click="cancel()" aria-label="cancel">
        <div layout="column" layout-align="center center">
          <i class="material-icons edit-project-page__cancel-icon">close</i>
        </div>
      </md-button>
      <span class="edit-project-page__header-text">New Project</span>
      <span flex></span>
      <md-button class="md-icon-button edit-project-page__done-button" aria-label="done" ng-click="done()">
        <div layout="column" layout-align="center center">
          <span class="edit-project-page__done-button-text">Done</span>
        </div>
      </md-button>
    </div>
  </md-toolbar>

  <md-content>

    <md-subheader class="edit-project-page__subheader-title">You're about to edit a project draft</md-subheader>
    <md-subheader class="edit-project-page__subheader-text">You can continue to edit this draft, propose it to your peers, and get feedback. Once your project gets endorsed, you can request funding.</md-subheader>

    <form name='bucketForm' class="edit-project-page__form" ng-keyUp="$event.keyCode == 13 ? done() : null">

      <md-input-container>
        <label>Title</label>
        <input required name="name" type="text" ng-model="bucket.name">
        <div ng-messages="bucketForm.name.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>

      <md-input-container>
        <label>Description</label>
        <textarea required name="description" ng-model="bucket.description"></textarea>
        <div ng-messages="bucketForm.description.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>

      <md-input-container>
        <label>Estimated Funding Target (optional)</label>
        <input name="target" type="number" ng-model="bucket.target">
      </md-input-container>

    </form>

  </md-content>

</div>