<section>
  <article class="m-bucket l-padded utl-expander" ng-repeat="b in buckets" d-expander>
    <div class="m-labels list-inline clearfix">
      <div class="m-labels-label paint clr2">
        Fred Smith
      </div>
      <div class="m-labels-label paint clr1">
        <strong>
          <span ng-show="bucket.minimum != bucket.maximum">
            {{bucket.minimum}} - {{bucket.maximum}}
          </span>
          <span ng-show="bucket.minimum == bucket.maximum">
            {{bucket.minimum}}
          </span>
        </strong>
      </div>
    </div>
    <h2>{{b.name}}</h2>

    <div btf-markdown="b.description"></div>
  </article>
</section>
