<a href="" ui-sref="budgets.propose_bucket" class="m-btn m-btn-wide paint clr4-bold">Propose a bucket</a>
<section>
  <article ng-controller='BucketItem' ng-repeat="b in buckets" class="m-bucket-wrapper" >
    <nav class="m-nav m-nav-full" ng-show="admin == true">
      <ul>
        <li><a class="paint clr3" ui-sref="buckets.edit({bucket_id: b.id})">Edit</a></li>
      </ul>
    </nav>
    <div class="m-bucket l-padded utl-expander" d-expander>
      <div class="m-labels list-inline clearfix">
        <div class="m-labels-label paint clr2">
          Fred Smith
        </div>
        <div ng-show="b.minimum_cents != null || b.maximum_cents != null" class="m-labels-label paint clr1">
          <strong >
            <span ng-show="b.minimum != b.maximum">
              ${{b.minimum}} - ${{b.maximum}}
            </span>
            <span ng-show="b.minimum == b.maximum">
              ${{b.minimum}}
            </span>
          </strong>
        </div>
      </div>
      <h2>{{b.name}}</h2>
      <div ng-if="b.maximum > b.minimum" class="o-slider-container">
        <div class="o-slider-labels">
          <div class="o-slider-range-low">0</div>
          <div class="o-slider-selection">Allocation: ${{b.allocation | number: 0}} ({{(b.allocation / allocatable) * 100 | number: 2}}%)</div>
          <div class="o-slider-range-high">${{b.maximum}}</div>
        </div>
        <slider min="0" max="{{b.maximum}}" ng-model="b.allocation"></slider>
      </div>
      <div btf-markdown="b.description"></div>
    </div>
  </article>
</section>
