<md-dialog aria-label="finish bucket dialog" class="finish-bucket-dialog">
  <md-dialog-content class="sticky-container">

    <div class="finish-bucket-dialog__header" layout="column" layout-align="center center">
      <ng-md-icon icon="check_circle"
        layout="column"
        layout-align="center center"
        class="finish-bucket-dialog__icon"
        size="50"
      ></ng-md-icon>

      <div class="finish-bucket-dialog__header-text">
        Finish and accept funding from this bucket?
      </div>
    </div>

    <md-divider ng-if="bucket.status == 'live'"></md-divider>

    <div class="finish-bucket-dialog__details-container">
      <div class="finish-bucket-dialog__final-caution">
        Warning: This cannot be undone
      </div>

      <p class="finish-bucket-dialog__details">
        If you accept, funding for this bucket will end, and you will no longer be able to collect money in this bucket.
      </p>
    </div>
  </md-dialog-content>

  <div class="md-actions finish-bucket-dialog__btns" layout="row" layout-align="center center">
    <div layout="row" class="finish-bucket-dialog__btns-horizontal-layout">
      <span flex></span>
      <md-button class="finish-bucket-dialog__btn finish-bucket-dialog__cancel-btn" ng-click="cancel()">cancel</md-button>
      <md-button
        class="md-raised finish-bucket-dialog__btn finish-bucket-dialog__proceed-btn"
        ng-click="proceed()"
      >yes, accept funding</md-button>
    </div>

    <div layout="column" class="finish-bucket-dialog__btns-vertical-layout" layout-align="center center">
      <md-button
        class="md-raised finish-bucket-dialog__btn finish-bucket-dialog__proceed-btn"
        ng-click="proceed()"
      >yes, accept funding</md-button>
      <md-button class="finish-bucket-dialog__btn finish-bucket-dialog__cancel-btn" ng-click="cancel()">cancel</md-button>
    </div>
  </div>
</md-dialog>
