<div class="bucket-list" ng-repeat="bucket in buckets">
  <div class="bucket" ng-if='currentBudget'>
    <div class="allocation_amount allocated">
      <label>Allocated</label>
      <input type="number" ng-model='bucket.my_allocation_total'>
    </div>

    <h2><a href='#/buckets/{{bucket.id}}'>{{bucket.name}}</a></h2>


    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{bucket.percentage_funded}}" aria-valuemin="0" aria-valuemax="100" style="width: {{bucket.percentage_funded}}%;">
        <span class="sr-only">60% Complete</span>
      </div>
    </div>
  </div>
</div>
