<div class="bucket-list" ng-repeat="bucket in buckets">
  <div class="bucket" ng-if='currentBudget' ng-click="go('#/buckets/{{bucket.id}}')">
    <!--<div class="allocation_amount allocated">-->
      <!--&lt;!&ndash;<label>Allocated</label>&ndash;&gt;-->
      <!--<input type="number" ng-model='bucket.my_allocation_total'>-->
    <!--</div>-->

    <h2><a href='#/buckets/{{bucket.id}}'>{{bucket.name}}</a></h2>


    <div class="progress">
      <!--Got a hacky fix for progress bars here... PB cant be 0, must be empty -->
      <div id="bucket-{{bucket.id}}" 
        class="progress-bar" role="progressbar" 
        aria-valuenow="{{bucket.percentage_funded > 0 ? bucket.percentage_funded : ""}}" 
        aria-valuemin="0" 
        aria-valuemax="100" 
        style="width: {{bucket.percentage_funded}}%;">
        <span class="sr-only">60% Complete</span>
      </div>
    </div>

    <span style="float: left; margin-left: {{ angular.element('#bucket-#{bucket.id}').width() * bucket.percentage_filled }}px">${{ bucket.amount_filled }}</span>
    <span style="float: right">${{ bucket.maximum_dollars }}</span>
  </div>
</div>
