<div class="login-page">
  <md-toolbar class="md-primary login-page__toolbar">
    <h1 class="md-toolbar-tools login-page__heading" layout-align="center">Welcome to Cobudget!</h1>
  </md-toolbar>

  <md-content layout-padding class="login-page__content">
    <form novalidate name="loginForm" class="login-page__login-form" ng-submit="login(formData)">
      <div class="login-page__form-errors">{{ formError }}</div>

      <md-input-container>
        <label>email</label>
        <input required name="email" type="email" ng-pattern="/^.+@.+\..+$/" ng-model="formData.email">
        <div ng-messages="loginForm.email.$error" ng-if="loginForm.$submitted" multiple>
          <div ng-message="required">This is required.</div>
          <div ng-message="pattern">Invalid email format.</div>
        </div>
      </md-input-container>

      <md-input-container>
        <label>password</label>
        <input required name="password" type="password" ng-model="formData.password">
        <div ng-messages="loginForm.password.$error">
          <div ng-message="required" ng-if="loginForm.password.$dirty || loginForm.$submitted">This is required.</div>
        </div>
      </md-input-container>



      <md-button class="login-page__login-btn">Log In</md-button>
    </form>

    <div class="login-page__buttons-container">
      <md-button class="login-page__forgot-password-btn" ng-click="visitForgotPasswordPage()">Having trouble logging in?</md-button>
      <md-button class="login-page__forgot-password-btn" ng-click="openFeedbackForm()">Give us feedback!</md-button>
    </div>

  </md-content>
</div>
