.login-page__toolbar {
  background: $cobudget-gunmetal;
  color: white;
}

.login-page__content {
  max-width: 640px;
  margin: 0 auto;
}

.login-page__heading {
  @include fontGrande;
}

.login-page__login-form {
  margin-bottom: 18px;
}

.login-page__login-btn {
  margin: 0;
  border: 1px solid $cobudget-gunmetal;
  width: 100%;
  margin-top: 10px;
}

.login-page__buttons-container {
  position: relative;
  float: right;
}

.login-page__forgot-password-btn {
  width: 100%;
  text-align: right;
  display: block;
  font-size: 12px;
  background: none;
  line-height: 30px;
  min-height: 30px;
  margin: 0;
  margin-bottom: 5px;
}
