// funders

.group-page__funders-card {
  margin-bottom: 35px;
}

.group-page__funders-loadscreen md-progress-circular {
  margin: 100px auto;
}

.group-page__funders-subheader-container {
  padding: 15px 25px;
}

.group-page__funders-subheader {
  font-weight: 400 !important;
  letter-spacing: 0.02em !important;
  color: black;
  margin: 0;
  font-size: 15px !important;
}

.group-page__funders-subheader-info {
  padding: 3px 0 0 6px;
}

.group-page__funders-subheader-divider {
  margin-top: 0 !important;
}

.group-page__funders-admin-btn {
  border: 0;
  height: 30px;
  padding: 5px 10px;
  color: black;
  font-weight: 400;
  font-size: 13px;
  cursor: pointer;
  border: 1px solid #8C8C8C;
  transition: 0.5s;

  &:hover {
    border-color: transparent;
  }

  &:focus {
    outline: none;
  }
}

.group-page__funder-balance-dollar-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.group-page__funder-manage-funds-btn-container {
  min-width: 100px;
}

.group-page__funder-manage-funds-btn {
  cursor: pointer;
  padding: 2px 10px;

  &:hover {
    background: #F0F0F0;
    text-decoration: underline;
  }
}


// funder

.group-page__funder-container {
  margin-bottom: 10px;
  width: 100%;
}

.group-page__funder-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: rgba(0,0,0,0.27);
  color: white;
  font-size: 20px;
  margin-right: 10px;
}

.group-page__funder-name-container {
  min-width: 0;
}

.group-page__funder-name {
  width: 100%;
  @include truncatedText;
  @include fontMedium;
}

.group-page__funder-email {
  width: 100%;
  @include truncatedText;
  @include fontTiny;
}

.group-page__funder-invited-icon {
  fill: rgba(0,0,0,0.5);
}

.group-page__funder-invited-label {
  position: relative;
  bottom: 4px;
  margin-left: 1px;
}

.group-page__funder-balance-container {
  margin-left: 5px;
}

.group-page__funder-balance-btn {
  font-size: 19px;
  font-weight: 500;
  cursor: pointer;
  padding: 2px 8px;
  transition: 0.5s;

  &:hover {
    background: #F0F0F0;
    text-decoration: underline;
  }

  &:focus {
    outline: none;
  }
}

.group-page__funder-balance {
  font-size: 19px;
  font-weight: 500;
  padding: 2px 8px;

  &:focus {
    outline: none;
  }
}

.group-page__funder-balance-other {
  color: $cob-green;

  &:hover {
    text-decoration-color: $cob-green;
  }
}

.group-page__funder-balance-personal {
  color: $cob-yellow;

  &:hover {
    text-decoration-color: $cob-yellow;
  }
}

.group-page__funder-balance-pending {
  color: #C1C1C1;
}

.group-page__funder-admin-label {
  margin-top: 3px;
  color: $grey-on-white;
  font-size: 11px;
}

.group-page__funder-more-menu {
  padding: 0;
}

.group-page__funder-more-button, .group-page__funder-add-button  {
  width: auto !important;
  margin: 0 !important;
  padding: 0 !important;
}

.group-page__funder-add-button {
  height: 28px !important;
  min-height: 28px !important;
}

.group-page__funder-more-button-icon {
  fill: rgba(0,0,0,0.40);
}

.group-page__funder-add-button-icon {
  fill: rgba(0,0,0,0.40);
}

// funder more menu

.group-page__funder-more-menu-item-icon {
  margin-right: 12px;
  fill: $cobudget-dark-grey;
}

// manage funds dialog

.group-page__manage-funds-dialog {
  text-align: center;
}

.group-page__manage-funds-dialog :focus {
  outline-color: transparent;
  outline-style: none;
}

.group-page__manage-funds-dialog-header {
  padding: 10px 20px !important;
}

.group-page__manage-funds-dialog-header-avatar {
  background: rgba(0, 0, 0, 0.27);
  width: 60px;
  height: 60px;
  color: white;
  font-size: 35px;
  border-radius: 50%;
}

.group-page__manage-funds-dialog-header-title {
  font-size: 18px;
  font-weight: 500;
  margin-top: 8px;
  color: $cobudget-dark-grey;
}

.group-page__manage-funds-tab-label {
  font-size: 14px;
  line-height: 20px;
  text-transform: none;
  color: black;
  font-weight: 400;
}

.group-page__manage-funds-add-btn {
  background: $cob-green !important;
  margin-right: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.group-page__manage-funds-change-btn {
  background: $cob-green !important;
  margin-left: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.group-page__manage-funds-calculation {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  color: $cobudget-dark-grey;
  overflow: auto;
}

.group-page__manage-funds-calculation-newline-add {
  height: 30px;
}

.group-page__manage-funds-calculation-newline-change {
  height: 40px;
}

.group-page__manage-funds-operator {
  position: relative;
  bottom: 2px;
  margin: auto 5px;
}

.group-page__manage-funds-input-container {
  display: inline-block;
  position: relative;
  bottom: 1px;
  padding: 0 !important;
}

.group-page__manage-funds-input {
  width: 80px !important;
  display: inline-block !important;
  padding: 0 !important;
  font-weight: inherit;
  letter-spacing: inherit;
  text-align: center;
}

.group-page__manage-funds-total-amount {
  color: $cobudget-green;
}

.group-page__manage-funds-dialog md-input-container:not(.md-input-invalid).md-input-focused .md-input {
  border-color: $cobudget-blue;
}

.group-page__manage-funds-filler-text {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: normal;
}

.group-page__manage-funds-total-label {
  font-size: 14px;
  color: $cobudget-grey;
  font-weight: 500;
  letter-spacing: normal;
}

.group-page__manage-funds-group-account-option {
  font-size: 16px;
  font-weight: normal;
  letter-spacing: normal;
  padding: 0;
  justify-content: center !important;
  -webkit-justify-content: center !important;
}

.group-page__manage-funds-dialog-cancel-btn {
  color: $cobudget-grey;
}

.group-page__manage-funds-dialog-done-btn {
  background: $cob-pink !important;
}

.md-button[disabled], .md-button.md-raised[disabled] {
  opacity: 0.20;
  color: white !important;
}

// reinvite user dialog
.group-page__reinvite-user-dialog-content {
  padding: 30px !important;
}

// media

@media (max-width: 420px) {
  .group-page__funder-avatar {
    width: 30px;
    height: 30px;
    font-size: 14px;
  }

  .group-page__funder-name {
    @include fontSmall;
  }

  .group-page__funder-email {
    font-size: 11px;
  }

  .group-page__funders-admin-btn {
    height: 25px;
    padding: 0px 6px;
    font-size: 12px;
  }

  .group-page__funder-admin-label {
    margin-top: 1px;
    font-size: 10px;
  }

  .group-page__funder-balance {
    font-size: 17px;
  }
}
