<h2>Your budgets</h2>
<div class="row">
  <div class="m-budget-summary col-md-6" ng-repeat="budget in budgets">
    <section class="shadow l-padded paint white">
      <h1><a href="/#/budgets/{{budget.id}}/buckets/open">{{budget.name}} $({{budget.user_account_balance / 100}})</a></h1>
      <div class="m-budget-summary-bucket-list" ng-show="budget.recently_opened_buckets.length > 0">
        <h2>Recently opened:</h2>
        <div ng-show="budget.recently_opened_buckets.length > 0" ng-repeat="bucket in budget.recently_opened_buckets">
          <div class="row" happened-after-marker="" item="bucket" date="bucket.created_at" last="$last">
            <div class="col-md-8">{{bucket.name}}</div>
            <div class="col-md-4 text-right" >
              {{bucket.created_at_ago}} 
            </div>
          </div>
        </div>
      </div>
      <div class="m-budget-summary-bucket-list" ng-show="budget.recently_funded_buckets.length > 0">
        <h2>Recently funded:</h2>
        <div ng-repeat="bucket in budget.recently_funded_buckets">
          <div class="row" happened-after-marker="" item="bucket" date="bucket.funded_at" last="$last">
            <div class="col-md-8">{{bucket.name}}</div>
            <div class="col-md-4 text-right" >
              {{bucket.funded_at_ago}} 
            </div>
          </div>
        </div>
      </div>
      <div class="m-budget-summary-bucket-list" ng-show="budget.recently_cancelled_buckets.length > 0">
      <h2>Recently cancelled:</h2>
        <div ng-repeat="bucket in budget.recently_cancelled_buckets">
          <div class="row" happened-after-marker="" item="bucket" date="bucket.cancelled_at" last="$last">
            <div class="col-md-8">{{bucket.name}}</div>
            <div class="col-md-4 text-right" >
              {{bucket.cancelled_at_ago}} 
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
