<div class="row">
  <div class="col-md-12 nav bar container">

    <div class="col-md-2 brand">
      <i class="col-md-3 fa fa fa-bars fa-1x"></i>
      <p class="col-md-6">COBUDGET</p>
    </div>

    <div class= "col-md-3 selector">
      <select ng-model='currentGroupId' ng-options='g.id as g.name for g in groups'>
        <option value=''>Select Group</option>
      </select>
    </div>

    <div class= "col-md-1 input-name pull-right">
      <!--<input placeholder="Enter your name!"></input>-->
      <span ng-show="currentUser">
        <a href="#" style='color: white' ng-click="logout()">Log out</a><i class="fa fa-user fa-2x"></i>
      </span>
      <span ng-hide="currentUser">
        <a style='color: white; font-weight: bold' href ng-click="showLogin()">Log in</a><i class="fa fa-user fa-2x"></i>
      </span>
    </div>

  </div>

  <div ui-view>
  </div>
</div>
