// progress card

.bucket-page__progress-card {
  margin-top: 10px;
}

.bucket-page__progress-card-content {
  background: $cobudget-light-grey;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bucket-page__progress-header {
  display: block;
  @include fontLarge;
  margin-bottom: 10px;
}

.bucket-page__progress-bar-container {
  position: relative;
  height: 15px;
  background: $cobudget-grey;
  z-index: 0;
  width: 100%;
}

.bucket-page__progress-bar-primary {
  position: absolute;
  height: 100%;
  left: 0;
  background: $cobudget-orange;
  z-index: 2;
  width: 0;
  transition: 0.5s;
}

.bucket-page__progress-bar-secondary {
  position: absolute;
  height: 100%;
  left: 0;
  background: $cobudget-green;
  z-index: 1;
  width: 0;
  transition: 1s;
}

.bucket-page__progress-info {
  margin-top: 25px;
  margin-bottom: 10px;
}

.bucket-page__progress-amount {
  display: block;
  @include fontLarge;
}

.bucket-page__progress-unit {
  display: block;
  @include fontSmall;
  color: $grey-on-white;
}

.bucket-page__fund-btn {
  background-color: $cobudget-lime !important;
  margin-left: 0 !important;
}

.bucket-page__fund-btn:not([disabled]):hover {
  background-color: $cobudget-lime;
}

.bucket-page__fund-form-input-container {
  margin-right: 8px;
  padding-bottom: 0;
}

.bucket-page input[type=number]::-webkit-inner-spin-button,
.bucket-page input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
