<md-card class="bucket-page__progress-card">
  <md-card-content class="bucket-page__progress-card-content">
    <span class="bucket-page__progress-header">Progress</span>

    <div class="bucket-page__progress-bar-container">
      <div class="bucket-page__progress-bar-primary" style="width: {{ bucket.percentContributedByOthers(currentUser) }}%"></div>
      <div class="bucket-page__progress-bar-secondary" style="width: {{ bucket.percentContributedByOthers(currentUser) + bucket.percentContributedByUser(currentUser) + percentContributed() }}%"></div>
    </div>

    <div layout="row" class="bucket-page__progress-info">
      <div flex="25">
        <span class="bucket-page__progress-amount">{{ bucket.numOfContributors }}</span>
        <span class="bucket-page__progress-unit">backers</span>
      </div>

      <div flex>
        <span class="bucket-page__progress-amount">{{ totalAmountFunded() | currency : group.currencySymbol : 0 }}</span>
        <span class="bucket-page__progress-unit">pledged of {{ bucket.target | currency : group.currencySymbol : 0 }}</span>
      </div>

      <div flex="25" ng-show="bucket.fundingClosesAt">
        <span class="bucket-page__progress-amount">{{ bucket.fundingClosesAt | timeToNowAmount }}</span>
        <span class="bucket-page__progress-unit">{{ bucket.fundingClosesAt | timeToNowUnits }} left</span>
      </div>
    </div>
    
    <form class="bucket-page__fund-form" layout="row" ng-if="membership.balance() >= 1">
      <md-input-container class="bucket-page__fund-form-input-container" ng-if="fundFormOpened">
        <label>Amount</label>
        <input class="bucket-page__fund-form-amount-input" type="number" step="any" min="0" pattern="[0-9]*" ng-model="newContribution.amount" ng-change="normalizeContributionAmount()" ng-keypress="normalizeContributionAmount()" focus-if>
      </md-input-container>

      <md-button class="md-raised md-primary bucket-page__fund-btn" ng-click='openFundForm()' ng-hide="fundFormOpened">Fund</md-button>
      <md-button class="md-raised md-primary bucket-page__fund-btn" ng-click='submitContribution()' ng-if="fundFormOpened">Submit</md-button>
    </form>
  </md-card-content>
</md-card>
