<div class="resources-page" layout="column" layout-fill>
  <landing-page-toolbar></landing-page-toolbar>

  <h1 class="resources-page__header-text">How Organizations Use Cobudget</h1>

  <div class="resources-page__content" layout="column" flex>
    <div layout="row" layout-align="start start">
      <img class="resources-page__img" src="/img/outlandish.jpg" />

      <div>
        <h1 class="resources-page__subheader-text"><a href="https://outlandish.com/" target="_blank">Outlandish</a></h1>

        <p class="resources-page__text">Outlandish is a web services consultancy and worker-owned cooperative based in London.</p>

        <p class="resources-page__text"><b>How do they use Cobudget?</b></p>

        <p class="resources-page__text">To democratically distribute their dividends to all cooperative members and make it easy for them to invest in work they care about.</p>

        <p class="resources-page__text"><b>What type of activities do they fund?</b></p>

        <p class="resources-page__text">New tech products and platforms, social impact projects that need software, match funding of international initiatives.</p>

        <blockquote class="resources-page__text resources-page__text-blockquote">Pre-Cobudget, there was a lack of transparency and the authority to spend surplus was limited.</blockquote>

      </div>
    </div>

    <div flex></div>

  </div>


  <div class="resources-page__content" layout="column" flex>
    <div layout="row" layout-align="start start">

      <div>
        <h1 class="resources-page__subheader-text"><a href="https://www.evoleadinstitute.com/" target="_blank">Evolutionary Leadership Institute</a></h1>

        <p class="resources-page__text">IEL is a consulting company and community of practice that provides content, advice, and access to thought leaders for people ready to redesign our world and make it more just, sustainable, and flourishing.</p>

        <p class="resources-page__text"><b>How do they use Cobudget?</b></p>

        <p class="resources-page__text">To offer their member community a way to participate directly in the organization's financial decisions and empower them to fund each others workshops.</p>

        <p class="resources-page__text"><b>What type of activities do they fund?</b></p>

        <p class="resources-page__text">Events such as workshops, travel expenses, systemic change work.</p>

        <blockquote class="resources-page__text resources-page__text-blockquote">This technology is an enabler of new ways of doing things. Without it we would be using ugly spreadsheets.</blockquote>

      </div>

      <img class="resources-page__img" src="/img/evoleadership.jpg" />

    </div>

    <div flex></div>

  </div>

  <landing-page-footer></landing-page-footer>

</div>
