<div class="resources-page" layout="column">
  <landing-page-toolbar></landing-page-toolbar>

  <h1 class="resources-page__header-text">About</h1>
  <div class="resources-page__content" layout="column" flex>
    <p>Cobudget helps organisations, networks, communities and groups allocate resources collaboratively and transparently.</p>

    <p>It is the flagship product of <a href="http://greater.finance/" target="_blank">Greaterthan</a>, a venture that is bringing collaborative finance practices into organizations to help them increase engagement, transparency and agility.</p>

    <p>Cobudget was originally developed by members of <a href="https://enspiral.com/" target="_blank">Enspiral</a> to support the internal collaborative funding process of the network.</p>

    <p>What was a spreadsheet soon became an app and, led by Derek Razo with support from the Namaste Foundation, soon became used more broadly by groups around the world. In March 2017 a new team from within the Enspiral network, Greaterthan, took on the development of the tool to bring it to its next stage.</p>
  </div>

  <!-- <h1 class="resources-page__header-text">Resources and Stories</h1> -->

  <div class="resources-page__content" layout="column" flex>
    <div layout="row" layout-align="start start" ng-repeat="article in articles">
      <img class="resources-page__article-img" ng-src="{{article.imgUrl}}" />

      <div>
        <h2 class="resources-page__article-header-text">
          <a href="{{ article.articleUrl }}" target="_blank" class="resources-page__article-link">
            {{ article.title }}
          </a>
        </h2>
        <p class="resources-page__article-description-text">{{ article.description }}</p>
      </div>
    </div>

    <div flex></div>

    <a href="" class="resources-page__return-home-link" ng-click="redirectToLandingPage()">return home</a>
  </div>
</div>
