.bucket-page__content {
  max-width: 720px;
  margin: 0 auto;
  padding-bottom: 10px;
  top: $large-height;
  background: transparent;
}

.bucket-page__left-column {
  width: 420px;
  padding: 8px;
}

.bucket-page__right-column {
  width: 300px;
  padding: 8px;
}
