<div 
  class="loading-bar" 
  layout="column" 
  layout-align="center center" 
  ng-hide="groupLoaded && contributionsLoaded && commentsLoaded">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>

<div class="bucket-page" ng-if="groupLoaded && contributionsLoaded && commentsLoaded">
  <md-toolbar class="bucket-page__toolbar">
    <div class="md-toolbar-tools bucket-page__menu-bar">
      <md-button class="md-icon-button" aria-label="Settings" ng-click="back()">
        <ng-md-icon icon="arrow_back"
          layout="column"
          layout-align="center center"
          class="bucket-page__menu-icon"
        ></ng-md-icon>
      </md-button>

      <span class="bucket-page__personal-funds" layout="row" layout-align="start center" ng-if="status == 'live'">
        <ng-md-icon icon="person"
          layout="column"
          layout-align="center center"
          class="bucket-page__funds-icon"
        ></ng-md-icon>
        <div layout="column" layout-align="center center">
          <span class="bucket-page__funds-overview-header">Your funds</span>
          <span class="bucket-page__funds-overview-amount">{{ currentMembership.balance() - contribution.amount | currency : group.currencySymbol : 0 }}</span>
        </div>
      </span>

      <span flex></span>

      <span ng-show="userCanEditBucket()">
        <md-button class="bucket-page__edit-button" ng-click="editBucket()">Edit</md-button>
      </span>

      <md-button class="md-icon-button bucket-page-menu-button" aria-label="More" ng-click="toggleStatus()">
        <ng-md-icon icon="more_vert"
          layout="column"
          layout-align="center center"
          class="bucket-page__menu-icon"
        ></ng-md-icon>
      </md-button>
    </div>
  </md-toolbar> 

  <md-content class="bucket-page__content">
    <md-card class="bucket-page__header-card">
      <md-card-content class="bucket-page__header-card-content">
        <div class="bucket-page__title">{{ bucket.name }}</div>
        <div class="bucket-page__author">created by {{ bucket.author().name }} {{ bucket.createdAt | timeFromNowInWords }} ago</div>
      </md-card-content>

      <md-card-content class="bucket-page__description-card">
        <div layout="row" ng-if="bucket.target > 0">
          <span class="bucket-page__description-header">Funding Target</span>
          <span flex="10"></span>
          <span class="bucket-page__description-header" flex>{{ bucket.target | currency : group.currencySymbol : 0  }}</span>
        </div>

        <div ng-hide="showFullDescription">
          <p class="bucket-page__description-text" ng-bind-html="bucket.description | characters:100:false | linky:'_blank' "></p>
          <md-button md-no-ink class="md-primary bucket-page__more-button" ng-click="readMore()">Read More</md-button>          
        </div>

        <div ng-show="showFullDescription">
          <p class="bucket-page__description-text" ng-bind-html="bucket.description | linky:'_blank'"></p>
          <md-button md-no-ink class="md-primary bucket-page__more-button" ng-click="showLess()">Show Less</md-button>
        </div>
      </md-card-content>
    </md-card>

    <md-card class="draft-page__progress-card" ng-if="status == 'live'">
      <md-card-content class="bucket-page__progress-card-content">
        <span class="bucket-page__progress-header">Progress</span>

        <div class="bucket-page__progress-bar-container">
          <div class="bucket-page__progress-bar-primary" style="width: {{ percentNotContributedByUser }}%"></div>
          <div class="bucket-page__progress-bar-secondary" style="width: {{ percentContributedByUser + percentNotContributedByUser + percentContributed() }}%"></div>
        </div>

        <div layout="row" class="bucket-page__progress-info">
          <div flex="25">
            <span class="bucket-page__progress-amount">{{ bucket.numOfContributors }}</span>
            <span class="bucket-page__progress-unit">backers</span>
          </div>

          <div flex>
            <span class="bucket-page__progress-amount">{{ totalAmountFunded() | currency : group.currencySymbol : 0 }}</span>
            <span class="bucket-page__progress-unit">pledged of {{ bucket.target | currency : group.currencySymbol : 0 }}</span>
          </div>

          <div flex="25" ng-show="bucket.fundingClosesAt">
            <span class="bucket-page__progress-amount">{{ bucket.fundingClosesAt | timeToNowAmount }}</span>
            <span class="bucket-page__progress-unit">{{ bucket.fundingClosesAt | timeToNowUnits }} left</span>
          </div>
        </div>
        
        <form class="bucket-page__fund-form" layout="row">
          <md-input-container class="bucket-page__fund-form-input-container" ng-if="fundFormOpened">
            <label>Amount</label>
            <input class="bucket-page__fund-form-amount-input" type="number" step="any" min="0" pattern="[0-9]*" ng-model="contribution.amount" ng-change="normalizeContributionAmount()" ng-keypress="normalizeContributionAmount()" focus-if>
          </md-input-container>

          <md-button class="md-raised md-primary" ng-click='openFundForm()' ng-hide="fundFormOpened">Fund</md-button>
          <md-button class="md-raised md-primary" ng-click='submitContribution()' ng-show="fundFormOpened">Submit</md-button>
        </form>

      </md-card-content>
    </md-card>

    <md-card class="bucket-page__status-card">
      <md-card-content class="bucket-page__status-card-content">
        <div class="bucket-page__status-header">Status</div>
        <div class="bucket-page__status-flagpoints" layout="row" layout-align="space-between center">
          <div class="bucket-page__status-flagpoint">
            <div layout="column" layout-align="center center" ng-show="status === 'draft'">
              <ng-md-icon icon="radio_button_on"
                layout="column"
                layout-align="center center"
                class="bucket-page__draft-icon"
              ></ng-md-icon>
              <span class="bucket-page__status-flagpoint-text-active">Idea</span>
            </div>

            <div layout="column" layout-align="center center" ng-hide="status === 'draft'">
              <ng-md-icon icon="radio_button_off"
                layout="column"
                layout-align="center center"
                class="bucket-page__status-icon-inactive"
              ></ng-md-icon>
              <span class="bucket-page__status-flagpoint-text-inactive">Idea</span>
            </div>
          </div>

          <div class="bucket-page__status-flagpoint-divider" flex></div>

          <div class="bucket-page__status-flagpoint">
            <div layout="column" layout-align="center center" ng-show="status === 'live'">
              <ng-md-icon icon="radio_button_on"
                layout="column"
                layout-align="center center"
                class="bucket-page__live-icon"
              ></ng-md-icon>
              <span class="bucket-page__status-flagpoint-text-active">Funding</span>
            </div>

            <div layout="column" layout-align="center center" ng-hide="status === 'live'">
              <ng-md-icon icon="radio_button_off"
                layout="column"
                layout-align="center center"
                class="bucket-page__status-icon-inactive"
              ></ng-md-icon>
              <span class="bucket-page__status-flagpoint-text-inactive">Funding</span>
            </div>
          </div>

          <div class="bucket-page__status-flagpoint-divider" flex></div>

          <div class="bucket-page__status-flagpoint">
            <div layout="column" layout-align="center center" ng-show="status === 'funded'">
              <ng-md-icon icon="radio_button_on"
                layout="column"
                layout-align="center center"
                class="bucket-page__funded-icon"
              ></ng-md-icon>
              <span class="bucket-page__status-flagpoint-text-active">Funded</span>
            </div>

            <div layout="column" layout-align="center center" ng-hide="status === 'funded'">
              <ng-md-icon icon="radio_button_off"
                layout="column"
                layout-align="center center"
                class="bucket-page__status-icon-inactive"
              ></ng-md-icon>
              <span class="bucket-page__status-flagpoint-text-inactive">Funded</span>
            </div>
          </div>

          <div class="bucket-page__status-flagpoint-divider" flex></div>

          <div class="bucket-page__status-flagpoint">
            <div layout="column" layout-align="center center" ng-show="status === 'done'">
              <ng-md-icon icon="radio_button_on"
                layout="column"
                layout-align="center center"
                class="bucket-page__done-icon"
              ></ng-md-icon>
              <span class="bucket-page__status-flagpoint-text-active">Done</span>
            </div>

            <div layout="column" layout-align="center center" ng-hide="status === 'done'">
              <ng-md-icon icon="radio_button_off"
                layout="column"
                layout-align="center center"
                class="bucket-page__status-icon-inactive"
              ></ng-md-icon>
              <span class="bucket-page__status-flagpoint-text-inactive">Done</span>

            </div>
          </div>
        </div>

        <div class="bucket-page__status-description" ng-show="status === 'draft'">
          <p><em>This bucket idea is still being discussed and designed</em></p>

          <div ng-show='userCanStartFunding()'>
            <p><em>As an administrator or creator, you can approve this bucket for funding when it is ready</em></p>
            <md-button class="md-raised md-primary" ng-click='openForFunding()'>Start Funding</md-button>
          </div>
        </div>

        <div class="bucket-page__status-description" ng-show="status === 'live'">
          <p><em>This bucket has been launched and can be funded.</em></p>
        </div>
      </md-card-content>
    </md-card>

    <md-card class="bucket-page__activity-card">
      <md-card-content class="bucket-page__activity-card-content">
        <div class="bucket-page__activity-header" layout="row">
          <span>
            <div layout="column" layout-align="center center">
              Activity
            </div>
          </span>
          <span flex></span>
          <span>
            <ng-md-icon icon="messenger"
              layout="column"
              layout-align="center center"
              ng-class="bucket.hasComments() ? 'bucket-page__comment-icon-active' : 'bucket-page__comment-icon-inactive'"

            ></ng-md-icon>
            <div class="bucket-page__comment-count" ng-if="bucket.hasComments()">{{ bucket.comments().length }}</div>
          </span>
        </div>

        <form name='commentForm' class="bucket-page__comment-form" ng-submit="createComment()">
          <md-input-container>
            <label>Add a comment</label>
            <input name="body" type="text" ng-model="newComment.body">
          </md-input-container>

          <md-input-container class="cob-hidden-submit-button">
            <input type="submit" aria-label="submit">
          </md-input-container>
        </form>
      </md-card-content>

      <md-list>
        <md-list-item class="bucket-page__comment" ng-repeat="comment in bucket.comments()" layout="column" layout-align="center start">
          <md-divider></md-divider>
          <div class="bucket-page__comment-author-name">{{ comment.author().name }}</div>
          <div class="bucket-page__comment-body" ng-bind-html="comment.body | linky:'_blank'"></div>
        </md-list-item>
      </md-list>
    </md-card>
  </md-content>
</div>