// toolbar heading

.project-page md-toolbar {
  min-height: 0;
}

.project-page__toolbar {
  background: $cobudget-blue;
  position: fixed;
}

.project-page__menu-bar {
  height: $large-height;
}

.project-page__menu-icon {
  @include fontGrande;
}

.project-page__personal-funds {
  @include fontLarge;
}

.project-page__funds-overview-header {
  @include fontTiny;
}

.project-page__funds-icon {
  @include fontGrande;
  margin-right: 10px;
}

.project-page__edit-button {
  margin: 0;
  padding: 0;
  // doesn't work for some reason?
  width: 60px;
}

// header card

.project-page__content {
  max-width: 640px;
  margin: 0 auto;
  padding-bottom: 10px;
  top: $large-height;
}

.project-page__header-card {
  background: $cobudget-whitesmoke;
}

.project-page__header-card-content {
  margin-top: $large-height;
  background: rgba(0,0,0,0.7);
  color: white;
}

.project-page__title {
  @include fontGrande;
  margin-bottom: 10px;
}

.project-page__author {
  @include fontTiny;
  color: $cobudget-grey;
}

// description card

.project-page__description-card {
  background: $cobudget-light-grey;
  padding-top: 10px;
  padding-bottom: 10px;
}

.project-page__description-header {
  @include fontMedLarge;
}

.project-page__description-text {
  @include fontSmall;
  margin-top: 10px;
  margin-bottom: 10px;
}

.project-page__more-button {
  @include fontMedium;
  margin: 0;
  padding: 0;
}

// progress card

.project-page__progress-card {
  margin-top: 10px;
}

.project-page__progress-card-content {
  background: $cobudget-light-grey;
  padding-top: 10px;
  padding-bottom: 10px;
}

.project-page__progress-header {
  display: block;
  @include fontLarge;
  margin-bottom: 10px;
}

.project-page__progress-bar {
  margin-bottom: 15px;
}

.project-page__progress-bar .md-container {
  background: $cobudget-grey;
}

.project-page__progress-bar .md-bar {
  background: $cobudget-orange;
}

.project-page__progress-bar .md-bar {
  background: $cobudget-orange;
}

.project-page__progress-bar-green {
  background: $cobudget-lime !important;
}

.project-page md-progress-linear:not([md-mode="indeterminate"]) .md-container {
  height: 15px;
}

.project-page md-progress-linear:not([md-mode="indeterminate"]) .md-bar {
  height: 15px;
}

.project-page__progress-info {
  margin-top: 25px;
  margin-bottom: 10px;
}

.project-page__progress-amount {
  display: block;
  @include fontLarge;
}

.project-page__progress-unit {
  display: block;  
  @include fontSmall;
  color: $grey-on-white;
}

.project-page__fund-form-input-container {
  margin-right: 8px;
}

.project-page input[type=number]::-webkit-inner-spin-button, 
.project-page input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none; 
  margin: 0; 
}

// status card

.project-page__status-card {
  background: $cobudget-light-grey;
}

.project-page__status-header {
  @include fontLarge;
  margin-bottom: 20px;
}

.project-page__status-flagpoints {
  margin-bottom: 20px;
}

.project-page__status-flagpoint-text-inactive {
  @include fontMedium;
  color: $grey-on-white;
}

.project-page__status-flagpoint-text-active {
  @include fontMedium;
}

.project-page__status-flagpoint {
  width: 50px;
}

.project-page__status-flagpoint-divider {
  position: relative;
  height: 3px;
  background: $cobudget-grey;
  bottom: 10px;
}

.project-page__status-icon-inactive {
  color: $grey-on-white;
}

.project-page__draft-icon {
  color: $cobudget-gold;
}

.project-page__live-icon {
  color: $cobudget-lime;
}

.project-page__funded-icon {
  color: $cobudget-cyan;
}

.project-page__status-flagpoint-icon-inactive {
  color: $grey-on-white;
}

.project-page__status-description {
  @include fontTiny;
}

.project-page .md-button.md-primary.md-raised {
  background-color: $cobudget-lime;
  margin-left: 0;
}

.project-page .md-button.md-primary.md-raised:not([disabled]):hover {
  background-color: $cobudget-lime;
}

// activity card

.project-page__activity-header {
  @include fontLarge;
  height: 25px;
}

.project-page__comment-count {
  color: white;
  position: relative;
  bottom: 23px;
  @include fontSmall;
}

.project-page__comment-count-icon {
  @include fontGrande;
}

.project-page md-input-container {
  padding: 0;
}

.project-page__comment {
  background: $cobudget-light-grey;
}

.project-page__comment-author-name {
  @include fontMedLarge;
  margin-top: 10px;
  margin-bottom: 3px;
}

.project-page__comment-body {
  @include fontMedium;
  margin-bottom: 10px;
}

.project-page md-list {
  padding-bottom: 0;
}