<div class="manage-group-funds-page" ng-if="authorized">
  <div class="manage-group-funds-page__header" layout="column" layout-align="end center">
    <div layout="row" layout-align="center center">
      <ng-md-icon icon="attach_money"
        class="manage-group-funds-page__money-icon"
        size="30"
        layout="column"
        layout-align="center center"
      ></ng-md-icon>
      <h1 class="manage-group-funds-page__header-text">
        Manage Group Funds
      </h1>
    </div>
  </div>
</div>
