// toolbar heading

.group-page__toolbar {
  position: relative;
  background: linear-gradient(0deg, rgba(36,50,57,1), rgba(36,50,57,0.92));
  color: white;
  height: 200px;
  z-index: 0;
}

.group-page__menu-icon {
  @include fontGrande;
  fill: white;
}
