// toolbar heading

.group-page__toolbar {
  position: relative;
  background: linear-gradient(0deg, rgba(36,50,57,1), rgba(36,50,57,0.92));
  color: white;
  margin-bottom: 20px;
}

.group-page__menu-bar {
  height: $large-height;
  margin-bottom: 10px;
}

.group-page__menu-icon {
  @include fontGrande;
  fill: white;
}

.group-page__group-name {
  @include fontLarge;
  @include truncatedText;
}

.group-page__toolbar-menu {
  margin-right: 0 !important;
}

.group-page__toolbar-menu-btn {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: white;
  font-size: 16px;
  margin-left: 10px;
  margin-right: 5px;
  cursor: pointer;
}

.group-page__person-icon {
  fill: #D8D8D8;
}

.group-page__toolbar-menu-content {
  padding: 0;
}

.group-page__toolbar-menu-icon {
  fill: #454545;
  margin-right: 12px;
}

// toolbar funds

.group-page__funds-bar {
  height: $medium-height;
  margin-bottom: 20px;
}

.group-page__funds-overview-container {
  margin-left: 35px;
}

@media (min-width: 330px) {
  .group-page__funds-overview-container {
    margin-left: 41px;
  }
}

.group-page__funds-overview-header {
  @include fontTiny;
  margin-left: 5px;
  margin-bottom: 5px;
}

.group-page__personal-funds-container {
  margin-right: 20px;
}

.group-page__funds-icon {
  @include fontGrande;
  margin-right: 10px;
  fill: white;
}

.group-page__funds-overview-amount {
  @include fontGrande;
}

.group-page__tabs {
  @include fontMedium;
  background: rgba(0,0,0,0);
  height: $medium-height;
}

.group-page__tabs md-tabs-wrapper {
  background: rgba(0,0,0,0);
}

.group-page__tab-label {
  @include fontMedium;
  color: white;
  text-transform: none;
}

.group-page md-ink-bar {
  background: $cobudget-red;
}

// create-bucket-fab

.group-page__create-bucket-fab {
  position: absolute;
  right: 10px;
  bottom: -30px;
}

.group-page__create-bucket-fab-icon {
  fill: white;
}
