// toolbar heading

.group-page-toolbar {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: $cobudget-gunmetal !important;
  color: white;
  height: 200px;
  z-index: 0;
}

.group-page-toolbar__menu-icon {
  @include fontGrande;
  color: white;
  fill: white;
  font-size: 1.7em !important;
}

.group-page-toolbar__menu-icon-active {
  color: $cob-pink;
  font-size: 1.7em !important;
}
