<!DOCTYPE html>

<html>
  <head>
  	<meta charset="utf-8" />
    <title>Cobudget</title>
    <link rel="stylesheet" href="style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen"> 
  </head>

  <body>
    <div class="container">
      	<div class="row">
      		<div class="col-xs-12 col-sm-12 col-md-8">
		      	<article class="bucket">
		      		<div class="row">
		      			<div class="col-xs-7 col-sm-10 col-md-10">
		      				<h3 class="title">Buy half a cow for a party</h3>
		      				<p class="proposed">Proposed by: Fred Smith</p>
		      			</div>
		      			<div class="col-xs-5 col-sm-2 col-md-2">
		      				<p class="amount text-right">$ 1,000</p>
		      			</div>
		      		</div>
		      		<div>
		      			<div class="col-xs-12 col-sm-7 col-md-7">
		      				<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
		      			</div>
		      		</div>
		      		   	<div class="clearfix"></div>
		      	</article>

		      	<article class="bucket">
		      		<div class="row">
		      			<div class="col-xs-7 col-sm-10 col-md-10">
		      				<h3 class="title">Build a rocket</h3>
		      				<p class="proposed">Proposed by: Fred Smith</p>
		      			</div>

		      			<div class="col-xs-5 col-sm-2 col-md-2">
		      				<p class="amount text-right">$ 500 - 1M</p>
		      			</div>
		      		</div>
		      		<div>
		      			<div class="col-xs-12 col-sm-7 col-md-7">
		      				<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
		      			</div>
		      		</div>
		      		   	<div class="clearfix"></div>
		      	</article>

		      	<article class="bucket">
		      		<div class="row">
		      			<div class="col-xs-7 col-sm-10 col-md-10">
		      				<h3 class="title">Build a rocket prototype</h3>
		      				<p class="proposed">Proposed by: Fred Smith</p>
		      			</div>

		      			<div class="col-xs-5 col-sm-2 col-md-2">
		      				<p class="amount text-right">$ 1,000</p>
		      			</div>
		      		</div>
		      		<div>
		      			<div class="col-xs-12 col-sm-7 col-md-7">
		      				<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
		      			</div>
		      		</div>
		      		   	<div class="clearfix"></div>
		      	</article>

		      	<article class="bucket">
		      		<div class="row">
		      			<div class="col-xs-7 col-sm-10 col-md-10">
		      				<h3 class="title">Reserve</h3>
		      				<p class="proposed">Proposed by: Fred Smith</p>
		      			</div>

		      			<div class="col-xs-5 col-sm-2 col-md-2">
		      				<p class="amount"></p>
		      			</div>
		      		</div>
		      		<div>
		      			<div class="col-xs-12 col-sm-7 col-md-7">
		      				<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
		      			</div>
		      		</div>
		      		   	<div class="clearfix"></div>
		      	</article>
		     </div>

		     <div class="hidden-xs hidden-sm col-md-4">
	      		<aside class="your_budget text-center">
      				<h4 class="name_graph">Your Budget</h4>
      				<img src="images/cobudget-pie-individual.png" class="img-responsive graph" alt="cobudget pie individual" />
      			</aside>

      			<aside class="group_budget text-center">
		      		<h4 class="name_graph">Group Budget</h4>
		      		<img src="images/cobudget-pie-group.png" class="img-responsive graph" alt="cobudget pie group" />
		      		<h5>Everything about the money history trend stuff</h5>
		      		<img src="images/cobudget-chart.png" class="img-responsive graph" alt="cobudget chart" />
		      	</aside>
      		</div>
      	</div>      	   
  	 </div>
  </body>

  <script src="js/jquery-2.0.3.js"></script>
  <script src="js/bootstrap.min.js"></script>
  
</html>