<!DOCTYPE html>

<html>
  <head>
    <title>Cobudget</title>
    <link rel="stylesheet" href="style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen"> 
  </head>

  <body>
    <div class="container">
      
      	<div class="row">
      		<div class="col-xs-12 col-sm-12 col-md-8">
		      	<article>
		      		
		      		<h3>Buy half a cow for a party</h3>
		      	</article>
		     </div>

		     <div class="hidden-xs hidden-sm col-md-4">
	      		<aside>
      				<h4>Your Budget</h4>
      			</aside>
      		</div>
      	</div>

      	<div class="row">

      		<div class="col-xs-12 col-sm-12 col-md-8">
		      	<article>
		      		<h3>Build a rocket</h3>
		      	</article>

		      	<article>
		      		<h3>Build a rocket prototype</h3>
		      	</article>

		      	<article>
	     			<h3>Reserve</h3>
	      		</article>
		    </div>


		    <div class="hidden-xs hidden-sm col-md-4">
		   		<aside>
		      		<h4>Group Budget</h4>

		      		<h5>Everything about the money history trend stuff</h5>

		      	</aside>
		    </div>
	     <div>
      
    </div>
  </body>

  <script src="js/jquery-2.0.3.js"></script>
  <script src="js/bootstrap.min.js"></script>

</html>