/* Buckets */ 
.bucket
{
	padding: 10px
}

.bucket .title
{
	margin-top: 0;
	text-decoration: underline;
	font-size: 1.5em;
	font-weight: bold;
}

.bucket .amount
{
	margin-right: 10px;
	font-weight: bold;
}

.bucket .proposed
{
	font-style: italic;
	font-size: 0.8em;
	margin-top: -10px
}


/* graph */
.name_graph
{
	font-weight: bold
}


.graph
{
	margin: auto;
}

.graph h4
{
	font-weight: bold;
	color: red;
}

/* share */ 

.container
{
	margin-top: 50px
}

.bucket, .your_budget, .group_budget
{
	border: 2px solid black;
	margin-bottom: 20px;
}