/* Buckets */ 
.bucket
{
	padding: 10px
}

.bucket .title
{
	margin-top: 0;
	text-decoration: underline;
	font-size: 1.5em;
	font-weight: bold;
}

.bucket .amount
{
	margin-right: 10px;
	font-weight: bold;
}

.bucket .proposed
{
	font-style: italic;
	font-size: 0.8em;
	margin-top: -10px
}


/* graph */
.name_graph
{
	font-weight: bold
}

.graph
{
	margin: auto;
}

.graph h4
{
	font-weight: bold;
	color: red;
}

.your_budget, .group_budget
{
	padding-bottom: 20px;
}

.group_budget h5
{
	font-style: italic;
}
/* share */ 

.container
{
	margin-top: 50px
}

.bucket, .your_budget, .group_budget
{
	border: 2px solid black;
	margin-bottom: 20px;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	-moz-box-shadow: 5px 5px rgba(0,0,0,0.7);
	-webkit-box-shadow: 5px 5px rgba(0,0,0,0.7);
	box-shadow: 5px 5px rgba(0,0,0,0.7);
}