<div class="edit-bucket-page" ng-if="authorized">
  <md-toolbar class="md-whiteframe-z1 edit-bucket-page__toolbar" layout-align="column">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" ng-click="cancel()" aria-label="cancel">
        <ng-md-icon icon="close"
          class="edit-bucket-page__cancel-icon"
          layout="column"
          layout-align="center center"
        ></ng-md-icon>
      </md-button>
      <span class="edit-bucket-page__header-text">Edit {{ bucket.status == 'draft' ? 'Idea' : 'Bucket' }}</span>
      <span flex></span>
      <md-button class="md-icon-button edit-bucket-page__done-button" aria-label="done" ng-click="done(bucketForm)" ng-autodisable>
        <div layout="column" layout-align="center center">
          <span class="edit-bucket-page__done-button-text">Done</span>
        </div>
      </md-button>
    </div>
  </md-toolbar>

  <md-content class="edit-bucket-page__content">
    <div>
      <md-subheader class="edit-bucket-page__subheader-title">You're about to edit a {{ bucket.status == 'draft' ? 'bucket idea' : 'bucket' }}</md-subheader>
    </div>

    <div>
      <md-subheader class="edit-bucket-page__subheader-text">
        You can continue to edit this {{ bucket.status == 'draft' ? 'idea' : 'bucket' }}, propose it to your peers, and get feedback.
        <span ng-if="bucket.status == 'draft'">When you're ready, you can request funding.</span>
      </md-subheader>
    </div>

    <form name='bucketForm' class="edit-bucket-page__form">
      <md-input-container>
        <label>Title</label>
        <input required name="name" type="text" ng-model="bucket.name">
        <div ng-messages="bucketForm.name.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>

      <div class="edit-bucket-page__description-container">
        <md-input-container>
          <label>Description</label>
          <textarea required name="description" ng-model="bucket.description"></textarea>
          <div ng-messages="bucketForm.description.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <a class="edit-bucket-page__markdown-link" href="https://www.loomio.org/markdown" target="_blank">formatting help</a>
      </div>

      <md-input-container>
        <label>Funding Target (required for funding)</label>
        <input ng-disabled="bucket.status != 'draft'" name="target" min="1" type="text" ng-model="bucket.target" only-digits>
        <div ng-messages="bucketForm.target.$error" multiple>
          <div ng-message="required">This is required.</div>
          <div ng-message="min">Bucket target must be greater than zero</div>
        </div>
      </md-input-container>
    </form>
  </md-content>
</div>
