<div class="landing-page" layout="column" layout-fill>
  <landing-page-toolbar></landing-page-toolbar>

  <main class="landing-page__top-content" layout="row" layout-align="center center" flex>

    <div class="landing-page__form-container" layout="column">
      <div class="" layout="row">
        <img class="landing-page__logo" ng-src="/img/logo_inline.svg" alt=""/>
        <em class="landing-page__beta">beta</em>
      </div>

      <h1 class="landing-page__form-header" id="createGroup">Collaborative funding made easy</h1>

      <!-- <h2 class="landing-page__form-subheader">Cobudget helps groups allocate funds</h2> -->

      <form class="landing-page__take-tour">
        <div class="landing-page__input-container">
          <md-button class="md-raised md-primary landing-page__tour-btn" ng-click="scrollTo('tour')">take tour</md-button>
        </div>
      </form>
    </div>

    <div class="landing-page__mobile-preview">
      <img class="landing-page__smartphone-img" src="./img/landing_laptop.png" alt="">
    </div>
  </main>

  <h1 class="landing-page__about-section-header-second-text hide-sm hide-xs">Cobudget makes it easy for organizations and groups<br> to allocate funds collaboratively and transparently.</h1>
  <h1 class="landing-page__about-section-header-second-text hide-md hide-lg">Cobudget makes it easy for organizations and groups to allocate funds collaboratively and transparently.</h1>

  <form novalidate name="emailForm" class="landing-page__form" ng-submit="emailForm.$valid && startGroup()">
    <div class="landing-page__input-container">
      <input required class="landing-page__email-field" type="email" name="email" placeholder="Email Address" ng-model="formData.email">
      <md-button class="md-raised md-primary landing-page__submit-btn" type="submit">create group</md-button>
      <div ng-if="emailForm.email.$error.required && emailForm.$submitted" class="landing-page__input-error">Email is required.</div>
      <div ng-if="emailForm.email.$error.email && emailForm.$submitted" class="landing-page__input-error">Email address must be valid.</div>
    </div>
    <p class="landing-page__signin-text">Already joined a Cobudget group? <a ng-click="redirectToLoginPage()">Sign in</a></p>
    <!-- <a ng-if="false" class="landing-page__virtual-tour-link" ng-click="openVirtualTourDialog()" href="">or take a virtual tour</a> -->
  </form>

  <div class="landing-page__about-section">
    <h1 class="landing-page__resources-section-header-text">What is Cobudget?</h1>
    <div class="landing-page__about-section-content" layout="column" flex>
      <div layout-gt-sm="row" layout-align="start start">
        <img class="landing-page__about-section-img" src="/img/how-cobudget-works.png" />

        <div>
          <!-- <p class="landing-page__about-section-subheader-text"><b>Cobudget</b> helps organisations and groups allocate funds <b>collaboratively and transparently</b>.</p> -->

          <p class="landing-page__about-section-subheader-text landing-page__about-section-subheader-text-starting">
            Cobudget is a tool and a methodology that makes resource allocation participatory. It enables all members of an organization to get involved in decision-making by proposing projects and allocating funds to the proposals they like.
          </p>


        </div>
      </div>

      <div layout="row" layout-align="center center" class="landing-page__about-section-video" id="tour">
        <iframe width="630" height="394" src="https://www.useloom.com/embed/b4d26448e1fc4d3bbf1015344e88291d" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>

      <div layout="row" layout-align="center center">
        <a href="https://greaterthan.gitbooks.io/greaterthan-s-guide-to-collaborative-finance/content/cobudget.html" target="_blank">
          <md-button class="md-raised md-primary landing-page__about-section-btn">tell me more</md-button>
        </a>
      </div>

      <div flex></div>

    </div>
  </div>

  <div class="landing-page__how-section" id="pricing">
    <h1 class="landing-page__resources-section-header-text">How do I start?</h1>
    <div class="landing-page__how-section-content" flex>
      <div layout-gt-sm="row" layout-align="start start">
        <!-- <img class="landing-page__how-section-img" src="/img/services_fran.jpg" /> -->
        <div class="landing-page__how-section-free-container" layout="column">
          <div class="landing-page__how-section-free-header">
            <h1 class="landing-page__how-section-header">Explore</h1>
            <p class="landing-page__how-section-header-info"><i>For evaluating the software</i></p>
            <h3 class="landing-page__how-section-header-price">FREE</h3>
            <md-input-container class="md-block">
              <md-button class="md-raised md-primary landing-page__how-section-free-price-cta" ng-click="scrollTo('createGroup')">create group</md-button>
            </md-input-container>
          </div>
          <div class="landing-page__how-section-price-body">
            <p><ng-md-icon icon="done" size="12"></ng-md-icon>
              Unlimited users</p>
            <p><ng-md-icon icon="done" size="12"></ng-md-icon>
              All basic Cobudget features</p>
            <p><ng-md-icon icon="done" size="12"></ng-md-icon>
              Up to 5 completed budgets (buckets)</p>
            <p><ng-md-icon icon="done" size="12"></ng-md-icon>
              Access to our open source resources</p>
          </div>
        </div>

        <div class="landing-page__how-section-paid-container" layout="column">
          <div class="landing-page__how-section-paid-header">
            <h1 class="landing-page__how-section-header">Take Off</h1>
            <p class="landing-page__how-section-header-info"><i>When you’re ready to ramp up <br> your Cobudgeting</i></p>
            <h3 class="landing-page__how-section-header-price">24,99 €/month <br>
              <small class="landing-page__how-section-header-price-sub">per group or 250 € per year</small>
            </h3>

            <md-input-container class="md-block">
              <md-button class="md-raised md-primary landing-page__how-section-paid-price-cta" ng-click="redirectToHomePageCreateGroup()">create group</md-button>
            </md-input-container>
          </div>
          <div class="landing-page__how-section-price-body">
            <p class="landing-page__how-section-price-body-header">Everything in EXPLORE, and:</p>
            <p><ng-md-icon icon="done" size="12"></ng-md-icon>
              Unlimited completed budgets (buckets)</p>
            <p><ng-md-icon icon="done" size="12"></ng-md-icon>
              Individual support</p>
            <p><ng-md-icon icon="done" size="12"></ng-md-icon>
              30 min support session with a Cobudget expert</p>
            <p><ng-md-icon icon="done" size="12"></ng-md-icon>
              Access to our curated Community of Practice</p>
          </div>
        </div>

        <div class="landing-page__how-section-enterprise-container" layout="column">
          <div class="landing-page__how-section-enterprise-header">
            <h1 class="landing-page__how-section-header">Let's Talk</h1>
            <p class="landing-page__how-section-header-info"><i>Cobudgeting with in-depth expert support</i></p>
            <h3 class="landing-page__how-section-header-price">CUSTOM</h3>
            <md-input-container class="md-block">
              <md-button class="md-raised md-primary landing-page__how-section-enterprise-price-cta" ng-click="redirectToServicesPage()">learn more</md-button>
            </md-input-container>
          </div>
          <div class="landing-page__how-section-price-body">
            <p class="landing-page__how-section-price-body-header">Everything in TAKE OFF, and:</p>
            <p><ng-md-icon icon="done" size="12"></ng-md-icon>
              Setup, onboarding assistance & user training</p>
            <p><ng-md-icon icon="done" size="12"></ng-md-icon>
              Tailored support materials</p>
            <p><ng-md-icon icon="done" size="12"></ng-md-icon>
              Innovation process diagnostic</p>
            <p><ng-md-icon icon="done" size="12"></ng-md-icon>
              Governance consulting</p>
            <p><ng-md-icon icon="done" size="12"></ng-md-icon>
              Ongoing support & facilitation</p>
            <p><ng-md-icon icon="done" size="12"></ng-md-icon>
              Custom Development</p>
            <p><ng-md-icon icon="done" size="12"></ng-md-icon>
              Usage Analytics</p>
          </div>
        </div>

        <!-- <div>
          <p class="landing-page__about-section-subheader-text landing-page__about-section-subheader-text-starting">
            The <b>Greaterthan</b> team offers services to help you get started with Cobudget and optimize it for your needs. We cater to all types of organizations, from emerging networks, to cooperatives, to corporates.
          </p>
        </div> -->
      </div>

      <div flex></div>

    </div>
  </div>

  <div class="landing-page__resources-section" id="studies">

    <h1 class="landing-page__resources-section-header-text">Organizations Using Cobudget</h1>

    <div class="landing-page__resources-section-content" layout="column" flex>
      <div layout="row" layout-align="start start">

        <img class="landing-page__resources-section-img-1" src="/img/outlandish1.jpg" />

        <div>
          <h1 class="landing-page__resources-section-subheader-text"><a href="https://stories.greaterthan.finance/investing-surplus-for-impact-cobudgeting-at-outlandish-efa9890d0d4f" target="_blank">Outlandish</a></h1>

          <p class="landing-page__resources-section-text">Outlandish is a web services consultancy and worker-owned cooperative.</p>

          <p class="landing-page__resources-section-text"><b>How do they use Cobudget?</b></p>

          <p class="landing-page__resources-section-text">To democratically distribute their dividends to everyone in the organization and make it easy for them to invest in work they care about.</p>

          <p class="landing-page__resources-section-text"><b>What type of activities do they fund?</b></p>

          <p class="landing-page__resources-section-text">New tech products and platforms, social impact projects in need of software and political activism.</p>

        </div>
      </div>

      <div flex></div>

      <div layout="row" layout-align="start start" class="landing-page__resources-section-testimonial">
        <img class="landing-page__resources-section-testimonial-img" src="/img/testimonial-brian.jpg" />
        <blockquote class="landing-page__resources-section-text landing-page__resources-section-text-blockquote">
          Pre-Cobudget, there was a lack of transparency and the authority to spend surplus was limited.
          <br><cite>- Brian Spurling, Outlandish Collaborator</cite>
        </blockquote>
      </div>

    </div>


    <div class="landing-page__resources-section-content" layout="column" flex>
      <div layout="row" layout-align="start start">

        <div>
          <h1 class="landing-page__resources-section-subheader-text"><a href="https://stories.greaterthan.finance/cobudgeting-for-member-engagement-bd1c54ed434" target="_blank">Institute for Evolutionary Leadership</a></h1>

          <p class="landing-page__resources-section-text">IEL is a consulting company and community of thought leaders working towards a more just, sustainable, and flourishing world.</p>

          <p class="landing-page__resources-section-text"><b>How do they use Cobudget?</b></p>

          <p class="landing-page__resources-section-text">To offer their member community a way to participate directly in the organization's financial decisions and empower them to fund each others workshops.</p>

          <p class="landing-page__resources-section-text"><b>What type of activities do they fund?</b></p>

          <p class="landing-page__resources-section-text">Events such as workshops and trainings, travel expenses and systemic change work.</p>

        </div>

        <img class="landing-page__resources-section-img-2" src="/img/evoleadership1.jpg" />

      </div>

      <div flex></div>

      <div layout="row" layout-align="start start" class="landing-page__resources-section-testimonial">
        <img class="landing-page__resources-section-testimonial-img" src="/img/testimonial-fedor.jpg" />
        <blockquote class="landing-page__resources-section-text landing-page__resources-section-text-blockquote">
          This technology is an enabler of new ways of doing things. Without it we would be using ugly spreadsheets.
          <br><cite>- Fyodor Ovchinnikov, Co-Founder IEL</cite>
        </blockquote>
      </div>

    </div>
    <div layout="row" layout-align="center center">
      <a href="https://stories.greaterthan.finance/tagged/cobudget" target="_blank">
        <md-button class="md-raised md-primary landing-page__resources-section-btn">more case studies</md-button>
      </a>
    </div>
  </div>


  <div class="landing-page__greaterthan-section">

    <div class="landing-page__greaterthan-section-content" layout="column" layout-align="center center">

      <a href="http://greaterthan.finance/" target="_blank"><img class="landing-page__about-section-img-greaterthan" src="/img/LOGO-HORIZONTAL_B.png" /></a>

      <div>
        <p class="landing-page__about-section-subheader-text landing-page__about-section-subheader-text-greaterthan"><b>Cobudget</b> is the flagship product of <a href="http://greaterthan.finance/" target="_blank">Greaterthan</a>. We are a venture with the mission to provide digital tools and practices for next generation organizations to collaboratively manage money and resources.</p>
      </div>
    </div>

  </div>

  <landing-page-footer></landing-page-footer>

</div>
