@import "../utils/utils"

@media screen and (min-width: 900px) 

.overview-container
  padding-left: 30px
  padding-right: 30px
  margin-top: 55px
  height: 100%
  //min-height: 800px
  background: white
  border-style: solid
  border-color: #eeeeed
  border-width: 2px
  max-width: 99%
  
  .content
    position: relative


  .title
    width: 100%
    height: 70px
    color: #49b0b7

    i
      float: left
      padding-top: 30px
      padding-right: 10px

    h1
      font-weight: 300
      font-size: 25px
      line-height: 53px
      margin-bottom: 0px
      margin-left: 50px


  #budget_overview_title_icon
    // width: 50px
    height: 50px
    float: left

  #title_underline
    width: 100%
    margin-top: 20px

  .totals.triplet

    .totals.section
      float: left
      // width: 240px
      margin-top: 10px
      margin-left: 0px

      span
      text-align: center

      .section-detail

        h5
          margin-bottom: 0px
          font-size: 70%

        span
          font-size: 19px
          font-weight: 300
          color: #49b0b7

    vr
      height: 30px

  //NOT CURRENTLY USED
  .budget-progress.triplet

    .budget-progress.section
      float: left
      // width: 240px
      text-align: center
      margin-left: 0px

      p
        font-size: 24px
        font-weight: 300
        color: #49b0b7
        margin-top: 0px

      h3
        margin-bottom: 0px
        font-size: 70%


