<div class="group-page__stats-content">

  <md-card class="group-page__stats-card">
    <md-list class="group-page__stats-list">

      <div layout="row" layout-align="start center" class="group-page__stats-subheader-container">
        <h2 class="group-page__subheader-title">Group Totals</h2>
      </div>

      <md-divider class="group-page__stats-divider"></md-divider>

      <div layout="row" layout-align="space-around center" layout-margin class="group-page-header__stats-overview-container">

        <div>

          <div layout="row" class="group-page-header__stats-overview-label">Total Unpaid&nbsp;
            <ng-md-icon icon="info"
              size="16"
            >
              <md-tooltip md-direction="top">Total value of funded, unpaid buckets</md-tooltip>
            </ng-md-icon>
          </div>
          <div layout="row" layout-align="center center" class="group-page-header__stats-overview-content" >
              <ng-md-icon icon="payment"
                class="group-page-header__funds-icon"
                  layout="column"
                  layout-align="center center"
              ></ng-md-icon>
              <div layout="column" layout-align="center center">
                <span class="group-page-header__stats-overview-amount">{{ group.readyToPayTotal | currency : group.currencySymbol : 2 }}</span>
              </div>
          </div>
        </div>

        <div>
          <div layout="row" class="group-page-header__stats-overview-label">Balance in Group&nbsp;
            <ng-md-icon icon="info"
              size="16"
            >
              <md-tooltip md-direction="top">Available funds plus funds in unpaid buckets</md-tooltip>
            </ng-md-icon>
          </div>
          <div layout="row" layout-align="center center" class="group-page-header__stats-overview-content" >
              <ng-md-icon icon="timeline"
                class="group-page-header__funds-icon"
                  layout="column"
                  layout-align="center center"
              ></ng-md-icon>
              <div layout="column" layout-align="center center">
                <span class="group-page-header__stats-overview-amount">{{ group.totalInCirculation | currency : group.currencySymbol : 2 }}</span>
              </div>
          </div>
        </div>

      </div>

    </md-list>
  </md-card>

  <div ng-if="allocationsLoaded">
    <md-card class="group-page__allocation-history-card">

      <div layout="row" layout-align="start center" class="group-page__stats-subheader-container">
        <h2 class="group-page__subheader-title">Group Transaction History</h2>
      </div>

      <md-divider class="group-page__allocation-history-subheader-divider"></md-divider>


      <div layout="row" layout-align="start center" class="group-page__allocation-chart-container">
        <highchart ng-if="allTransactions.length > 0" id="allocation-history" config="chartConfig"></highchart>
      </div>

      <md-table-container>
        <table md-table multiple ng-model="allTransactions">
          <thead md-head md-order="initialOrder">
            <tr md-row>
              <th md-column md-order-by="createdAt">Date</th>
              <th md-column md-order-by="user">Name</th>
              <th md-column md-order-by="type">Type</th>
              <th md-column md-order-by="amount">Amount ({{group.currencySymbol}})</th>
              <th md-column md-order-by="balance">Balance ({{group.currencySymbol}})</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr ng-if="allTransactions.length == 0" md-row>
              <td md-cell>No transaction history</td>
              <td md-cell></td>
              <td md-cell></td>
              <td md-cell></td>
              <td md-cell></td>
            </tr>
            <tr ng-if="allTransactions.length > 0" md-row ng-repeat="transaction in allTransactions | orderBy: initialOrder | limitTo: transactionLimit: (startingPage - 1) * transactionLimit">
              <td md-cell>{{transaction.createdAt | exactDateShort}}</td>
              <td md-cell>{{transaction.user}}</td>
              <td md-cell ng-if="transaction.type == 'Payout'" class="group-page__allocation-history-type-payout">{{transaction.type}}</td>
              <td md-cell ng-if="transaction.type == 'Allocation'" class="group-page__allocation-history-type-allocation">{{transaction.type}}</td>
              <td md-cell>{{transaction.amount | currency : group.currencySymbol : 2}}</td>
              <td md-cell>{{transaction.balance | currency : group.currencySymbol : 2}}</td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
      <md-table-pagination md-limit="transactionLimit" md-page="startingPage" md-total="{{allTransactions.length}}"></md-table-pagination>
    </md-card>
  </div>
</div>
