<div class="reset-password-page" ng-hide="userConfirmingAccount">
  <md-toolbar class="reset-password-page__toolbar">
    <h1 class="md-toolbar-tools">Reset Password</h1>
  </md-toolbar>

  <md-content layout-padding class="reset-password-page__content">

    <form novalidate name="form" ng-submit="form.$valid && resetPassword(); form.$setUntouched()">
      <md-input-container>
        <label>password</label>
        <input required minlength="10" name="password" type="password" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{10,}$/" ng-model="formData.password">

        <div ng-messages="form.password.$error" multiple>
          <div ng-message="pattern" ng-class="form.$submitted ? 'reset-password-page__input-error' : 'reset-password-page__password-help'" >
            The password must have at least:
            <ul>
              <li>one uppercase character</li>
              <li>one lowercase character</li>
              <li>one number</li>
              <li>one of theese special characters: @$!%*?&amp;</li>
              <li>must be at least 10 characters</li>
            </ul>
          </div>
          <div ng-message="required" class="reset-password-page__input-error">Password is required.</div>
        </div>
      </md-input-container>

      <md-input-container>
        <label>confirm password</label>
        <input required name="confirmPassword" type="password" ng-model="formData.confirmPassword">
        <div ng-if="!form.password.$error.pattern && formData.confirmPassword.length && formData.password != formData.confirmPassword" class="confirm-account-page__input-error">Passwords don't match.</div>
      </md-input-container>

      <md-button type="submit" class="md-raised md-primary reset-password-page__submit-btn">submit</md-button>
    </form>
  </md-content>
</div>
