<div class="reset-password-page" ng-hide="userConfirmingAccount">
  <md-toolbar class="reset-password-page__toolbar">
    <h1 class="md-toolbar-tools">Reset Password</h1>
  </md-toolbar>

  <md-content layout-padding class="reset-password-page__content">

    <form novalidate name="form" ng-submit="form.$valid && resetPassword(); form.$setUntouched()">
      <md-input-container>
        <label>password</label>
        <input required minlength="10" name="password" type="password" ng-pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{10,}$" ng-model="formData.password">
        <div ng-message="pattern" class="reset-password-page__input-error">
          The password must be at least 10 characters long and have at least one uppercase, one lowercase, one number, and one special character.
        </div>
        <div ng-messages="form.password.$error" multiple>
          <div ng-message="required" ng-if="form.password.$dirty || form.$submitted">This is required.</div>
          <div ng-message="minlength" ng-if="form.$submitted">Password must be at least 10 characters long.</div>
          
        </div>
      </md-input-container>

      <md-input-container>
        <label>confirm password</label>
        <input required name="confirmPassword" type="password" ng-model="formData.confirmPassword">
        <div ng-messages="form.confirmPassword.$error">
          <div ng-message="required" ng-if="form.confirmPassword.$dirty || form.$submitted">This is required.</div>
        </div>
      </md-input-container>

      <md-button type="submit" class="md-raised md-primary reset-password-page__submit-btn">submit</md-button>
    </form>
  </md-content>
</div>
