.reset-password-page {
  position: relative;
  height: 100%;
  background: white;
}

.reset-password-page__toolbar {
  background: $cobudget-gunmetal !important;
  color: white;
}

.reset-password-page__content {
  max-width: 640px;
  margin: 0 auto;
}

.reset-password-page__heading {
  @include fontGrande;
}

.reset-password-page__submit-btn {
  margin: 0;
  background: $cob-pink !important;
  width: 100%;
  margin-top: 10px;
}

.reset-password-page md-input-container {
  width: 100%;
}

.reset-password-page__password-help {
  font-size: 12px;
  margin-top: 5px;
  text-align: left;
  padding-left: 2px;
}

.reset-password-page__input-error {
  font-size: 12px;
  margin-top: 5px;
  color: red;
  text-align: left;
  padding-left: 2px;
}


