<div class="groups-page">

  <md-toolbar class="groups-page__toolbar">

    <div class="md-toolbar-tools groups-page__menu-bar">
      <md-button class="md-icon-button" aria-label="Settings">
        <i class="material-icons groups-page__menu-icon">menu</i>
      </md-button>
      <span class="groups-page__group-name">Enspiral</span>
      <span flex></span>
      <md-button class="md-icon-button groups-page-menu-button" aria-label="More">
        <i class="material-icons groups-page__menu-icon">more_vert</i>
      </md-button>
    </div>

    <div class="md-toolbar-tools groups-page__funds-bar">
      <div flex="50" layout="row" class="groups-page__funds-overview" >
        <div layout="column" layout-align="center center">
          <i class="material-icons groups-page__funds-icon">person</i>
        </div>
        <div layout="column" layout-align="center center">
          <span class="groups-page__funds-overview-header">Your funds</span>
          <span class="groups-page__funds-overview-amount">$3500</span>
        </div>
      </div>
      <div flex="50" layout="row" class="groups-page__funds-overview" >
        <div layout="column" layout-align="center center">
          <i class="material-icons groups-page__funds-icon">group</i>
        </div>
        <div layout="column" layout-align="center center">
          <span class="groups-page__funds-overview-header">Total funds</span>
          <span class="groups-page__funds-overview-amount">$15000</span>
        </div>
      </div>
    </div>
  </md-toolbar>

  <md-tabs class="md-accent"  md-align-tabs="top">
    <md-tab id="tab1">
      <md-tab-label>ALL PROJECTS</md-tab-label>
      <md-tab-body>
        HERES A LIST OF PROJECTS:<br>
        PROJECT<br>
        PROJECT<br>
        PROJECT<br>
        PROJECT<br>
        PROJECT<br>
        PROJECT<br>
        PROJECT<br>
        PROJECT<br>
      </md-tab-body>
    </md-tab>

    <md-tab id="tab2">
      <md-tab-label>FUNDERS</md-tab-label>
      <md-tab-body>
        HERE IS A LIST OF FUNDERS:<br>
        FUNDER<br>
        FUNDER<br>
        FUNDER<br>
        FUNDER<br>
        FUNDER<br>
        FUNDER<br>
        FUNDER<br>
        FUNDER<br>
        FUNDER<br>
      </md-tab-body>
    </md-tab>
  </md-tabs>
  
</div>