// toolbar heading

.groups-page__toolbar {
  background: $cobudget-blue;
  position: fixed;
}

.groups-page__menu-bar {
  height: $medium-height;
}

.groups-page__menu-icon {
  @include fontGrande;
}

.groups-page__group-name {
  @include fontLarge;
}

// toolbar funds 

.groups-page__funds-bar {
  height: $medium-height;
}

.groups-page__funds-overview-header {
  @include fontTiny;
}

.groups-page__funds-icon {
  @include fontGrande;
  margin-right: 10px;
}

.groups-page__funds-overview-amount {
  @include fontGrande;
}

.groups-page__tabs {
  @include fontMedium;
  background: $cobudget-blue;
  height: $medium-height;
}

.groups-page__tabs md-tabs-wrapper {
  background: $cobudget-blue;
}

.groups-page__tab-label {
  @include fontMedium;
  color: white;
}

.groups-page md-ink-bar {
  background: white;
}

// content

.groups-page__content {
  padding-bottom: 10px;
  top: calc(#{$medium-height} * 3);
}

.groups-page__subheader-title {
  color: $cobudget-blue;
}

.groups-page__help-icon {
  color: $cobudget-grey;
}

// projects

.groups-page__project-container {
  padding: 3px 0;
}

.groups-page__project-title {
  @include fontMedLarge;
}

.groups-page__project-funding {
  @include fontSmall;
  color: $grey-on-white;
}

.groups-page__progress-bar {
  margin-bottom: 10px;
}

.groups-page__progress-bar .md-container {
  background: $cobudget-grey;
}

.groups-page__progress-bar .md-bar {
  background: $cobudget-orange;
}

// drafts

.groups-page__drafts-heading {
  color: $cobudget-blue;
}

.groups-page__draft-title {
  @include fontMedLarge;
}

.groups-page__draft-author {
  @include fontSmall;
  color: $grey-on-white;
}