<div class="groups-page">

  <md-toolbar class="groups-page__toolbar">

    <div class="md-toolbar-tools groups-page__menu-bar">
      <md-button class="md-icon-button" aria-label="Settings">
        <div layout="column" layout-align="center center">
          <i class="material-icons groups-page__menu-icon">menu</i>
        </div>
      </md-button>
      <span class="groups-page__group-name">Enspiral</span>
      <span flex></span>
      <md-button class="md-icon-button groups-page-menu-button" aria-label="More">
        <div layout="column" layout-align="center center">
          <i class="material-icons groups-page__menu-icon">more_vert</i>
        </div>
      </md-button>
    </div>

    <div class="md-toolbar-tools groups-page__funds-bar">
      <div flex="50" layout="row" class="groups-page__funds-overview" >
        <div layout="column" layout-align="center center">
          <i class="material-icons groups-page__funds-icon">person</i>
        </div>
        <div layout="column" layout-align="center center">
          <span class="groups-page__funds-overview-header">Your funds</span>
          <span class="groups-page__funds-overview-amount">$3500</span>
        </div>
      </div>
      <div flex="50" layout="row" class="groups-page__funds-overview" >
        <div layout="column" layout-align="center center">
          <i class="material-icons groups-page__funds-icon">group</i>
        </div>
        <div layout="column" layout-align="center center">
          <span class="groups-page__funds-overview-header">Total funds</span>
          <span class="groups-page__funds-overview-amount">$15000</span>
        </div>
      </div>
    </div>

    <md-tabs class="groups-page__tabs" md-stretch-tabs="never">
      <md-tab>
        <md-tab-label>
          <span class="groups-page__tab-label">ALL PROJECTS</span>
        </md-tab-label>
      </md-tab>
      <md-tab>
        <md-tab-label>
          <span class="groups-page__tab-label">FUNDERS</span>
        </md-tab-label>
      </md-tab>
    </md-tabs>

  </md-toolbar>

  <md-content class="groups-page__content">

    <md-list class="groups-page__projects">

      <div layout="row">
        <md-subheader class="groups-page__subheader-title">Funding Now</md-subheader>
        <div flex></div>
        <div layout="column" layout-align="center center">
          <md-button class="md-icon-button" aria-label="Settings">
            <div layout="column" layout-align="center center">
              <i class="material-icons groups-page__help-icon">help</i>
            </div>
          </md-button>
        </div>
      </div>

      <md-list-item>
        <div layout="column" flex class="groups-page__project-container">
          <span class="groups-page__project-title">Improve remote meeting experience</span>
          <span class="groups-page__project-funding">$2300 to go</span>
          <md-progress-linear md-mode="determinate" value="10" class="groups-page__progress-bar"></md-progress-linear>
        </div>
      </md-list-item>

      <md-list-item>
        <div layout="column" flex class="groups-page__project-container">
          <span class="groups-page__project-title">Repay outstanding debts</span>
          <span class="groups-page__project-funding">$500 to go</span>
          <md-progress-linear md-mode="determinate" value="70" class="groups-page__progress-bar"></md-progress-linear>
        </div>
      </md-list-item>
      
      <md-list-item>
        <div layout="column" flex class="groups-page__project-container">
          <span class="groups-page__project-title">Enspiral Stickers!!!</span>
          <span class="groups-page__project-funding">$50 to go</span>
          <md-progress-linear md-mode="determinate" value="93" class="groups-page__progress-bar"></md-progress-linear>
        </div>
      </md-list-item>

    </md-list>

    <md-list class="groups-page__drafts">

      <div layout="row">
        <md-subheader class="groups-page__subheader-title">Drafts</md-subheader>
        <div flex></div>
        <div layout="column" layout-align="center center">
          <md-button class="md-icon-button" aria-label="Settings">
            <div layout="column" layout-align="center center">
              <i class="material-icons groups-page__help-icon">help</i>
            </div>
          </md-button>
        </div>
      </div>

      <md-list-item>
        <div layout="column" flex class="groups-page__draft-container">
          <span class="groups-page__draft-title">90 Second Enspiral Animation</span>
          <span class="groups-page__draft-author">created by Alanna Krause 10 days ago</span>
        </div>
      </md-list-item>

      <md-list-item>
        <div layout="column" flex class="groups-page__draft-container">
          <span class="groups-page__draft-title">Support Loomio crowdfunding campaign</span>
          <span class="groups-page__draft-author">created by Richard Bartlett 10 days ago</span>
        </div>
      </md-list-item>

      <md-list-item>
        <div layout="column" flex class="groups-page__draft-container">
          <span class="groups-page__draft-title">Social Enterprise Weekend</span>
          <span class="groups-page__draft-author">created by Michael 10 days ago</span>
        </div>
      </md-list-item>

      <md-list-item>
        <div layout="column" flex class="groups-page__draft-container">
          <span class="groups-page__draft-title">Laser Cutter</span>
          <span class="groups-page__draft-author">created by Eugene 8 days ago</span>
        </div>
      </md-list-item>

    </md-list>

  </md-content>

</div>