.groups-page__toolbar {
  background: $cobudget-blue;
}

.groups-page__menu-bar {
  height: $medium-height;
}

.groups-page__menu-icon {
  @include fontGrande;
  line-height: 3rem;
}

.groups-page__group-name {
  @include fontLarge;
}

.groups-page__funds-bar {
}

.groups-page__funds-overview {
  overflow: auto;
}

.groups-page__funds-overview-header {
  @include fontTiny;
}

.groups-page__funds-icon {
  @include fontGrande;
  margin-right: 10px;
}

.groups-page__funds-overview-amount {
  @include fontGrande;
}