<div class="groups-page">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Settings">
        <i class="material-icons groups-page-menu-button-icon">menu</i>
      </md-button>
      <h2>
        <span class="groups-page-menu-group-title">Enspiral</span>
      </h2>
      <span flex></span>
      <md-button class="md-icon-button groups-page-menu-button" aria-label="More">
        <i class="material-icons groups-page-menu-button-icon">more_vert</i>
      </md-button>
    </div>

    <div layout="row" class="groups-page-group-funds">
      <div flex="50">
        <i class="material-icons groups-page-group-funds-icon">person</i>
        <span>Meow</span>

      </div>
      <div flex="50">
        <i class="material-icons groups-page-group-funds-icon">group</i>      
        <span>Meow</span>
      </div>
    </div>
  </md-toolbar>
</div>