.groups-page-menu-button {
  position: relative;
  margin: 0;
  padding: 0;
}

.groups-page-menu-button-icon {
  font-size: 35px;
  line-height: 3rem;
}

.groups-page-menu-group-title {
  font-size: 20px;
}

.groups-page-group-funds {
  height: 40px;
}

.groups-page-group-funds {
}

.groups-page-group-funds-icon {
  font-size: 35px;
  margin-left: 5px;
}