// header card meta

.bucket-page__header-card {
  margin: 0;
  margin-bottom: 16px;
}

.bucket-page__meta {
  color: black;
  padding: 12px 22px;
}

.bucket-page__title {
  @include fontGrande;
  margin-top: 3px;
  margin-bottom: 10px;
  font-weight: 500;
}

.bucket-page__author {
  @include fontTiny;
  color: #838383;
}

// header card description

.bucket-page__funding-target-icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.bucket-page__funding-target-text {
  color: $cob-cyan;
  font-size: 13px;
}

.bucket-page__description {
  padding: 12px 22px;
}

.bucket-page__description-text {
  @include fontTiny;
  margin-top: 10px;
  margin-bottom: 10px;
  @include wordWrap;
  @include markdown;
}
