// header card

.bucket-page__content {
  max-width: 640px;
  margin: 0 auto;
  padding-bottom: 10px;
  top: $large-height;
}

.bucket-page__header-card {
  background: $cobudget-whitesmoke;
}

.bucket-page__header-card-content {
  margin-top: $large-height;
  background: rgba(0,0,0,0.7);
  color: white;
}

.bucket-page__title {
  @include fontGrande;
  margin-bottom: 10px;
}

.bucket-page__author {
  @include fontTiny;
  color: $cobudget-grey;
}
