.toolbar-dropdown-menu {
  margin-right: 0 !important;
}

.toolbar-dropdown-menu__btn {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: white;
  font-size: 16px;
  margin-left: 10px;
  margin-right: 5px;
  cursor: pointer;
}

.toolbar-dropdown-menu__btn-icon {
  fill: #D8D8D8;
}

.toolbar-dropdown-menu__content {
  padding: 0;
}

.toolbar-dropdown-menu__item-icon {
  fill: #454545;
  margin-right: 12px;
}
