.landing-page-footer {
  background: $cobudget-gunmetal;
  color: white;
  padding-top: 10px;
}

.landing-page-footer__content-btn {
  font-size: 15px;
  font-weight: 400;
  color: #6E6E6E !important;
  margin: 6px 12px !important;
}

.landing-page-footer__container > div {
  text-align: center;
}
