<div class="group-setup-page" ng-if="authorized">
  <md-toolbar class="md-primary group-setup-page__toolbar">
    <h1 class="md-toolbar-tools group-setup-page__heading" layout-align="center">Group setup</h1>
  </md-toolbar>

  <md-content layout-padding class="group-setup-page__content">
    <form novalidate name="newGroupForm" ng-submit="newGroupForm.$valid && setupGroup(formData)">
      <md-input-container>
        <label>name</label>
        <input required name="name" type="text" ng-model="formData.name">
        <div ng-messages="newGroupForm.name.$error" ng-if="newGroupForm.name.$dirty || newGroupForm.$submitted">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
      <md-button class="group-setup-page__submit-btn">submit</md-button>
    </form>
  </md-content>
</div>
