$nav-bar-height: 45px

$dark-base: white
$dark-base-selected: #14303A
$dark-base-cutout: #e1e2e2
$progress-bar-color: #46afb6
$header-progress-bar-color: #e35e3b

$text-on-dark-base: #A0C8CC

$funded: #84C442


$bucket-gutter: 30px

@mixin rounded($radius: 0.5em)
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  border-radius: $radius

@mixin allocatable($property)
  &.allocated, &.allocated input
    #{$property}: $funded
