<!--Showing a bucket-->
{{bucket.sponsor_id}}
{{bucket.sponsor_name_or_email}}
{{bucket.description}}

<div class="col-lg-12 bucket page" ng-if='currentBudget'>
		<div class="row bucket-detail">
            <div class="row">
              <div class="col-lg-12 header">
              	<img src="" />
                <h1 class="row">
                	This Bucket Has a Name : {{bucket.name}}
                </h1>
                <h2 class="row">
                	created by Derek Razo
                </h2>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 funding">
                <div class="col-md-1">
                	$3225 funded
                </div>
                <div class="col-md-1">
                  
                </div>
                <div class="col-md-1">
                	$5600 target
                </div>
              </div>
            </div>

            <div class="row description">
              <h4 class="row title">
              	DESCRIPTION
              </h4>

              <div class="row description details">
              	Currently the board room process can be very challenging for atendees not based in wellington. The meetings are marred with other issues as well- like loud and angry people bargining in and interupting.
              </div>
            </div>

            <div class="row contributors">
              <h4 class="col-sm-12 title">
                CONTRIBUTORS
              </h4>

              <div class="col-md-12 contributor list">

                <div class="col-md-12 item">
                  <p class="col-md-3 funding-amount">$1255</p>
                  <img class="col-md-1" src="" />
                  <p class="col-md-8 name">Derek Razo</p>
                </div>

                <div class="col-md-12 item">
                  <p class="col-md-3 funding-amount">$1255</p>
                  <img class="col-md-1" src="" />
                  <p class="col-md-8 name">Derek Razo</p>
                </div>

                <div class="col-md-12 item">
                  <p class="col-md-3 funding-amount">$1255</p>
                  <img class="col-md-1" src="" />
                  <p class="col-md-8 name">Derek Razo</p>
                </div>

                <div class="col-md-12 item">
                  <p class="col-md-3 funding-amount">$1255</p>
                  <img class="col-md-1" src="" />
                  <p class="col-md-8 name">Derek Razo</p>
                </div>

              </div>
            </div>

        </div><!--END ROW BUCKET DETAIL-->

            

</div> <!-- END OVERVIEW CONTAINER -->
