<div class="landing-page__toolbar" layout="row" layout-align="center center">
  <!-- <md-button class="md-icon-button" aria-label="menu" ng-click="">
    <ng-md-icon icon="menu"
      size="25"
      layout="column"
      layout-align="center center"
      class="landing-page__menu-icon"
    ></ng-md-icon>
  </md-button> -->
  <span flex></span>
  <div class="landing-page__login-btn" aria-label="login" ng-click="redirectToLoginPage()" layout="row" layout-align="center center">
    <span class="landing-page__login-btn-label">Log in</span>
    <div class="landing-page__toolbar-person-icon-container" layout="column" layout-align="center center">
      <ng-md-icon icon="person"
        size="21"
        class="landing-page__person-icon"
        layout="column"
        layout-align="center center"
      ></ng-md-icon>
    </div>
  </div>
</div>
