<div class="landing-page-toolbar" layout="row" layout-align="center center">
  <span flex></span>
  <div class="landing-page-toolbar__login-btn" aria-label="login" ng-if="!currentUser" ng-click="redirectToLoginPage()" layout="row" layout-align="center center">
    <span class="landing-page-toolbar__login-btn-label">Log in</span>
    <div class="landing-page-toolbar-toolbar-person-icon-container" layout="column" layout-align="center center">
      <ng-md-icon icon="person"
        size="21"
        class="landing-page-toolbar__person-icon"
        layout="column"
        layout-align="center center"
      ></ng-md-icon>
    </div>
  </div>
</div>
