<div class="confirm-account-page">

  <landing-page-toolbar></landing-page-toolbar>

  <img class="confirm-account-page__logo" src="./img/color_logo.svg" alt="Cobudget" />

  <md-content layout-padding class="confirm-account-page__content">

    <md-card class="confirm-account-page__content-card">
      <md-card-content>
        <div class="confirm-account-page__person-icon-container" layout="column" layout-align="center center">
          <ng-md-icon icon="person"
            size="60"
            class="confirm-account-page__person-icon"
            layout="column"
            layout-align="center center"
          ></ng-md-icon>
        </div>

        <h2 class="confirm-account-page__logo-subheader">First, let's set up your account</h2>
        <form novalidate class="confirm-account-page__form" name="newUserForm" ng-submit="newUserForm.$valid && confirmAccount(formData)">
          <md-input-container md-no-float class="confirm-account-page__input-field-container">
            <input required class="confirm-account-page__input-field" name="name" type="text" ng-model="formData.name" placeholder="email">
            <div ng-messages="newUserForm.name.$error" ng-if="newUserForm.name.$dirty || newUserForm.$submitted">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>

          <md-input-container md-no-float class="confirm-account-page__input-field-container">
            <input class="confirm-account-page__input-field" minlength="8" required name="password" type="password" ng-model="formData.password" placeholder="password">
            <div ng-messages="newUserForm.password.$error" multiple>
              <div ng-message="required" ng-if="newUserForm.password.$dirty || newUserForm.$submitted">This is required.</div>
              <div ng-message="minlength" ng-if="newUserForm.$submitted">Password must be at least 8 characters long.</div>
            </div>
          </md-input-container>

          <md-button class="confirm-account-page__submit-btn">next</md-button>
        </form>
      </md-card-content>
    </md-card>
  </md-content>
</div>
