.bucket-page-manage-card {
  width: 100%;
  margin: 0;
  margin-bottom: 16px;
}

.bucket-page-manage-card__content {
  padding: 5px 20px;
  padding-bottom: 15px;
}

.bucket-page-manage-card__header {
  font-size: 18px;
  margin-bottom: 12px;
  margin-top: 10px;
  font-weight: 500;
}

.bucket-page-manage-card__btn {
  fill: #4F4F4F;
  color: #4F4F4F;
  min-width: 0;
  width: 80px;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  margin-right: 10px;
  padding: 0;
  padding-top: 10px;
  border: 1px solid #C7C7C7;
}
